ul,
ol,
li,
p,
h1,h2,h3,h4,
header,
nav,
time,
figure,
figcaption {
	display: block;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body {
	_height: 1400px;
	margin: 0;

	overflow-y: scroll;
	font-size: 13px;
	font-family: Tahoma;
	background: #f7f7f7;
	box-shadow: 0 60px 60px -60px #ddd inset;
}

/* ЦВЕТОК (который добавляется, только, портя разметку, еще одним элементом)*/

.flower {
	position: absolute;
	left: 50%;
	margin-left: -580px;
	height: 291px;
	width: 1160px;
	background: url(../img/header/fon-flower.png) 0 0 no-repeat;
}


/* ТИПОГРАФИКА */

h1 {
	padding-bottom: 9px;
	border-bottom: 1px solid #dfdfdf;

	color: #474747;
	font-family: "Trebuchet MS";
	font-weight: bold;
}

h2 {
	margin: 14px 0 6px;

	font-family: "Trebuchet MS";
	font-size: 18px;
	font-weight: bold;
}

p {
	margin: 6px 0 14px;
}

input[type="text"],
textarea {
	margin-top: 8px;
	padding: 10px 18px;
	border: 1px solid #b2b2b2;

	border-radius: 3px;
}

.wrapper {
	width: 960px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}


/* ----- КАРКАС ----- */

/* ШАПКА */

/* Верх шапки */

.top-header {
	border-bottom: 1px solid #e4e4e4;

	color: #404040;
}

.top-header .wrapper {
	height: 42px;
}

.top-header a {	
	color: #404040;
	text-decoration: none;
}

.top-header a img,
.top-header div img {
	vertical-align: bottom;
	padding-right: 7px;
}

.top-header a span {
	border-bottom: 1px solid #838383;
}

/*язык*/

.top-header .lang {
	position: absolute;
	top: 14px;
	left: 5px;
}

/*онлайн-поддержка*/

.online-support {
	position: absolute;
	top: 12px;
	left: 273px;
}

/*телефон*/

.phone {
	position: absolute;
	top: 12px;
	left: 447px;
}

/*контакты*/

.contact-link {
	position: absolute;
	top: 13px;
	right: 245px;
	border-bottom: 1px solid #888;	
}

/*личный-кабинет*/

.private-enter {
	position: absolute;
	top: 12px;
	right: 22px;	
}


/* Низ шапки */

.bottom-header .wrapper {
	height: 136px;
}

/*логотип*/

.bottom-header .logo {
	position: absolute;
	top: 36px;
	left: 34px;
	display: block;
	width: 176px;
	height: 86px;

	background: url(../img/header/logo.png);
}

/*меню*/

.main-nav {
	position: absolute;
	top: 53px;
	left: 250px;
}

.main-nav li {
	float: left;
	padding: 0 25px;
}

.main-nav a {
	font-size: 14px;
	font-weight: bold;
	color: #33a05a;
	text-decoration: none;
}

/*открыть-счет*/

.bottom-header .open-accaunt {
	position: absolute;
	top: 42px;
	right: 0;
	display: inline-block;
	height: 37px;
	border: 1px solid #427f9d;
	padding-right: 31px;
	padding-left: 0;

	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0 0 1px #fff inset;
	text-shadow: 0 -1px 0 #444;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	line-height: 37px;
	background-color: #48a453;
	background-image: linear-gradient(to bottom, #4889a4 0%, #427f9d 100%);
}

.bottom-header .open-accaunt img {
	padding: 0 13px;

	vertical-align: -1px;
}

/*инфо-панель*/

.info-panel {
	height: 61px;
	width: 470px;
	position: absolute;
	top: 44px;
	left: 260px;

	color: #fff;
	font-family: Arial;
	background-image: linear-gradient(to bottom, #419c4a 0%, #34823b 100%);
	border-radius: 10px;
}

.info-panel.light {
	background: none;
	color: #4a4a4a !important;
}

.info-panel li {
	padding: 10px 0 0 16px;
	width: 101px;
	float: left;
}

.info-panel header {
	font-size: 14px;
}

.info-panel p {
	font-weight: bold;
	margin-top: 4px;
	font-size: 16px;
}

/*настройки*/

.settings-link {
	position: absolute;
	top: 56px;
	right: 45px;

	color: #419c4a;
}

.settings-link img {
	padding-right: 5px;
	vertical-align: bottom;
}

/*выйти-из-кабинета*/

.exit-link {
	position: absolute;
	top: 78px;
	right: 0;

	color: #419c4a;
}

.exit-link img {
	padding-right: 5px;
	vertical-align: bottom;
}


/* ПОДВАЛ */

.main-footer {
	height: 43px;
}

/* Копирайт */

.main-footer .copy {
	margin-top: 8px;
	margin-left: 12px;
}

/* Меню в подвале */

.footer-nav {
	position: absolute;
	right: 0;
	top: 8px;
}

.footer-nav li {
	float: left;
	padding: 0 14px;
}

.footer-nav a {
	color: #989898;
}

.footer-nav .active a {
	color: #4788a3;
}

.main-footer.not-about {
	padding-top: 10px;
	border-top: 1px solid #b4b7bd;

	box-shadow: 0 30px 30px -30px #888 inset;
}


/* ----- О КОМПАНИИ ----- */

/* СЛАЙДЕР */

.slider-wrapper {
	position: relative;
	height: 330px;
	width: 1200px;
	margin: 0 auto;
}

/* Стрелки */

.slider-wrapper .left-arrow {
	display: block;
	position: absolute;
	left: 0;
	top: 52px;
	width: 33px;
	height: 77px;

	cursor: pointer;
	background: url(../img/about/slider/arrow-left.png) center 0;
}

.slider-wrapper .right-arrow {
	display: block;
	position: absolute;
	right: 0;
	top: 52px;
	width: 33px;
	height: 77px;

	cursor: pointer;
	background: url(../img/about/slider/arrow-right.png) center 0;
}

.slider {
	height: 330px;
	width: 1020px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.slider>ul>li {
	height: 330px;
	float: left;
	position: relative;

	background: url(../img/about/slider/photo1.png) 285px 5px no-repeat;
}

/* Первый слайд */

.slider .info-client {
	position: relative;
	margin: 26px 0 0 32px;
	width: 350px;
}

.slider .info-client h1 {
	font-family: "Trebuchet MS";
	font-size: 30px;
	font-weight: bold;
}

.slider .info-client p {
	width: 300px;

	font-size: 14px;
	font-family: Tahoma;
	color: #4f4e4e;
}

.client-btn {
	display: inline-block;
	height: 60px;
	border: 1px solid #427f9d;
	padding: 0 37px;
	margin-top: 5px;

	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0 0 1px #fff inset;
	text-shadow: 0 -1px 0 #444;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	line-height: 60px;
	background-color: #48a453;
	font-family: "Trebuchet MS";
	background-image: linear-gradient(to bottom, #00b45a 0%, #009a40 100%);
}

.terms-link {
	line-height: 56px;
	color: #4caa57;
	font-size: 14px;
}

/* Список на первом слайде */

.first-slide-ul li {
}

.first-slide-ul {
	position: absolute;
	top: 26px;
	right: 2px;
}

.first-slide-ul li {
	position: relative;
	width: 230px;
	margin-bottom: 16px;
	padding: 8px 7px 0;

	border-radius: 5px
}
.first-slide-ul li:hover {
	box-shadow: 0 0 5px #ccc;
}

.first-slide-ul li:before {
	content: "";
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	border-bottom: 2px dotted #dbdbdb;
}

.first-slide-ul li:last-child:before {
	border: none;
}

.first-slide-ul li img {
	padding-left: 10px;
}

.first-slide-ul a {
	position: absolute;
	top: 16px;
	left: 92px;
	border-bottom: 1px solid #44839f;

	color: #44839f;
	font-size: 14px;
	text-decoration: none;
}

.first-slide-ul p {
	position: absolute;
	top: 32px;
	left: 92px;

	color: #727272;
	font-size: 14px;
}

/* Булеты */

.bullets {
	z-index: 1;
	position: absolute;
	bottom: 12px;
	width: 100%;

	text-align: center;
}

.bullets li {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin: 0 4px;

	cursor: pointer;
	background: #000;
	background: url(../img/about/slider/bullet.png);
}

.bullets li.active {
	background: url(../img/about/slider/bullet-active.png);
}

/* ВЕРХ КОНТЕНТА */

.top-content {
	padding-bottom: 28px;
	border-top: 1px solid #b4b7bd;

	box-shadow: 0 30px 30px -30px #888 inset;
}

/* Левый блок */

.main-info {
	width: 750px;
	padding-left: 5px;
	float: left;
}


/*преимущества*/

.benefits {
	overflow: hidden;
	margin-top: 45px;
}

.benefits figure .img {
	overflow: hidden;
	display: inline-block;
	border-radius: 12px;
}

.benefits figure {
	padding-top: 1px;
	padding-left: 2px;
	position: relative;
	width: 225px;
	float: left;
}
.benefits figure:nth-child(1) {
	padding-right: 28px;
}
.benefits figure:nth-child(2) {
	padding-right: 34px;
}

.benefits figcaption {
	margin-top: 5px;
	line-height: 18px;
}

.benefits figcaption a {
	font-size: 14px;
	color: #236f3f;
}

.benefits .new:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 46px;
	height: 42px;

	background: url(../img/about/new.png);
}


/*о-компании-и-прибыль-*/

.company-and-profit {
	overflow: hidden;
	margin-top: 26px;
}

.about-company {
	width: 350px;
	float: left;
}

.more {
	color: #8d8d8d;
}

.more img {
	vertical-align: bottom;
	padding-right: 9px;
}

.video-link {
	padding-left: 32px;

	color: #44829e;
}

.video-link img {
	vertical-align: bottom;
	padding-right: 6px;
}

.social-buttons {
	margin-top: 28px;
	display: inline-block;
	padding: 6px 0 0 6px;
	border: 1px solid #e2e2e2;

	border-radius: 4px;
	background: #fff;
}

.profit {
	margin-left: 368px;
}

.profit img {
	box-shadow: 0 0 5px #bbb;
}


/* Новости */

.news {
	margin-top: 40px;
	margin-left: 770px;
	width: 195px;
}

.news-item {
	padding-bottom: 5px;
	margin-bottom: 24px;
	border-bottom: 2px dotted #dbdbdb;
}

.news-item time {
	margin-bottom: -5px;
	color: #858585;
}

.news-item p {
	color: #565656;
}

.news-item a {
	color: #4686a2;
}

/*все-новости*/

.all-news {
	margin-top: -12px;
}

.all-news a {
	border-bottom: 1px solid #c6c6c6;
	color: #8d8d8d;
	text-decoration: none;
}

/*читать-твитер*/

.follow-twitter {
	margin-top: 13px;
}


/* НИЗ КОНТЕНТА */

.bottom-content {
	border-top: 2px solid #e8e8e8;
	border-bottom: 2px solid #e8e8e8;
	padding-bottom: 12px;

	background: #fff;
}


/* Скайп - конференция */

.skype-conference {
	padding-top: 8px;
	padding-left: 5px;
	width: 260px;
	float: left;
}

.skype-connect {
	position: absolute;
	bottom: 18px;
	left: 278px;
	display: inline-block;
	height: 37px;
	border: 1px solid #3da357;
	padding-right: 25px;
	padding-left: 4px;

	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0 0 1px #fff inset;
	text-shadow: 0 -1px 0 #444;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	line-height: 37px;
	background-color: #48a453;
	background-image: linear-gradient(to bottom, #53b25f 0%, #3e9747 100%);
}

.skype-connect img {
	padding: 0 8px;

	vertical-align: -3px;
}


/* Принимаем к оплате */

.account-payments {
	padding-top: 4px;
	margin-left: 523px;
}

.account-payments ul {
	margin-top: 18px;
}

.account-payments li {
	float: left;
	padding-right: 13px;
}


/* ----- ИСТОРИЯ ----- */

/* КОЛОНКА МЕНЮ */

.menu-col {
	float: left;
	border-top: 1px solid #dfdfdf;
	margin-top: 51px;
	padding-top: 8px;
	width: 230px;
	padding-left: 10px;

	font-family: Arial;
}

.menu-col ul {
	font-size: 14px;
}

.menu-col li {
	margin-bottom: 7px;
}

.menu-col a {
	color: #4584a0;
}

/* КОНТЕНТ */

.history-content {
	padding-top: 9px;
	margin-left: 273px;
	width: 685px;
}


/* Главный заголовок */

.history-content h1 {
	padding-bottom: 9px;
	border-bottom: 1px solid #dfdfdf;

	font-family: "Trebuchet MS";
	font-weight: bold;
}


/* После загловка */

.history-content .after-h {
	margin: 22px 0 0 5px;
}

.history-content h2 img {
	padding-left: 8px;
	vertical-align: middle;
}

.history-content p {
	font-family: Arial;
	font-size: 14px;
	font-style: italic;
}

/*выподающий-список*/

.show-list {
	float: left;
	margin-top: 4px;
	padding: 6px 18px 6px 10px;
	border: 1px solid #b2b2b2;

	border-radius: 3px;
	font-family: Tahoma;
	font-size: 18px;
}

/*кнопки*/

.history-content button {
	margin-left: 8px;
	padding: 8px 20px;
	font-family: "Trebuchet MS";
	font-size: 15px;
}

/*таблица*/

.labels {
	margin-top: 14px;
    border-collapse: collapse;
	width: 100%;
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 50px;

	font-family: Arial;
	font-size: 14px;
}

.labels td {
	padding: 14px 5px;
}

.labels tr:first-child td {
	padding: 14px 5px;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;

	background: none !important;
}

.labels tr:nth-child(2n+1) td {
	background: #eaeaea;
}

.labels .not-found {
	height: 175px;

	font-weight: bold;
	font-size: 24px;
	text-align: center;
}


/* ----- РЕФЕРАЛЫ ----- */

.refer p {
	margin-bottom: 20px;
}

/* Форма приглашения */

.refer-login {
	margin-top: -2px;
	font-size: 14px;
	font-family: Arial;
}

.refer-login .inputs {
	overflow: hidden;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.refer-login .item {
	float: left;
	padding: 13px 70px 15px 0;
}
.refer-login label {
	display: block;

	color: #6f6565;
}

.refer-login input {
	margin-top: 8px;
	padding: 10px 18px;
	width: 190px;
	border: 1px solid #b2b2b2;

	border-radius: 3px;
}

.refer-login .submit {
	margin: 20px 0;
	padding: 6px 20px;

	font-family: "Trebuchet MS";

}


/* ----- О КОМПАНИИ ----- */

/* ОСНОВНАЯ РАЗМЕТКА */

.main-content {
	margin-top: 10px;
	margin-left: 275px;
	margin-bottom: 30px;
}

.left-news {
	margin-left: 8px;
	margin-top: 68px;
	float: left;
}

.line {
	margin: 60px 0 30px;
	border-top: 1px solid #dfdfdf;
}

/* Миссия */

.mission {
	box-sizing: border-box;
	padding: 30px 0 50px 182px;
	margin: 40px 0;
	height: 140px;
	width: 675px;

	color: #fff;
	background: url(../img/in-about/mission-fon.jpg)
}

/* Улыбающиеся люди */

.people-smile {
	margin: 0 20px 0 0;
	float: left;
	border-radius: 13px;
}

/* Список */

.round-li {
	margin-top: 50px;
}

.round-li h2 {
	color: #343434;
	font-weight: normal;
}

.round-li li {
	position: relative;
	padding-left: 80px;
	min-height: 60px;
}
.round-li li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	border: 3px solid #419c4a;
	border-radius: 50%;
	
	font-family: Arial;
	font-size: 25px;
	line-height: 50px;
	color: #419c4a;
	font-weight: bold;
	text-align: center;
}
.round-li li:nth-child(1):before {
	content: "1";
}
.round-li li:nth-child(2):before {
	content: "2";
}
.round-li li:nth-child(3):before {
	content: "3";
}

/* Лого клиентов */

.about-clients {
	overflow: hidden;
}

.about-clients li {
	float: left;
	margin-right: 40px;
}

/* Преимущества */

.benefits-box {
	padding: 40px 0;
	box-shadow: 0 30px 30px -30px #888 inset;
}

.benefits-box .benefits figure {
	width: 222px;
}


/* ----- ГАРАНТИИ ----- */

.ok-li li {
	position: relative;
	padding-left: 80px;
	min-height: 60px;
}
.ok-li li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;

	background: url(../img/garant/li.png);
}


/* ----- РЕГИСТРАЦИЯ ----- */

/* Текст */

.reg p {
	color: #6f6565;
	font-style: normal;
	font-size: 13px;
}

.reg .signature {
	margin-top: -10px;
	margin-bottom: 30px;

	color: #6f6565;
	font-style: normal;
	font-size: 13px;
	font-style: italic;
}


/* Формы */

.reg-login {
	margin-top: -2px;
	font-size: 14px;
	font-family: Arial;
}

.reg-login .inputs {
	overflow: hidden;
}

.reg-login .item {
	float: left;
	padding: 13px 70px 15px 0;
}
.reg-login label {
	display: block;

	color: #6f6565;
}

.reg-login input {
	margin-top: 8px;
	padding: 10px 18px;
	width: 190px;
	border: 1px solid #b2b2b2;

	border-radius: 3px;
}

.reg-login .submit {
	margin: 20px 0;
	padding: 6px 20px;

	font-family: "Trebuchet MS";
}


/* Капча */

.captcha {
	padding: 20px 0;
	width: 100%;
	overflow: hidden;
	position: relative;

	color: #6f6565;
}

.cap-img {
	padding-top: 10px;
}

.captcha input {
	position: absolute;
	bottom: 30px;
	right: 160px;
}


/* Правила */

.rules {
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	padding: 20px 0;
}

.rules input {
	width: 20px;
}


/* ----- ВХОД ----- */


/* Формы */

.vhod-login {
	margin-top: -2px;
	font-size: 14px;
	font-family: Arial;
}

.vhod-login .inputs {
	overflow: hidden;
}

.vhod-login .item {
	padding: 13px 70px 15px 0;
}
.vhod-login label {
	display: block;

	color: #6f6565;
}

.vhod-login input {
	margin-top: 8px;
	padding: 10px 18px;
	width: 190px;
	border: 1px solid #b2b2b2;

	border-radius: 3px;
}

.vhod-login .submit {
	margin: 20px 0;
	padding: 6px 20px;

	font-family: "Trebuchet MS";
}

/* Вспомнить пароль */

.remember-pass {
	margin-left: 20px;
	border-bottom: 1px solid #3f7b99;

	color: #3f7b99;
	text-decoration: none;
}



/* ----- ПОРТФЕЛЬ ----- */


.portf h1 {
	border-bottom: 1px solid #dfdfdf;
	padding-left: 274px;

	font-weight: 600;
	color: #474747;
}

/* Список */

.portf-list {
	overflow: hidden;
	margin: 65px 0;
}

.portf-list li {
	float: left;
}

.portf-list figure {
	width: 239px;
	border-right: 1px solid #dddddd;
	overflow: hidden;
}
.portf-list li:last-child figure {
	border: none;
}

/*лэйблы*/

.portf table {
	margin-left: 20px;
}

.price-label {
	font-size: 14px;
	font-family: Arial;
	color: #484848;
}

.price {
	padding-bottom: 5px;
	font-size: 24px;
	font-weight: bold;
	font-family: Arial;
	color: #484848;
}

.portf-label {
	display: table-cell;
	font-size: 14px;
	font-family: Arial;
	color: #484848;
}

.portf-value {
	display: table-cell;
	font-size: 14px;
	font-family: Arial;
	color: #484848;
	font-weight: bold;
}


/* Сделать вклад */

.vklad-box {
	text-align: center;
}

.money-garant {
	color: #5f5f5f;
	font-family: "Trebuchet MS";
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.garant-link {
	margin-bottom: 40px;
	text-align: center;
}

.garant-link a {
	color: #457ba1;
	border-bottom: 1px solid #abbece;
	text-decoration: none;
}

.portf .line {
	margin: 30px 0;
}



/* ----- ПРАВИЛА ----- */

.rules-page .history-content p {
	font-style: normal;
}

.rules-page .line {
	margin: 30px 0;
}


/* Пополнить баланс */

.add-balance {
	margin-top: 30px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	padding: 0 24px;

	box-shadow: 0 0 10px #ddd inset;
	background: #fff;
}

.add-balance label {
	color: #6f6565;
}

#sum {
	width: 150px;
	margin: 8px 0;
	padding: 6px 18px 6px 10px;
	border: 1px solid #b2b2b2;

	border-radius: 3px;
	font-family: Tahoma;
	font-size: 18px;
}

.balance-btn {
	display: inline-block;
	height: 37px;
	width: 180px;
	border: 1px solid #3da357;
	margin-bottom: 14px;

	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0 0 1px #fff inset;
	text-shadow: 0 -1px 0 #444;
	color: #fff !important;
	font-size: 17px;
	font-weight: bold;
	line-height: 37px;
	background-color: #48a453;
	background-image: linear-gradient(to bottom, #53b25f 0%, #3e9747 100%);
}


/* ----- БАЛАНС ----- */

.balance-label {
	float: left;
	width: 230px;
	margin-right: 6px;
	padding-top: 2px;

	font-family: Arial;
	font-style: italic;
	background: url(../img/balance/dots.png) 0 13px repeat-x;
}

.balance-label span {
	padding-right: 2px;

	background: #f7f7f7;
}

.balance-value {
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: #4a4a4a;
}

.btn-right {
	margin-top: 20px;
	margin-right: 10px;
	position: relative;
	display: inline-block;
	height: 37px;
	width: 200px;
	padding-left: 20px;
	border: 1px solid #3da357;
	margin-bottom: 14px;

	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0 0 1px #fff inset;
	text-shadow: 0 -1px 0 #444;
	color: #fff !important;
	font-size: 17px;
	font-weight: bold;
	line-height: 37px;
	background-color: #48a453;
	background-image: linear-gradient(to bottom, #53b25f 0%, #3e9747 100%);
}
.btn-right img {
	position: absolute;
	top: 10px;
	left: 10px;
}

.btn-left {
	position: relative;
	display: inline-block;
	height: 37px;
	width: 200px;
	padding-left: 20px;
	border: 1px solid #427f9d;
	margin-bottom: 14px;

	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0 0 1px #fff inset;
	text-shadow: 0 -1px 0 #444;
	color: #fff !important;
	font-size: 17px;
	font-weight: bold;
	line-height: 37px;
	background-color: #48a453;
	background-image: linear-gradient(to bottom, #4889a4 0%, #427f9d 100%);
}
.btn-left img {
	position: absolute;
	top: 10px;
	left: 10px;
}

.cash .line {
	margin: 10px 0 300px 0;
}


/* Ваш баланс */

.you-balance {
	position: absolute;
	top: 80px;
	right: 0;
	width: 110px;
	padding: 0 40px;
	height: 110px;
	border-radius: 10px;

	font-family: Arial;
	background: #e7e7e7;
}

.you-balance .label {
	margin-top: 15px;

	color: #746f6f;
	font-style: italic;
}

.you-balance .value {
	color: #404040;
	font-size: 36px;
	font-weight: bold;
}

.you-balance a {
	color: #419c4a;
}


/* ----- ОБРАТНАЯ СВЯЗЬ ----- */

.write-message label {
	margin-top: 20px;
	display: block;
	font-size: 14px;
	font-family: Arial;
	color: #6f6565;
}

.write-message #topic {
	width: 180px;
}

.write-message #message {
	width: 300px;
	height: 150px;
}

.write-message .submit {
	display: block;
	width: 200px;
	height: 40px;
	margin: 20px 0;

	font-size: 15px;
	font-family: "Trebuchet MS";
	color: #4a4a4a;
}


/* Предыдущее сообщение */

.later-messages {
	margin: 30px 0;
}

.later-messages li {
	border-top: 1px solid #dfdfdf;
	padding: 5px 0 20px;
}
.later-messages li:last-child {
	border-bottom: 1px solid #dfdfdf;	
}

.no-message {
	font-family: Arial;
	font-size: 14px;
	font-style: italic;
	color: #848484;
}

.message {
	background: #ededed;
	border-radius: 10px;
	padding: 15px;
}

.message .who {
	float: left;
	width: 170px;
}

.message .who a {
	border-bottom: 1px solid #7ea982;

	text-decoration: none;
	color: #36863e;
}

.message .text-message {
	float: left;
	width: 350px;
	margin: 0;
	margin-left: 10px;

	color: #3d3d3d;
	font-family: Arial;
	font-style: italic;
}

.message time {
	font-size: 13px;
	font-family: Arial;
	font-style: italic;
	margin-left: 540px;
	color: #3d3d3d;
}


/* ----- ПРОФИЛЬ ----- */

.profile-table {
	overflow: hidden;
	float: left;
	width: 50%;
}

.profile-table .balance-label {
	width: 200px;
	padding-top: 6px;
	background-position: 0 17px;
}

.profile-table .balance-value {
	float: left;
	font-size: 14px;
	padding-top: 6px;
	max-width: 100px;
}

.profile .line {
	position: relative;
	clear: both;
}

.profile .line a {
	position: absolute;
	top: -10px;
	margin-right: 20px;
	border-bottom: 1px solid #87bb8c;

	background: #f7f7f7;
	text-decoration: none;
	color: #419c4a;
}

.pass-change {
	left: 170px;
}


/* Спонсоры */

.sponsor {
	overflow: hidden;
	margin: 40px 0;
}

.sponsor p {
	margin-top: 15px;
	margin-bottom: 2px;
	font-style: normal;
}

.sponsor-link {
	float: left;
	width: 240px;
}

.sponsor label {
	margin-top: 20px;
	display: block;

	font-family: Arial;
	font-size: 14px;
	font-style: italic;
	color: #2f2f2f;
}

.sponsor input {
	margin-bottom: 10px;
	width: 200px;
}

.sponsor a {
	border-bottom: 1px solid #87bb8c;

	background: #f7f7f7;
	text-decoration: none;
	color: #419c4a;
}

.you-sponsor {
	margin-left: 350px;
}

/* Информация о посещении */

.visit-info {
	border-top: 1px solid #dfdfdf;
	overflow: hidden;
	margin-bottom: 30px;
}

.visit-info h2 {
	margin-bottom: 20px;
}

.last-visit {
	width: 300px;
	float: left;

	font-family: Arial;
}

.last-visit .label {
	margin-top: 10px;
	font-style: italic;
}

.history-visit {
	overflow: hidden;
	margin-left: 350px;

	font-family: Arial;
}

.history-visit .label {
	margin-top: 10px;
	font-style: italic;
}

.history-visit .value {
	font-weight: bold;
}


/* ----- ВКЛАД ----- */

.buttons a {
	margin-right: 10px;
	display: inline-block;
	height: 37px;
	border: 1px solid #427f9d;
	padding-right: 18px;
	padding-left: 0;

	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0 0 1px #fff inset;
	text-shadow: 0 -1px 0 #444;
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	line-height: 37px;
	background-color: #48a453;
	background-image: linear-gradient(to bottom, #4889a4 0%, #427f9d 100%);
}

.buttons a img {
	padding: 0 13px;

	vertical-align: -3px;
}

.buttons .new-vklad {
	border-color: #799d42;
	background-color: #94b152;
	background-image: linear-gradient(to bottom, #94b152 0%, #73973e 100%);
}

.buttons .up-vklad {
	border-color: #429d98;
	background-color: #52b1a3;
	background-image: linear-gradient(to bottom, #52b1a3 0%, #3e9794 100%);
}

.buttons .join-vklad {
	border-color: #42849d;
	background-color: #52a0b1;
	background-image: linear-gradient(to bottom, #52a0b1 0%, #3e7d97 100%);
}

.vklad .labels {
	margin-top: 30px;
}


/* ----- КОНТАКТЫ ----- */

.feedback-form label {
	display: block;
	margin-top: 10px;
	font-family: Arial;
	color: #6f6565;
}

.feedback-form #text {
	height: 120px;
}

.feedback-form .submit {
	width: 170px;
	height: 35px;
	font-size: 15px;
	font-family: Arial;
	margin-top: 10px;
}

/* Список контактов */

.contact-ul {
	overflow: hidden;
	border-bottom: 1px solid #dfdfdf;
}

.contact-ul li {
	margin: 25px 0;
	float: left;
	width: 180px;
	padding-left: 30px;
	padding-right: 15px;
}
.contact-ul li:nth-child(1) {
	background: url(../img/contacts/mail.png) 0 6px no-repeat;
}
.contact-ul li:nth-child(2) {
	background: url(../img/contacts/phone.png) 0 6px no-repeat;
}
.contact-ul li:nth-child(3) {
	background: url(../img/contacts/skype.png) 0 6px no-repeat;
}

.contact-ul .name {
	font-size: 18px;
	font-family: "Trebuchet MS";
}

.contact-ul .description {
	font-size: 13px;
	font-family: Arial;
	color: #6f6565;
}

.contacts .line {
	margin: 30px 0;
}


/* Команда */

.persone {
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #dfdfdf;
}

.persone .photo {
	width: 120px;
	float: left;
}

.persone .info {
	float: left;
	width: 200px;
}

.persone .info .name {
	font-size: 17px;
	font-family: Arial;
	font-weight: bold;
	color: #474747;
}

.persone .info .job {
	margin-bottom: 25px;

	font-size: 14px;
	font-family: Arial;
	font-style: italic;
	color: #474747;
}

.persone .info a {
	color: #3e7998;
	text-decoration: none;
	border-bottom: 1px solid #799db2;
}

.persone .text {
	margin-left: 330px;
	color: #626262;
	font-family: Arial;
}