body {
	margin: 0;
	color: #555;
	font-family: Roboto;
	background: #FFFAFA;
	padding-bottom: 140px;
}


/* GRID */

.content {
	text-align: center;
	font-size: 0;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.menu-col {
	box-sizing: border-box;
	width: 250px;
	padding: 0 10px;
	float: left;
}

.content-col {
	box-sizing: border-box;
	width: 950px;
	padding: 0 10px;
	float: left;
}

.col50p {
	box-sizing: border-box;
	width: 50%;
	padding: 0 10px;
	float: left;
}

.col {
	box-sizing: border-box;
	width: 400px;
	padding: 0 10px;
	float: left;
}

.col2 {
	box-sizing: border-box;
	width: 800px;
	padding: 0 10px;
	font-size: 16px;
	float: left;
}

.content-g {
	text-align: center;
	font-size: 0;
	width: 1047px;
	margin: 0 auto;
	overflow: hidden;
}

.col-g-s {
	box-sizing: border-box;
	width: 400px;
	padding: 0 10px;
	float: left;
}

.col-g-b {
	box-sizing: border-box;
	width: 647px;
	padding: 0 10px;
	font-size: 16px;
	float: left;
	text-align: left;
}

.col-middle {
	width: 400px;
	padding: 0 10px;
	font-size: 16px;
	margin: 0 auto;
	text-align: left;
}

.wrapper {
	width: 1200px;
	margin: 100px auto;
}


/* HEADER */

.logo img {
	width: 160px;
}

.logo h1 {
	font-weight: normal;
	font-size: 22px;
	margin: 0;
	margin-bottom: 3px;
	/*opacity: .8;*/
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.main-menu {
	margin: 0;
	padding: 0;
}

.main-menu li {
	display: block;
}

.main-menu a {
	color: #555;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .1em;
	text-decoration: none;
	line-height: 20px;
	display: block;
}

.main-menu li.active a span {
	font-weight: 700;
}


/* PROJECTS */

#projects .preview {
	display: block;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	font-size: 0;
}

#projects .preview:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background: rgba(0, 0, 0, 0);
	transition: all 1s;
}

#projects .preview:hover:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background: rgba(0, 0, 0, .4);
	transition: all .4s;
}

#projects .preview img {
	width: 100%;
}

#projects .preview:hover p {
	opacity: 1;
}

#projects .preview p {
	font-size: 24px;
	margin: 0;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	color: #fff;
	line-height: 50px;
	z-index: 1;
	transition: .4s .4s;
	text-align: center;
	transform: translateY(-50%);
	opacity: 0;
}

.show-more {
	clear: both;
	padding-top: 20px;
}

.show-more button {
	display: inline-block;
	padding: 10px 60px;
	/*background: rgba(85, 85, 85, .2);*/
	border: 1px solid rgba(85, 85, 85, .5);
	color: #555;
	text-decoration: none;
	font-weight: 400;
	width: auto;
	background: none;
	cursor: pointer;
	transition: all 0.2s;
	font-family: Roboto;
	font-size: 16px;
}

.show-more button:hover {
	border: 1px solid rgba(85, 85, 85, 1);
	color: #000;
}


/* ABOUT */

#about {
	/*background: #000;*/
}

#about .content-col img {
	margin-left: 0;
	width: 100%;
}

#about .quote {
	padding-left: 18px;
	font-size: 30px;
	position: relative;
	font-weight: 900;
	line-height: 1.1;
}

#about .quote:before {
	content: "❝";
	position: absolute;
	left: 0;
	opacity: .5;
}

#about .quote:after {
	content: "❞";
	opacity: .5;
}

#about .quote-author {
	margin-top: 3px;
	font-size: 18px;
	opacity: .5;
	padding-left: 18px;
}

#about p {
	padding-left: 18px;
	font-size: 20px;
	font-weight: 300;
	margin: 16px 0 20px;
}

#about .col50p a {
	margin-left: 18px;
	display: inline-block;
	padding: 10px 20px;
	/*background: rgba(85, 85, 85, .2);*/
	border: 1px solid rgba(85, 85, 85, .5);
	color: #555;
	text-decoration: none;
	font-weight: 400;
	transition: all 0.2s;
}

#about .col50p a:hover {
	border: 1px solid rgba(85, 85, 85, 1);
	color: #000;
}


/* CONTACT */

#contact .content-col {
	background: #eee;
}

#contact h2 {
	font-size: 30px;
	margin: 20px 0 0;
	text-align: center;
	line-height: 1.2;
}

#contact .email {
	font-size: 16px;
	margin-bottom: 25px;
	text-align: center;
}

#contact .email a {
	color: #08f;
	transition: all 0.2s;
}

#contact .email a:hover {
	color: #4af;
}

#contact input,
#contact textarea {
	box-sizing: border-box;
	padding: 10px 15px;
	width: 400px;
	margin-bottom: 25px;
	font-size: 16px;
	font-family: Roboto;
	border: 1px solid rgba(85, 85, 85, .5);
}

#contact textarea {
	height: 150px;
}

#contact .submit {
	display: block;
	padding: 10px 20px;
	/*background: rgba(85, 85, 85, .2);*/
	border: 1px solid rgba(85, 85, 85, .5);
	color: #555;
	text-decoration: none;
	font-weight: 400;
	width: auto;
	background: none;
	cursor: pointer;
	transition: all 0.2s;
	width: 400px;
}

#contact .submit:hover {
	border: 1px solid rgba(85, 85, 85, 1);
	color: #000;
}

#contact .col-middle {
	font-size: 0;
}