@import url(normalize.css);
body {
  font-size: 15px;
  color: #333;
  font-family: "Open Sans"; }

ul {
  padding: 0;
  margin: 0; }

li {
  display: block; }

.wrapper {
  max-width: 1200px;
  width: auto;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 15px; }
  .wrapper.with-columns {
    padding: 0; }
  .wrapper:after {
    content: "";
    display: block;
    clear: both; }
  @media (max-width: 1200px) {
    .wrapper {
      width: 992px; } }
  @media (max-width: 992px) {
    .wrapper {
      width: 768px; } }
  @media (max-width: 768px) {
    .wrapper {
      width: auto; } }

.col-1 {
  width: 8.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-2 {
  width: 16.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-3 {
  width: 25%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-4 {
  width: 33.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-5 {
  width: 41.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-6 {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-7 {
  width: 58.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-8 {
  width: 66.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-9 {
  width: 75%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10 {
  width: 83.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-11 {
  width: 91.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-12 {
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10-1 {
  width: 10%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10-2 {
  width: 20%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10-3 {
  width: 30%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10-4 {
  width: 40%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10-5 {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10-6 {
  width: 60%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10-7 {
  width: 70%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10-8 {
  width: 80%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10-9 {
  width: 90%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10-10 {
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.main-footer {
  background: url(../img/map.png) 50% -80px; }
  .main-footer .feedback-subsection {
    overflow: hidden;
    padding: 80px 0;
    border-bottom: 1px solid #444;
    position: relative; }
    .main-footer .feedback-subsection:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: rgba(59, 137, 201, 0.8); }
    .main-footer .feedback-subsection .wrapper {
      position: relative;
      z-index: 2; }
    .main-footer .feedback-subsection .call-to-action {
      color: #fff;
      font-size: 34px;
      margin: 0 0 15px;
      font-weight: 100; }
    .main-footer .feedback-subsection .form-part {
      padding: 0 15px;
      width: 50%;
      box-sizing: border-box;
      float: left; }
      .main-footer .feedback-subsection .form-part input,
      .main-footer .feedback-subsection .form-part textarea {
        width: 100%;
        border: 1px solid #1d4464;
        border: 1px solid #fff;
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 15px;
        font-family: "Open Sans";
        margin-bottom: 10px;
        line-height: 22px;
        background: white;
        color: #333; }
        .main-footer .feedback-subsection .form-part input:focus,
        .main-footer .feedback-subsection .form-part textarea:focus {
          outline: none; }
      .main-footer .feedback-subsection .form-part textarea {
        height: 130px; }
      .main-footer .feedback-subsection .form-part .send-btn {
        padding: 5px 30px;
        line-height: 22px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        text-decoration: none;
        display: inline-block;
        transition: .2s; }
    .main-footer .feedback-subsection .contact-info {
      padding: 0 15px;
      width: 33.333%;
      margin-left: 40px;
      float: left;
      box-sizing: border-box;
      color: #fff; }
      .main-footer .feedback-subsection .contact-info .email:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 20px;
        background: url("../img/mail.svg");
        background-size: 18px;
        vertical-align: -4px;
        margin-right: 5px; }
      .main-footer .feedback-subsection .contact-info .phone:before {
        content: "";
        display: inline-block;
        width: 19px;
        height: 19px;
        background: url("../img/phone.svg");
        background-size: 19px;
        vertical-align: middle;
        margin-right: 2px; }
      .main-footer .feedback-subsection .contact-info .email,
      .main-footer .feedback-subsection .contact-info .phone {
        line-height: 1;
        margin-bottom: 10px;
        font-weight: 600; }
      .main-footer .feedback-subsection .contact-info .address-link {
        margin-top: 28px;
        display: block;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        transition: color .2s; }
        .main-footer .feedback-subsection .contact-info .address-link .address-text {
          border-bottom: 1px solid rgba(255, 255, 255, 0);
          transition: .2s; }
        .main-footer .feedback-subsection .contact-info .address-link:hover .address-text {
          border-bottom: 1px solid #fff; }
        .main-footer .feedback-subsection .contact-info .address-link:active {
          color: rgba(255, 255, 255, 0.7); }
          .main-footer .feedback-subsection .contact-info .address-link:active .address-text {
            border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
        .main-footer .feedback-subsection .contact-info .address-link .map-img {
          display: block;
          margin-top: 5px; }
  .main-footer .footer-links-subsection {
    padding: 50px 0;
    position: relative; }
    .main-footer .footer-links-subsection:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: rgba(0, 0, 0, 0.96); }
    .main-footer .footer-links-subsection .wrapper {
      position: relative;
      z-index: 2; }
    .main-footer .footer-links-subsection .footer-menu a {
      color: #fff; }

body:not(#home-page) .main-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .main-nav .logo {
    position: absolute;
    top: 0;
    left: 18px;
    margin: 5px 0;
    font-size: 0; }
    .main-nav .logo svg {
      fill: #fff;
      width: 140px;
      height: 50px; }
  .main-nav ul {
    text-align: right;
    font-size: 0; }
    .main-nav ul li {
      display: inline-block;
      margin: 15px 0; }
      .main-nav ul li.active span {
        border-bottom: 1px solid white; }
      .main-nav ul li a {
        font-size: 15px;
        color: #fff;
        line-height: 28px;
        padding: 0 10px;
        display: block;
        text-decoration: none;
        transition: .2s;
        border-radius: 4px; }
      .main-nav ul li:not(.active) a:hover {
        background: rgba(255, 255, 255, 0.15); }
      .main-nav ul li:not(.active) a:active {
        background: rgba(255, 255, 255, 0.26); }
      .main-nav ul li.contact-link {
        padding-left: 10px; }
        .main-nav ul li.contact-link a {
          border: 1px solid #fff;
          border-radius: 4px;
          box-sizing: border-box;
          line-height: 26px;
          background: rgba(255, 255, 255, 0.1);
          position: relative; }
          .main-nav ul li.contact-link a:hover {
            background: rgba(255, 255, 255, 0.22); }
          .main-nav ul li.contact-link a:active {
            background: rgba(255, 255, 255, 0.37); }
          .main-nav ul li.contact-link a:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -11px;
            display: block;
            right: 0; }
  .main-nav.dark {
    background: #3b89c9; }

.hero-title {
  background: url(../img/hero-img.png);
  background-size: 2000px;
  background-position: 50% -530px;
  overflow: hidden; }
  .hero-title h1 {
    color: #fff;
    font-size: 50px;
    line-height: 55px;
    font-weight: 800;
    margin: 140px 0 100px;
    text-align: center; }

#home-page .logo-section {
  margin: 100px 0 0; }
#home-page .galery-section {
  margin-top: 110px; }

.hero-section {
  background: url(../img/hero-img.png);
  background-size: 2000px;
  background-position: 50% -530px;
  overflow: hidden; }
  .hero-section h1 {
    color: #fff;
    font-size: 50px;
    line-height: 55px;
    font-weight: 800;
    margin: 170px 0 130px; }
  .hero-section .short-facts {
    position: absolute;
    top: 10px;
    right: 0;
    color: #fff;
    padding: 0;
    margin: 0;
    width: 312px; }
    .hero-section .short-facts li {
      width: 156px;
      float: left;
      padding-bottom: 17px; }
      .hero-section .short-facts li .fact-data {
        font-size: 20px;
        font-weight: 800; }
  .hero-section .tag-list-subsection {
    border-top: 1px solid #fff;
    font-size: 0;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.7); }
    .hero-section .tag-list-subsection .tag-list {
      display: inline-block;
      padding: 5px 0; }
      .hero-section .tag-list-subsection .tag-list:not(:last-child) {
        padding-right: 25px; }
      .hero-section .tag-list-subsection .tag-list .tags-header {
        font-size: 15px;
        color: #fff;
        font-weight: 400;
        display: inline-block;
        margin: 0;
        line-height: 26px; }
      .hero-section .tag-list-subsection .tag-list ul {
        display: inline-block; }
        .hero-section .tag-list-subsection .tag-list ul li {
          display: inline-block; }
  .hero-section .services-subsection ul li span,
  .hero-section .technologies-subsection ul li span {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    border: 1px solid #fff;
    display: block;
    padding: 0 12px;
    border-radius: 4px;
    margin-left: 6px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    transition: .2s; }
    .hero-section .services-subsection ul li span:after,
    .hero-section .technologies-subsection ul li span:after {
      content: "";
      position: absolute;
      top: -6px;
      bottom: -6px;
      left: -4px;
      display: block;
      right: -4px; }

.portfolio-preview-section {
  overflow: hidden;
  position: relative; }
  .portfolio-preview-section:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    /* background: radial-gradient(
    			ellipse at center,
    			rgba(#3b89c9, 1) 0,rgba(#3b89c9, .2) 70%); */
    background-position-y: 0;
    background-size: 100% 1000px;
    height: 500px; }
    @media (max-width: 1200px) {
      .portfolio-preview-section:after {
        background-size: 100% 858px;
        height: 429px; } }
    @media (max-width: 992px) {
      .portfolio-preview-section:after {
        background-size: 100% 706px;
        height: 353px; } }
  .portfolio-preview-section .project-images {
    border-bottom: 1px solid #ddd; }
    .portfolio-preview-section .project-images .project-img {
      padding: 0 15px;
      float: left;
      width: 33.333%;
      box-sizing: border-box;
      font-size: 0; }
      .portfolio-preview-section .project-images .project-img img {
        margin-top: 122px;
        width: 100%; }
  .portfolio-preview-section .project {
    padding: 0 15px;
    float: left;
    width: 33.333%;
    box-sizing: border-box; }
    .portfolio-preview-section .project .project-name {
      font-size: 20px;
      margin: 0;
      margin-top: 15px;
      font-weight: 800; }
    .portfolio-preview-section .project .short-description {
      margin: 4px 0 0;
      color: #555; }
  .portfolio-preview-section .projects-btn-block {
    text-align: center;
    padding-top: 30px; }
    .portfolio-preview-section .projects-btn-block .projects-btn {
      color: #3b89c9;
      border: 1px solid #3b89c9;
      display: inline-block;
      text-decoration: none;
      font-size: 15px;
      line-height: 26px;
      padding: 0 12px;
      border-radius: 4px;
      margin-left: 6px;
      font-size: 15px;
      transition: .2s; }
      .portfolio-preview-section .projects-btn-block .projects-btn:hover {
        color: #296494;
        border: 1px solid #296494;
        background: rgba(59, 137, 201, 0.07); }
      .portfolio-preview-section .projects-btn-block .projects-btn:active {
        color: #173854;
        border: 1px solid #173854;
        background: rgba(59, 137, 201, 0.14); }

.logo-section {
  background: #f8f8f8;
  border: 1px solid #dddddd; }
  .logo-section ul {
    text-align: center; }
    .logo-section ul li {
      display: inline-block;
      padding: 20px 10px; }

.testimonials-preview-section {
  padding: 40px 0 0; }
  .testimonials-preview-section .testimonials-slider {
    position: relative;
    width: 500px;
    margin: 0 auto; }
    .testimonials-preview-section .testimonials-slider .slick-arrow {
      position: absolute;
      font-size: 0;
      background: none;
      outline: none;
      border: none;
      top: 0;
      width: 150px;
      height: 100%;
      cursor: pointer;
      transition: .2s; }
      .testimonials-preview-section .testimonials-slider .slick-arrow:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        border: 2px solid #ddd;
        border-left: none;
        border-bottom: none;
        left: 50%;
        top: 50%;
        margin-top: -23px;
        transition: .2s; }
      .testimonials-preview-section .testimonials-slider .slick-arrow:hover:after {
        border-color: #aaa; }
      .testimonials-preview-section .testimonials-slider .slick-arrow:active:after {
        border-color: #666; }
    .testimonials-preview-section .testimonials-slider .slick-prev {
      left: -150px; }
      .testimonials-preview-section .testimonials-slider .slick-prev:after {
        margin-left: -30px;
        transform: rotate(225deg); }
    .testimonials-preview-section .testimonials-slider .slick-next {
      right: -150px; }
      .testimonials-preview-section .testimonials-slider .slick-next:after {
        margin-left: -25px;
        transform: rotate(45deg); }
    .testimonials-preview-section .testimonials-slider .slick-dots {
      display: none !important; }
    .testimonials-preview-section .testimonials-slider li {
      position: relative;
      padding-left: 130px; }
      .testimonials-preview-section .testimonials-slider li .ava {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        border-radius: 50%;
        font-size: 0; }
      .testimonials-preview-section .testimonials-slider li .text {
        font-size: 20px;
        font-weight: bold;
        position: relative;
        line-height: 24px;
        color: #333; }
        .testimonials-preview-section .testimonials-slider li .text:before, .testimonials-preview-section .testimonials-slider li .text:after {
          color: #999; }
        .testimonials-preview-section .testimonials-slider li .text:before {
          content: open-quote;
          position: absolute;
          top: 6px;
          font-size: 40px;
          left: -21px; }
        .testimonials-preview-section .testimonials-slider li .text:after {
          content: close-quote;
          margin-left: 4px;
          font-size: 40px;
          line-height: 0px;
          vertical-align: -13px; }
      .testimonials-preview-section .testimonials-slider li .customer-info {
        color: #888;
        margin-top: 6px; }

.galery-section {
  overflow: hidden;
  padding-bottom: 110px; }
  .galery-section ul {
    cursor: grab; }
  .galery-section .slick-slide {
    padding: 0 5px; }
  .galery-section .slick-arrow {
    display: none !important; }
  .galery-section .slick-dots {
    display: none !important; }

.projects-preview-section {
  margin: 85px 0; }
  .projects-preview-section .project {
    width: 33.333%;
    padding: 0 15px;
    float: left;
    margin: 25px 0;
    box-sizing: border-box; }
    .projects-preview-section .project .poject-view.border {
      outline: 1px solid #ddd; }
    .projects-preview-section .project .poject-view img {
      width: 100%; }
    .projects-preview-section .project a {
      color: #3b89c9;
      font-size: 20px;
      display: block;
      text-decoration: none;
      margin-top: 8px;
      font-weight: bold; }
      .projects-preview-section .project a span {
        border-bottom: 2px solid #b3d1ea; }
      .projects-preview-section .project a:hover {
        color: #286190; }
        .projects-preview-section .project a:hover span {
          border-bottom: 2px solid #77adda; }
      .projects-preview-section .project a:active {
        color: #173854; }
        .projects-preview-section .project a:active span {
          border-bottom: 2px solid #286190; }
    .projects-preview-section .project p {
      margin: 8px 0 0; }

#project-page {
  padding: 50px 0 0; }

.breadcrumb {
  margin-top: 80px; }
  .breadcrumb a {
    color: #3b89c9;
    position: relative;
    z-index: 1;
    transition: .2s; }
    .breadcrumb a:hover {
      color: #22537c; }
    .breadcrumb a:active {
      color: #0c1e2c; }

.project-name {
  font-size: 50px;
  font-weight: 800;
  margin: 0; }

.project-short-description {
  max-width: 66.666%;
  font-size: 20px;
  margin-top: 10px;
  color: #777; }

.project-info {
  padding-top: 50px; }
  .project-info .collaboration,
  .project-info .technology-stack {
    width: 27%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box; }
    .project-info .collaboration h2,
    .project-info .technology-stack h2 {
      font-size: 15px;
      margin: 0; }
    .project-info .collaboration ul,
    .project-info .technology-stack ul {
      font-size: 0; }
      .project-info .collaboration ul li,
      .project-info .technology-stack ul li {
        display: inline-block; }
        .project-info .collaboration ul li span,
        .project-info .technology-stack ul li span {
          color: #3b89c9;
          text-decoration: none;
          font-size: 15px;
          line-height: 26px;
          border: 1px solid #3b89c9;
          display: block;
          padding: 0 12px;
          border-radius: 4px;
          margin-right: 6px;
          margin-top: 6px;
          position: relative;
          transition: .2s;
          cursor: default; }
          .project-info .collaboration ul li span:after,
          .project-info .technology-stack ul li span:after {
            content: "";
            position: absolute;
            top: -6px;
            bottom: -6px;
            left: -4px;
            display: block;
            right: -4px; }
  .project-info .technology-stack {
    width: 48%; }
  .project-info .time-efford {
    width: 25%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box; }
    .project-info .time-efford h2 {
      font-size: 15px;
      margin: 0; }
    .project-info .time-efford p {
      margin: 0 0 14px;
      color: #777; }
  .project-info .screenshoots-and-text {
    padding-top: 50px;
    padding-bottom: 70px; }
    .project-info .screenshoots-and-text .screenshoots {
      width: 66.66%;
      box-sizing: border-box;
      padding: 0 15px;
      float: left; }
      .project-info .screenshoots-and-text .screenshoots .slick-arrow {
        display: none !important; }
      .project-info .screenshoots-and-text .screenshoots .slick-dots {
        display: none !important; }
      .project-info .screenshoots-and-text .screenshoots img {
        width: 100%; }
      .project-info .screenshoots-and-text .screenshoots .screenshoots-preview-list .slick-list {
        margin: 0 -2px; }
        .project-info .screenshoots-and-text .screenshoots .screenshoots-preview-list .slick-list .slick-slide {
          padding: 4px 2px;
          cursor: pointer;
          position: relative;
          outline: none; }
          .project-info .screenshoots-and-text .screenshoots .screenshoots-preview-list .slick-list .slick-slide.slick-current:after {
            content: "";
            position: absolute;
            top: 4px;
            right: 2px;
            bottom: 4px;
            left: 2px;
            z-index: 2;
            background: rgba(0, 122, 255, 0.5); }
    .project-info .screenshoots-and-text .project-text {
      width: 25%;
      box-sizing: border-box;
      padding: 0 15px;
      float: left; }
      .project-info .screenshoots-and-text .project-text p {
        margin: 0 0 14px; }

#services-page {
  /* CHARTS */ }
  #services-page canvas {
    width: 140px;
    height: 140px; }
  #services-page input.khob {
    font-family: "Open Sans" !important;
    font-size: 20px !important;
    text-align: right !important;
    margin-top: 38px !important;
    margin-left: -153px !important;
    font-weight: 800 !important; }
  #services-page .progress-bar.horizontal-pb {
    width: 100%;
    height: 40px;
    background-color: #eee; }
    #services-page .progress-bar.horizontal-pb .idicator {
      height: 100%;
      width: 50%;
      background-color: #0577BD; }
    #services-page .progress-bar.horizontal-pb .label {
      font-weight: bold;
      color: #fff;
      line-height: 40px;
      margin-left: 10px; }
  #services-page .progress-bar.vertical-pb {
    width: 270px;
    height: 200px;
    background-color: transparent;
    position: relative; }
    #services-page .progress-bar.vertical-pb .idicator {
      height: 40%;
      width: 100%;
      background-color: #0577BD;
      position: absolute;
      bottom: 0; }
    #services-page .progress-bar.vertical-pb .label {
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      color: #fff;
      font-weight: bold; }

.services-with-short-description {
  padding: 70px 0;
  border-bottom: 1px solid #ddd; }
  .services-with-short-description h2 {
    margin: 0 0 18px;
    font-weight: 100;
    font-size: 34px;
    text-align: center; }
  .services-with-short-description .service {
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
    @media (max-width: 992px) {
      .services-with-short-description .service {
        width: 100% !important;
        float: none; }
        .services-with-short-description .service:not(:last-child) {
          padding-bottom: 40px; } }
    .services-with-short-description .service h3 {
      margin: 12px 0 4px;
      font-size: 20px; }
    .services-with-short-description .service p {
      margin: 0; }

.main-services-section .service {
  width: 25%; }
  .main-services-section .service.web-development h3 {
    color: #3b89c9; }
  .main-services-section .service.mobile h3 {
    color: #ed6d23; }
  .main-services-section .service.ui-ux h3 {
    color: #c52929; }
  .main-services-section .service.qa h3 {
    color: #692c91; }

.process-services-section .service {
  width: 50%; }
  .process-services-section .service .chart {
    height: 150px;
    background: red;
    position: relative; }
  .process-services-section .service.scrum h3 {
    color: #3b89c9; }
  .process-services-section .service.kanban h3 {
    color: #ed6d23; }

.models-services-section .service {
  width: 33.333%; }
  .models-services-section .service .chart {
    height: 150px;
    background: red;
    position: relative; }
  .models-services-section .service.team h3 {
    color: #3b89c9; }
  .models-services-section .service.mvp h3 {
    color: #ed6d23; }
  .models-services-section .service.cycle h3 {
    color: #c52929; }

.contract-types-section {
  padding: 70px 0;
  border-bottom: 1px solid #ddd; }
  .contract-types-section h2 {
    margin: 0 0 18px;
    font-weight: 100;
    font-size: 34px; }
  .contract-types-section h3 {
    margin: 12px 0 4px;
    font-size: 20px;
    text-align: center; }
  .contract-types-section p {
    margin: 0; }
  .contract-types-section .time-materials h3 {
    color: #3b89c9; }
  .contract-types-section .fixed-price h3 {
    color: #ed6d23; }

.technologies-services-section {
  background: #f8f8f8;
  border-bottom: 1px solid #dddddd;
  padding: 70px 0; }
  .technologies-services-section h2 {
    margin: 0 0 18px;
    font-weight: 100;
    font-size: 34px;
    text-align: center; }
  .technologies-services-section h3 {
    margin: 12px 0 4px;
    font-size: 20px; }
  .technologies-services-section ul {
    font-size: 0; }
    .technologies-services-section ul li {
      display: inline-block; }
      .technologies-services-section ul li span {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        line-height: 26px;
        display: block;
        padding: 1px 13px;
        border-radius: 4px;
        margin-right: 6px;
        margin-bottom: 6px;
        position: relative;
        transition: .2s; }
        .technologies-services-section ul li span:after {
          content: "";
          position: absolute;
          top: -6px;
          bottom: -6px;
          left: -4px;
          display: block;
          right: -4px; }
  .technologies-services-section p {
    margin: 4px 0 0; }
  .technologies-services-section .experts-in h3 {
    color: #3b89c9; }
  .technologies-services-section .experts-in span {
    background: #3b89c9; }
  .technologies-services-section .key-stack h3 {
    color: #ed6d23; }
  .technologies-services-section .key-stack span {
    background: #ed6d23; }
  .technologies-services-section .other-tech h3 {
    color: #c52929; }
  .technologies-services-section .other-tech span {
    background: #c52929; }

.verticals-section {
  padding: 70px 0; }
  .verticals-section h2 {
    margin: 0 0 18px;
    font-weight: 100;
    font-size: 34px;
    text-align: center; }
  .verticals-section h3 {
    margin: 12px 0 4px;
    font-size: 20px;
    text-align: center; }
  .verticals-section .global-hr h3 {
    color: #3b89c9; }
  .verticals-section .fintech h3 {
    color: #ed6d23; }
  .verticals-section .ecommerce h3 {
    color: #c52929; }
  .verticals-section .entertainment h3 {
    color: #692c91; }
  .verticals-section .other h3 {
    color: #f9a823; }

.clients-section {
  padding: 70px 0;
  text-align: center; }
  .clients-section .clients-chart {
    width: 230px;
    display: inline-block;
    padding: 0 15px;
    box-sizing: border-box;
    vertical-align: top; }
    .clients-section .clients-chart input {
      opacity: 0; }
  .clients-section .clients-description {
    width: 240px;
    display: inline-block;
    padding: 0 15px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left; }
  .clients-section .clients-text {
    width: 330px;
    display: inline-block;
    padding: 0 15px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left; }
    @media (max-width: 992px) {
      .clients-section .clients-text {
        width: 270px; } }
  .clients-section .startups-description:before {
    background: #3b89c9; }
  .clients-section .mid-size-description:before {
    background: #f9a823; }
  .clients-section canvas {
    width: 200px !important;
    height: 200px !important; }
  .clients-section p {
    margin: 0; }
  .clients-section ul li {
    padding-bottom: 10px; }
    .clients-section ul li:before {
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      margin-right: 4px;
      vertical-align: -1px; }
    .clients-section ul li span {
      font-weight: bold; }

/*# sourceMappingURL=style.css.map */
