@import url(normalize.css);
body {
  font-size: 15px;
  color: #333; }

ul {
  padding: 0;
  margin: 0; }

li {
  display: block; }

.wrapper {
  max-width: 1200px;
  width: auto;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 15px; }
  .wrapper.with-columns {
    padding: 0; }
  .wrapper:after {
    content: "";
    display: block;
    clear: both; }
  @media (max-width: 1200px) {
    .wrapper {
      width: 992px; } }
  @media (max-width: 992px) {
    .wrapper {
      width: 768px; } }
  @media (max-width: 768px) {
    .wrapper {
      width: auto; } }

.main-footer {
  background: url(../img/map.png) 50% -80px; }
  .main-footer .feedback-subsection {
    overflow: hidden;
    padding: 80px 0;
    border-bottom: 1px solid #444;
    position: relative; }
    .main-footer .feedback-subsection:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: rgba(0, 0, 0, 0.7); }
    .main-footer .feedback-subsection .wrapper {
      position: relative;
      z-index: 2; }
    .main-footer .feedback-subsection .form-part {
      padding: 0 15px;
      width: 50%;
      box-sizing: border-box;
      float: left; }
      .main-footer .feedback-subsection .form-part input,
      .main-footer .feedback-subsection .form-part textarea {
        width: 100%;
        border: 1px solid #fff;
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 15px;
        font-family: "Open Sans";
        margin-bottom: 10px;
        line-height: 22px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff; }
        .main-footer .feedback-subsection .form-part input:focus,
        .main-footer .feedback-subsection .form-part textarea:focus {
          outline: none; }
      .main-footer .feedback-subsection .form-part textarea {
        height: 130px; }
      .main-footer .feedback-subsection .form-part .send-btn {
        padding: 5px 30px;
        line-height: 22px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        text-decoration: none;
        display: inline-block;
        transition: .2s; }
        .main-footer .feedback-subsection .form-part .send-btn:hover {
          background: #3076b0; }
        .main-footer .feedback-subsection .form-part .send-btn:active {
          background: #296494; }
    .main-footer .feedback-subsection .contact-info {
      padding: 0 15px;
      width: 33.333%;
      margin-left: 40px;
      float: left;
      box-sizing: border-box;
      color: #fff; }
      .main-footer .feedback-subsection .contact-info .email:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 20px;
        background: url("../img/mail.svg");
        background-size: 18px;
        vertical-align: middle;
        margin-right: 5px; }
      .main-footer .feedback-subsection .contact-info .phone:before {
        content: "";
        display: inline-block;
        width: 19px;
        height: 19px;
        background: url("../img/phone.svg");
        background-size: 19px;
        vertical-align: middle;
        margin-right: 2px; }
      .main-footer .feedback-subsection .contact-info .email,
      .main-footer .feedback-subsection .contact-info .phone {
        line-height: 1;
        margin-bottom: 10px;
        font-weight: 600; }
      .main-footer .feedback-subsection .contact-info .address-link {
        margin-top: 28px;
        display: block;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        transition: color .2s; }
        .main-footer .feedback-subsection .contact-info .address-link .address-text {
          border-bottom: 1px solid rgba(255, 255, 255, 0);
          transition: .2s; }
        .main-footer .feedback-subsection .contact-info .address-link:hover .address-text {
          border-bottom: 1px solid #fff; }
        .main-footer .feedback-subsection .contact-info .address-link:active {
          color: rgba(255, 255, 255, 0.7); }
          .main-footer .feedback-subsection .contact-info .address-link:active .address-text {
            border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
        .main-footer .feedback-subsection .contact-info .address-link .map-img {
          display: block;
          margin-top: 5px; }
  .main-footer .footer-links-subsection {
    padding: 50px 0;
    position: relative; }
    .main-footer .footer-links-subsection:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: rgba(0, 0, 0, 0.96); }
    .main-footer .footer-links-subsection .wrapper {
      position: relative;
      z-index: 2; }
    .main-footer .footer-links-subsection .footer-menu a {
      color: #fff; }

body:not(#home-page) .main-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .main-nav .logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 0;
    font-size: 0; }
    .main-nav .logo .logo-svg {
      fill: #fff;
      width: 150px;
      height: 50px; }
  .main-nav ul {
    text-align: right;
    font-size: 0; }
    .main-nav ul li {
      display: inline-block;
      margin: 15px 0; }
      .main-nav ul li.active span {
        border-bottom: 1px solid white; }
      .main-nav ul li a {
        font-size: 15px;
        color: #fff;
        line-height: 28px;
        padding: 0 10px;
        display: block;
        text-decoration: none;
        transition: .2s;
        border-radius: 4px; }
      .main-nav ul li:not(.active) a:hover {
        background: rgba(255, 255, 255, 0.15); }
      .main-nav ul li:not(.active) a:active {
        background: rgba(255, 255, 255, 0.26); }
      .main-nav ul li.contact-link {
        padding-left: 10px; }
        .main-nav ul li.contact-link a {
          border: 1px solid #fff;
          border-radius: 4px;
          box-sizing: border-box;
          line-height: 26px;
          background: rgba(255, 255, 255, 0.1);
          position: relative; }
          .main-nav ul li.contact-link a:hover {
            background: rgba(255, 255, 255, 0.22); }
          .main-nav ul li.contact-link a:active {
            background: rgba(255, 255, 255, 0.37); }
          .main-nav ul li.contact-link a:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -11px;
            display: block;
            right: 0; }
  .main-nav.dark {
    border-bottom: 1px solid #dddddd !important; }
    .main-nav.dark .logo .logo-svg {
      fill: #3b89c9; }
    .main-nav.dark ul li.active span {
      border-bottom: 1px solid #3b89c9; }
    .main-nav.dark ul li a {
      color: #3b89c9; }
    .main-nav.dark ul li:not(.active) a:hover {
      background: rgba(59, 137, 201, 0.15); }
    .main-nav.dark ul li:not(.active) a:active {
      background: rgba(59, 137, 201, 0.26); }
    .main-nav.dark ul li.contact-link a {
      border: 1px solid #3b89c9; }
      .main-nav.dark ul li.contact-link a:hover {
        background: rgba(59, 137, 201, 0.1); }
      .main-nav.dark ul li.contact-link a:active {
        background: rgba(59, 137, 201, 0.22); }

.hero-title {
  background: url(../img/hero-img.png);
  background-size: 2000px;
  background-position: 50% -530px;
  overflow: hidden; }
  .hero-title h1 {
    color: #fff;
    font-size: 50px;
    line-height: 55px;
    font-weight: 800;
    margin: 140px 0 100px;
    text-align: center; }

#home-page .logo-section {
  margin: 100px 0 0; }
#home-page .galery-section {
  margin-top: 110px; }

.hero-section {
  background: url(../img/hero-img.png);
  background-size: 2000px;
  background-position: 50% -530px;
  overflow: hidden; }
  .hero-section h1 {
    color: #fff;
    font-size: 50px;
    line-height: 55px;
    font-weight: 800;
    margin: 170px 0 130px; }
  .hero-section .tag-list-subsection {
    border-top: 1px solid #fff;
    font-size: 0;
    padding: 10px 0;
    text-align: justify;
    background: rgba(0, 0, 0, 0.7); }
    .hero-section .tag-list-subsection .wrapper:after {
      content: "";
      width: 100%;
      display: inline-block; }
    .hero-section .tag-list-subsection .tag-list {
      display: inline-block;
      padding: 5px 0; }
      .hero-section .tag-list-subsection .tag-list .tags-header {
        font-size: 15px;
        color: #fff;
        font-weight: 400;
        display: inline-block;
        margin: 0;
        line-height: 26px; }
      .hero-section .tag-list-subsection .tag-list ul {
        display: inline-block; }
        .hero-section .tag-list-subsection .tag-list ul li {
          display: inline-block; }
  .hero-section .services-subsection ul li span,
  .hero-section .technologies-subsection ul li span {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    border: 1px solid #fff;
    display: block;
    padding: 0 12px;
    border-radius: 4px;
    margin-left: 6px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    transition: .2s; }
    .hero-section .services-subsection ul li span:after,
    .hero-section .technologies-subsection ul li span:after {
      content: "";
      position: absolute;
      top: -6px;
      bottom: -6px;
      left: -4px;
      display: block;
      right: -4px; }

.portfolio-preview-section {
  overflow: hidden;
  position: relative; }
  .portfolio-preview-section:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    /* background: radial-gradient(
    			ellipse at center,
    			rgba(#3b89c9, 1) 0,rgba(#3b89c9, .2) 70%); */
    background-position-y: 0;
    background-size: 100% 1000px;
    height: 500px; }
    @media (max-width: 1200px) {
      .portfolio-preview-section:after {
        background-size: 100% 858px;
        height: 429px; } }
    @media (max-width: 992px) {
      .portfolio-preview-section:after {
        background-size: 100% 706px;
        height: 353px; } }
  .portfolio-preview-section .project-images {
    border-bottom: 1px solid #ddd; }
    .portfolio-preview-section .project-images .project-img {
      padding: 0 15px;
      float: left;
      width: 33.333%;
      box-sizing: border-box;
      font-size: 0; }
      .portfolio-preview-section .project-images .project-img img {
        margin-top: 122px;
        width: 100%; }
  .portfolio-preview-section .project {
    padding: 0 15px;
    float: left;
    width: 33.333%;
    box-sizing: border-box; }
    .portfolio-preview-section .project .project-name {
      font-size: 20px;
      margin: 0;
      margin-top: 15px;
      font-weight: 800; }
    .portfolio-preview-section .project .short-description {
      margin: 4px 0 0;
      color: #555; }
  .portfolio-preview-section .projects-btn-block {
    text-align: center;
    padding-top: 30px; }
    .portfolio-preview-section .projects-btn-block .projects-btn {
      color: #3b89c9;
      border: 1px solid #3b89c9;
      display: inline-block;
      text-decoration: none;
      font-size: 15px;
      line-height: 26px;
      padding: 0 12px;
      border-radius: 4px;
      margin-left: 6px;
      font-size: 15px;
      transition: .2s; }
      .portfolio-preview-section .projects-btn-block .projects-btn:hover {
        color: #296494;
        border: 1px solid #296494;
        background: rgba(59, 137, 201, 0.07); }
      .portfolio-preview-section .projects-btn-block .projects-btn:active {
        color: #173854;
        border: 1px solid #173854;
        background: rgba(59, 137, 201, 0.14); }

.logo-section {
  background: #f8f8f8;
  border: 1px solid #dddddd; }
  .logo-section ul {
    text-align: center; }
    .logo-section ul li {
      display: inline-block;
      padding: 20px 10px; }

.testimonials-preview-section {
  padding: 40px 0 0; }
  .testimonials-preview-section .testimonials-slider {
    position: relative;
    width: 500px;
    margin: 0 auto; }
    .testimonials-preview-section .testimonials-slider .slick-arrow {
      position: absolute;
      font-size: 0;
      background: none;
      outline: none;
      border: none;
      top: 0;
      width: 150px;
      height: 100%;
      cursor: pointer;
      transition: .2s; }
      .testimonials-preview-section .testimonials-slider .slick-arrow:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        border: 2px solid #ddd;
        border-left: none;
        border-bottom: none;
        left: 50%;
        top: 50%;
        margin-top: -23px;
        transition: .2s; }
      .testimonials-preview-section .testimonials-slider .slick-arrow:hover:after {
        border-color: #aaa; }
      .testimonials-preview-section .testimonials-slider .slick-arrow:active:after {
        border-color: #666; }
    .testimonials-preview-section .testimonials-slider .slick-prev {
      left: -150px; }
      .testimonials-preview-section .testimonials-slider .slick-prev:after {
        margin-left: -30px;
        transform: rotate(225deg); }
    .testimonials-preview-section .testimonials-slider .slick-next {
      right: -150px; }
      .testimonials-preview-section .testimonials-slider .slick-next:after {
        margin-left: -25px;
        transform: rotate(45deg); }
    .testimonials-preview-section .testimonials-slider .slick-dots {
      display: none !important; }
    .testimonials-preview-section .testimonials-slider li {
      position: relative;
      padding-left: 130px; }
      .testimonials-preview-section .testimonials-slider li .ava {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        border-radius: 50%;
        font-size: 0; }
      .testimonials-preview-section .testimonials-slider li .text {
        font-size: 20px;
        font-weight: bold;
        position: relative;
        line-height: 24px;
        color: #333; }
        .testimonials-preview-section .testimonials-slider li .text:before, .testimonials-preview-section .testimonials-slider li .text:after {
          color: #999; }
        .testimonials-preview-section .testimonials-slider li .text:before {
          content: open-quote;
          position: absolute;
          top: 6px;
          font-size: 40px;
          left: -21px; }
        .testimonials-preview-section .testimonials-slider li .text:after {
          content: close-quote;
          margin-left: 4px;
          font-size: 40px;
          line-height: 0px;
          vertical-align: -13px; }
      .testimonials-preview-section .testimonials-slider li .customer-info {
        color: #888;
        margin-top: 6px; }

.galery-section {
  overflow: hidden;
  padding-bottom: 110px; }
  .galery-section ul {
    cursor: grab; }
  .galery-section .slick-slide {
    padding: 0 5px; }
  .galery-section .slick-arrow {
    display: none !important; }
  .galery-section .slick-dots {
    display: none !important; }

.projects-preview-section {
  margin: 85px 0; }
  .projects-preview-section .project {
    width: 33.333%;
    padding: 0 15px;
    float: left;
    margin: 25px 0;
    box-sizing: border-box; }
    .projects-preview-section .project .poject-view.border {
      outline: 1px solid #ddd; }
    .projects-preview-section .project .poject-view img {
      width: 100%; }
    .projects-preview-section .project a {
      color: #3b89c9;
      font-size: 20px;
      display: block;
      text-decoration: none;
      margin-top: 8px;
      font-weight: bold; }
      .projects-preview-section .project a span {
        border-bottom: 2px solid #b3d1ea; }
      .projects-preview-section .project a:hover {
        color: #286190; }
        .projects-preview-section .project a:hover span {
          border-bottom: 2px solid #77adda; }
      .projects-preview-section .project a:active {
        color: #173854; }
        .projects-preview-section .project a:active span {
          border-bottom: 2px solid #286190; }
    .projects-preview-section .project p {
      margin: 8px 0 0; }

#project-page {
  padding: 50px 0 0; }

.breadcrumb {
  margin-top: 80px; }
  .breadcrumb a {
    color: #3b89c9; }

.project-name {
  font-size: 50px;
  font-weight: 800;
  margin: 0; }

.project-short-description {
  max-width: 66.666%;
  font-size: 20px;
  margin-top: 10px;
  color: #777; }

.project-info {
  padding-top: 50px; }
  .project-info .collaboration {
    width: 33.333%;
    float: left;
    padding: 0 15px; }
    .project-info .collaboration h2 {
      font-size: 15px;
      margin: 0; }
    .project-info .collaboration ul {
      font-size: 0; }
      .project-info .collaboration ul li {
        display: inline-block; }
        .project-info .collaboration ul li a {
          color: #3b89c9;
          text-decoration: none;
          font-size: 15px;
          line-height: 26px;
          border: 1px solid #3b89c9;
          display: block;
          padding: 0 12px;
          border-radius: 4px;
          margin-right: 6px;
          margin-top: 6px;
          position: relative;
          transition: .2s; }
          .project-info .collaboration ul li a:hover {
            background: rgba(59, 137, 201, 0.1); }
          .project-info .collaboration ul li a:active {
            background: rgba(59, 137, 201, 0.2); }
          .project-info .collaboration ul li a:after {
            content: "";
            position: absolute;
            top: -6px;
            bottom: -6px;
            left: -4px;
            display: block;
            right: -4px; }
  .project-info .time-efford h2 {
    font-size: 15px;
    margin: 0; }
  .project-info .time-efford p {
    margin: 0 0 14px;
    color: #777; }
  .project-info .screenshoots-and-text {
    padding-top: 50px;
    padding-bottom: 70px; }
    .project-info .screenshoots-and-text .screenshoots {
      width: 66.66%;
      box-sizing: border-box;
      padding: 0 15px;
      float: left; }
      .project-info .screenshoots-and-text .screenshoots .slick-arrow {
        display: none !important; }
      .project-info .screenshoots-and-text .screenshoots .slick-dots {
        display: none !important; }
      .project-info .screenshoots-and-text .screenshoots img {
        width: 100%; }
      .project-info .screenshoots-and-text .screenshoots .screenshoots-preview-list .slick-list {
        margin: 0 -2px; }
        .project-info .screenshoots-and-text .screenshoots .screenshoots-preview-list .slick-list .slick-slide {
          padding: 4px 2px;
          cursor: pointer;
          position: relative;
          outline: none; }
          .project-info .screenshoots-and-text .screenshoots .screenshoots-preview-list .slick-list .slick-slide.slick-current:after {
            content: "";
            position: absolute;
            top: 4px;
            right: 2px;
            bottom: 4px;
            left: 2px;
            z-index: 2;
            background: rgba(0, 122, 255, 0.5); }
    .project-info .screenshoots-and-text .project-text {
      width: 33.33%;
      box-sizing: border-box;
      padding: 0 15px;
      float: left; }
      .project-info .screenshoots-and-text .project-text p {
        margin: 0 0 14px; }

.main-services-section .main-service {
  width: 25%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }
  .main-services-section .main-service .circle {
    width: 150px;
    height: 150px;
    background: red;
    border-radius: 50%;
    position: relative; }
    .main-services-section .main-service .circle:after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 120px;
      height: 120px;
      margin: -60px 0 0 -60px;
      background: #fff;
      content: "";
      border-radius: 50%; }
  .main-services-section .main-service h3 {
    margin: 0; }
  .main-services-section .main-service p {
    margin: 0; }

/*# sourceMappingURL=style.css.map */
