@import "pages/main-page";
@import "pages/dev-page";
@import "pages/model-page";

@import "common/mixins";
@import "common/grid";
@import "common/theme";

@import "grid/grid";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Hind:400,300,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ywmr2x');
	src:url('../fonts/icomoon.eot?#iefixywmr2x') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ywmr2x') format('woff'),
		url('../fonts/icomoon.ttf?ywmr2x') format('truetype'),
		url('../fonts/icomoon.svg?ywmr2x#icomoon') format('svg');
}

body,
html {
	height: 100%;
	font-family: Hind;
}

.icomoon {
	font-family: "icomoon";
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
