@import "pages/main-page";
@import "pages/dev-page";
@import "pages/model-page";

@import "grid/grid";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Hind:400,300,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ywmr2x');
	src:url('../fonts/icomoon.eot?#iefixywmr2x') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ywmr2x') format('woff'),
		url('../fonts/icomoon.ttf?ywmr2x') format('truetype'),
		url('../fonts/icomoon.svg?ywmr2x#icomoon') format('svg');
}

@brand: #fa225b;

body,
html {
	height: 100%;
	font-family: Hind;
}

.icomoon {
	font-family: "icomoon";
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


@front-size: 200px;


.front {
	@svg-size: 200px;
	
	position: relative;
	text-align: center;
	padding: 50px;
	display: inline-block;
	
	.wrapper {
		width: @svg-size;
		height: @svg-size;
		position: relative;
		
		img {
			width: 100%;
		}
		
		.bottom {
			position: absolute;
			bottom: -45px;
			left: 0;
			right: 0;
			overflow: hidden;
			font-size: 30px;
			font-weight: 300;
			font-family: Roboto;
			
			.l {
				position: absolute;
				top: 20px;
				left: 0;
				right: 50%;
				margin-right: 40px;
				border-bottom: 1px solid #fff;
				
				&:after {
					content: "";
					position: absolute;
					left: 0;
					height: 26px;
					top: -13px;
					border-right: 1px solid #fff;
				}
			}
			
			.num {
				display: block;
				text-align: center;
			}
			
			.r {
				position: absolute;
				top: 20px;
				left: 50%;
				margin-left: 40px;
				right: 0;
				border-bottom: 1px solid #fff;
				
				&:after {
					content: "";
					position: absolute;
					right: 0;
					height: 26px;
					top: -13px;
					border-right: 1px solid #fff;
				}
			}
		}
		
		.right {
			position: absolute;
			right: -55px;
			top: 0;
			bottom: 0;
			font-size: 30px;
			font-weight: 300;
			font-family: Roboto;
			line-height: @svg-size;
			
			
			.t {
				position: absolute;
				right: 20px;
				left: 0;
				top: 0;
				bottom: 50%;
				margin-bottom: 25px;
				width: 1px;
				border-right: 1px solid #fff;
				
				&:after {
					content: "";
					position: absolute;
					top: 0;
					width: 26px;
					right: -13px;
					border-top: 1px solid #fff;
				}
			}
			
			.num {
				display: block;
				text-align: center;
				margin-left: -16px;
			}
			
			.b {
				position: absolute;
				right: 20px;
				left: 0;
				top: 50%;
				bottom: 0;
				width: 1px;
				margin-top: 25px;
				border-right: 1px solid #fff;
				
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					width: 26px;
					right: -13px;
					border-top: 1px solid #fff;
				}
			}
		}
	}
}

@flang-size: 300px;

.flang {
	@svg-size: 200px;
	
	position: relative;
	text-align: center;
	padding: 50px;
	display: inline-block;
	
	.wrapper {
		width: @svg-size;
		height: @svg-size;
		position: relative;
		
		img {
			width: 100%;
		}
		
		.bottom {
			position: absolute;
			bottom: -45px;
			left: 0;
			right: 0;
			overflow: hidden;
			font-size: 30px;
			font-weight: 300;
			font-family: Roboto;
			
			.l {
				position: absolute;
				top: 20px;
				left: 0;
				right: 50%;
				margin-right: 40px;
				border-bottom: 1px solid #fff;
				
				&:after {
					content: "";
					position: absolute;
					left: 0;
					height: 26px;
					top: -13px;
					border-right: 1px solid #fff;
				}
			}
			
			.num {
				display: block;
				text-align: center;
			}
			
			.r {
				position: absolute;
				top: 20px;
				left: 50%;
				margin-left: 40px;
				right: 0;
				border-bottom: 1px solid #fff;
				
				&:after {
					content: "";
					position: absolute;
					right: 0;
					height: 26px;
					top: -13px;
					border-right: 1px solid #fff;
				}
			}
		}
		
		.right {
			position: absolute;
			right: -55px;
			top: 0;
			bottom: 0;
			font-size: 30px;
			font-weight: 300;
			font-family: Roboto;
			line-height: @svg-size;
			
			
			.t {
				position: absolute;
				right: 20px;
				left: 0;
				width: 1px;
				top: 0;
				bottom: 50%;
				margin-bottom: 25px;
				border-right: 1px solid #fff;
				
				&:after {
					content: "";
					position: absolute;
					top: 0;
					width: 26px;
					right: -13px;
					border-top: 1px solid #fff;
				}
			}
			
			.num {
				display: block;
				text-align: center;
				margin-left: -16px;
			}
			
			.b {
				position: absolute;
				right: 20px;
				left: 0;
				width: 1px;
				top: 50%;
				bottom: 0;
				margin-top: 25px;
				border-right: 1px solid #fff;
				
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					width: 26px;
					right: -13px;
					border-top: 1px solid #fff;
				}
			}
		}
	}
}