body {
	margin: 0;
	font-family: "Roboto";
}

$brand-red: #e23237;

/* ____________________________________________________________________ */
/* GRID */

$col-space: 20px;
$col-number: 12;

$gal-col-space: 10px;

.row {

	& > * {
		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

@for $i from 1 through $col-number {

	.col-#{$i} {
		width: (100%/$col-number)*$i;
		box-sizing: border-box;
		float: left;
		padding: {
			left: $col-space/2;
			right: $col-space/2;
		}

		@media (max-width: 600px) {
			width: 100%;
			padding: 0;
		}
	}
}

@for $i from 1 through $col-number {

	.gal-col-#{$i} {
		width: (100%/$col-number)*$i;
		box-sizing: border-box;
		float: left;
		padding: {
			left: $gal-col-space/2;
			right: $gal-col-space/2;
		}

		@media (max-width: 600px) {
			width: 100%;
			padding: 0;
		}
	}
}

@for $i from 1 through $col-number {

	.tablet-col-#{$i} {

		@media (max-width: 840px) {
			width: (100%/$col-number)*$i;
			box-sizing: border-box;
			float: left;
			padding: {
				left: $gal-col-space/2;
				right: $gal-col-space/2;
			}
		}
	}
}

/* ____________________________________________________________________ */
/* TYPOGRAPHY */

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h2 {
	text-align: center;
	color: $brand-red;
	font-weight: 900;
	position: relative;
	margin: 70px 0 25px;
	font-size: 32px;

	@media (max-width: 840px) {
		font-size: 28px;
	}

	span {
		background: #fff;
		position: relative;
		z-index: 1;
		padding: 0 20px;
	}

	&:after {
		content: "";
		border-bottom: 2px solid #ddd;
		top: 23px;
		left: 0;
		right: 0;
		display: block;
		position: absolute;
	}
}

h3 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;

	@media (max-width: 840px) {
		font-size: 20px;
	}
}

h4 {
	font-size: 16px;
	margin: 0;
	font-weight: bold;
}

p {
	margin: 0;
}

img {
	width: 100%;
	display: block;
}

/* ____________________________________________________________________ */
/* CONTENT */

.content {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 80px 20px;
	box-sizing: border-box;
}

h1 {
	font-size: 50px;
	font-family: Oswald;
	margin: 0;

	@media (max-width: 840px) {
		font-size: 40px;
	}

	@media (max-width: 600px) {
		font-size: 34px;
	}

	.major {
		display: block;
		background: $brand-red;
		color: #fff;
		text-transform: uppercase;

		&:after {
			content: "|";
			z-index: -1;
			position: absolute;
			top: 80px;
			left: 0;
			right: 0;
			background: $brand-red;
			color: $brand-red;
			display: block;
		}
	}

	.minor {
		text-transform: none;
		font-weight: 100;
		opacity: .7;
	}
}

.ava-col {

	@media (max-width: 840px) {
		display: none;
	}
}

// TECHNICAL

.technical-skills {

	h3 {
		margin-top: 17px;
		margin-bottom: 6px;
	}

	.technical-header {
		margin-top: -8px;
		margin-bottom: 10px;
	}

	.mandatory,
	.desirable,
	.optional {

		.col-content {
			padding: 16px 20px;
			height: 132px;
		}
	}

	.mandatory .col-content {
		background: #e8e8e8;
	}

	.desirable .col-content {
		background: #eeeeee;
	}

	.optional .col-content {
		background: #f6f6f6;
	}
}

.logo-wrapper {

	@media (max-width: 600px) {
		text-align: center;
	}

	.logo {
		width: auto;
		margin-top: 17px;

		@media (max-width: 840px) {
			width: 100%;
		}

		@media (max-width: 600px) {
			width: auto;
			display: inline-block;
			margin-bottom: 10px;
			margin-top: 0;
		}
	}
}

// GALLERY

.gallery {

	img {

		@media (max-width: 600px) {
			margin-bottom: 10px;
		}
	}

	.gallery1 {
		height: 400px;
		overflow: hidden;

		@media (max-width: 980px) {
			height: 300px;
		}

		@media (max-width: 800px) {
			height: 220px;
		}

		@media (max-width: 600px) {
			height: auto;
		}
	}

	.gallery2 {
		height: 310px;
		overflow: hidden;

		@media (max-width: 980px) {
			height: 240px;
		}

		@media (max-width: 800px) {
			height: 170px;
		}

		@media (max-width: 600px) {
			height: auto;
		}
	}

	.row {
		margin-bottom: 10px;

		@media (max-width: 600px) {
			margin-bottom: 0;
		}
	}
}

.call-to-action {
	padding: 30px 40px;
	border: 2px solid $brand-red;
	text-align: center;
	margin: 30px 0 50px;
	font-size: 32px;
	font-weight: 900;
	color: $brand-red;

	.minor {
		font-weight: 400;
	}

	a {
		color: $brand-red;
	}

	@media (max-width: 600px) {
		font-size: 22px;
		padding: 30px 10px;
	}
}