body {
	margin: 0;
}

.new-banner {
	position: relative;
	width: 957px;
	height: 292px;
	border: 1px solid #559734;

	text-align: center;
	font-family: Verdana;
}

/* БЛОК 1 */

.banner-block1 {
	width: 310px;
	float: left;
}

.banner-block1 .load-coupon {
	margin-left: 25px;
	margin-top: 4px;

	line-height: 1.5;
	font-size: 16px;
}

.banner-block1 .load-coupon b {
	font-weight: 900;
}

.banner-block1 .days-left {
	display: inline-block;
	width: 186px;
	height: 203px;

	background: url(../img/banner-days-left.png);
}

.banner-block1 .line1 {
	margin-top: 10px;

	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
}

.banner-block1 .line2 {
	margin-top: 3px;

	font-size: 21px;
}

.banner-block1 .line3 {
	margin-top: -4px;

	font-weight: bold;
	font-size: 80px;
	color: red;
}

.banner-block1 .line4 {
	margin-top: 5px;

	font-size: 20px;
}


/* БЛОК 2 */

.banner-block2 {
	width: 302px;
	float: left;
	margin-left: -20px;
}

.banner-block2 .line1 {
	font-size: 40px;
	font-weight: bold;
}

.banner-block2 .fries-img { }

.banner-block2 .line2 {
	margin-top: -4px;

	color: red;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.banner-block2 .line3 {
	margin-top: 1px;
	font-size: 25px;
	font-weight: bold;
}


/* БЛОК 3 */

.banner-block3 {
	position: relative;
	width: 345px;
	float: left;
}

.banner-block3 .line1 {
	margin: 6px;
	display: inline-block;
	width: 190px;
	
	line-height: 23px;
	font-weight: bold;
	font-size: 24px;
}

.banner-block3 .line2 {
	margin-top: -2px;

	line-height: 34px;
	text-transform: uppercase;
	font-size: 27px;
	font-weight: bold;
}

.banner-block3 .line2 span {
	color: red;
}

.banner-block3 .coupon-btn {
	margin: 16px auto 0;
	display: block;
	width: 186px;
	height: 50px;

	color: #040;
	font-size: 22px;
	line-height: 50px;
	background: url(../img/banner-button.png);
}
.banner-block3 .coupon-btn.disabled {
	cursor: default;
	background: url(../img/banner-button-disabled.png);	
	color: #000;
}

.banner-block3 .rules-link {
	display: block;
	margin-top: 6px;

	font-size: 22px;
	color: red;
	font-weight: bold;
}
.banner-block3 .rules-link:hover + .be-attentive,
.banner-block3 .be-attentive:hover
 {
	display: block;
}

.banner-block3 .be-attentive {
	top: 240px;
	left: 40px;
	padding: 10px;
	width: 340px;
	position: absolute;
	display: none;
	border: 1px solid black;
	border-radius: 4px;

	font-size: 14px;
	background: #fff;
}

.banner-block3 .be-attentive-title {
	margin-bottom: 10px;
	color: red;
	font-weight: bold;
	text-transform: uppercase;
}

.banner-block3 .share-link {
	display: block;
	margin-top: 10px;

	color: green;
	font-size: 15px;
	font-weight: bold;
}

.bottom-description {
	z-index: -1;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 22px;

	background: red;
	color: #fff;
}


/* СОСТОЯНИЕ 2 */

.banner-block1 .coupons-left {
	display: inline-block;
	width: 186px;
	height: 203px;

	background: url(../img/banner-days-left.png);
}

.banner-block1 .coupons-left .line1 {
	margin-top: 10px;

	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

.banner-block1 .coupons-left .line2 {
	margin-top: -3px;

	vertical-align: middle;
	font-size: 21px;
}
.banner-block1 .coupons-left .line2 .big-number {
	font-size: 60px;
	color: red;
	vertical-align: middle;
}

.banner-block1 .coupons-left .line3 {
	margin-top: -5px;

	font-weight: bold;
	font-size: 17px;
	color: #000;
	line-height: 28px;
}

.banner-block1 .coupons-left .line4 {
	margin-top: 2px;

	font-size: 24px;
	font-weight: bold;
	color: red;
}


/* КУПОН */

.coupon {
	width: 398px;
	border: 1px solid black;

	text-align: center;
	font-family: Verdana;
}

.coupon .coupon-date {
	margin-top: 3px;

	font-size: 20px;
	font-weight: bold;
}

.coupon .coupon-title {
	font-weight: bold;
	font-size: 32px;
}

.coupon .coupon-title .number-style {
	color: red;
}

.coupon .coupon-title .styled-text {
	color: #090;
}

.coupon .coupon-after-img {
	margin-top: 20px;

	font-size: 30px;
	color: red;
	text-transform: uppercase;
	font-weight: bold;
}

.coupon .coupon-main-text {
	margin-top: 5px;
	margin-bottom: 6px;

	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}