body {
  margin: 0;
  font-family: "Roboto"; }

/* ____________________________________________________________________ */
/* GRID */
.row > *:first-child {
  padding-left: 0; }
.row > *:last-child {
  padding-right: 0; }
.row:after {
  content: "";
  display: block;
  clear: both; }

.col-1 {
  width: 8.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-1 {
      width: 100%;
      padding: 0; } }

.col-2 {
  width: 16.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-2 {
      width: 100%;
      padding: 0; } }

.col-3 {
  width: 25%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-3 {
      width: 100%;
      padding: 0; } }

.col-4 {
  width: 33.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-4 {
      width: 100%;
      padding: 0; } }

.col-5 {
  width: 41.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-5 {
      width: 100%;
      padding: 0; } }

.col-6 {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-6 {
      width: 100%;
      padding: 0; } }

.col-7 {
  width: 58.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-7 {
      width: 100%;
      padding: 0; } }

.col-8 {
  width: 66.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-8 {
      width: 100%;
      padding: 0; } }

.col-9 {
  width: 75%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-9 {
      width: 100%;
      padding: 0; } }

.col-10 {
  width: 83.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-10 {
      width: 100%;
      padding: 0; } }

.col-11 {
  width: 91.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-11 {
      width: 100%;
      padding: 0; } }

.col-12 {
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 600px) {
    .col-12 {
      width: 100%;
      padding: 0; } }

.gal-col-1 {
  width: 8.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-1 {
      width: 100%;
      padding: 0; } }

.gal-col-2 {
  width: 16.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-2 {
      width: 100%;
      padding: 0; } }

.gal-col-3 {
  width: 25%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-3 {
      width: 100%;
      padding: 0; } }

.gal-col-4 {
  width: 33.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-4 {
      width: 100%;
      padding: 0; } }

.gal-col-5 {
  width: 41.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-5 {
      width: 100%;
      padding: 0; } }

.gal-col-6 {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-6 {
      width: 100%;
      padding: 0; } }

.gal-col-7 {
  width: 58.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-7 {
      width: 100%;
      padding: 0; } }

.gal-col-8 {
  width: 66.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-8 {
      width: 100%;
      padding: 0; } }

.gal-col-9 {
  width: 75%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-9 {
      width: 100%;
      padding: 0; } }

.gal-col-10 {
  width: 83.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-10 {
      width: 100%;
      padding: 0; } }

.gal-col-11 {
  width: 91.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-11 {
      width: 100%;
      padding: 0; } }

.gal-col-12 {
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }
  @media (max-width: 600px) {
    .gal-col-12 {
      width: 100%;
      padding: 0; } }

@media (max-width: 840px) {
  .tablet-col-1 {
    width: 8.33333%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 840px) {
  .tablet-col-2 {
    width: 16.66667%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 840px) {
  .tablet-col-3 {
    width: 25%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 840px) {
  .tablet-col-4 {
    width: 33.33333%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 840px) {
  .tablet-col-5 {
    width: 41.66667%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 840px) {
  .tablet-col-6 {
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 840px) {
  .tablet-col-7 {
    width: 58.33333%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 840px) {
  .tablet-col-8 {
    width: 66.66667%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 840px) {
  .tablet-col-9 {
    width: 75%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 840px) {
  .tablet-col-10 {
    width: 83.33333%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 840px) {
  .tablet-col-11 {
    width: 91.66667%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 840px) {
  .tablet-col-12 {
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    padding-right: 5px; } }

/* ____________________________________________________________________ */
/* TYPOGRAPHY */
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h2 {
  text-align: center;
  color: #e23237;
  font-weight: 900;
  position: relative;
  margin: 70px 0 25px;
  font-size: 32px; }
  @media (max-width: 840px) {
    h2 {
      font-size: 28px; } }
  h2 span {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 0 20px; }
  h2:after {
    content: "";
    border-bottom: 2px solid #ddd;
    top: 23px;
    left: 0;
    right: 0;
    display: block;
    position: absolute; }

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0; }
  @media (max-width: 840px) {
    h3 {
      font-size: 20px; } }

h4 {
  font-size: 16px;
  margin: 0;
  font-weight: bold; }

p {
  margin: 0; }

img {
  width: 100%;
  display: block; }

/* ____________________________________________________________________ */
/* CONTENT */
.content {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 20px;
  box-sizing: border-box; }

h1 {
  font-size: 50px;
  font-family: Oswald;
  margin: 0; }
  @media (max-width: 840px) {
    h1 {
      font-size: 40px; } }
  @media (max-width: 600px) {
    h1 {
      font-size: 34px; } }
  h1 .major {
    display: block;
    background: #e23237;
    color: #fff;
    text-transform: uppercase; }
    h1 .major:after {
      content: "|";
      z-index: -1;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      background: #e23237;
      color: #e23237;
      display: block; }
  h1 .minor {
    text-transform: none;
    font-weight: 100;
    opacity: .7; }

@media (max-width: 840px) {
  .ava-col {
    display: none; } }

.technical-skills h3 {
  margin-top: 17px;
  margin-bottom: 6px; }
.technical-skills .technical-header {
  margin-top: -8px;
  margin-bottom: 10px; }
.technical-skills .mandatory .col-content,
.technical-skills .desirable .col-content,
.technical-skills .optional .col-content {
  padding: 16px 20px;
  height: 132px; }
.technical-skills .mandatory .col-content {
  background: #e8e8e8; }
.technical-skills .desirable .col-content {
  background: #eeeeee; }
.technical-skills .optional .col-content {
  background: #f6f6f6; }

@media (max-width: 600px) {
  .logo-wrapper {
    text-align: center; } }
.logo-wrapper .logo {
  width: auto;
  margin-top: 17px; }
  @media (max-width: 840px) {
    .logo-wrapper .logo {
      width: 100%; } }
  @media (max-width: 600px) {
    .logo-wrapper .logo {
      width: auto;
      display: inline-block;
      margin-bottom: 10px;
      margin-top: 0; } }

@media (max-width: 600px) {
  .gallery img {
    margin-bottom: 10px; } }
.gallery .gallery1 {
  height: 400px;
  overflow: hidden; }
  @media (max-width: 980px) {
    .gallery .gallery1 {
      height: 300px; } }
  @media (max-width: 800px) {
    .gallery .gallery1 {
      height: 220px; } }
  @media (max-width: 600px) {
    .gallery .gallery1 {
      height: auto; } }
.gallery .gallery2 {
  height: 310px;
  overflow: hidden; }
  @media (max-width: 980px) {
    .gallery .gallery2 {
      height: 240px; } }
  @media (max-width: 800px) {
    .gallery .gallery2 {
      height: 170px; } }
  @media (max-width: 600px) {
    .gallery .gallery2 {
      height: auto; } }
.gallery .row {
  margin-bottom: 10px; }
  @media (max-width: 600px) {
    .gallery .row {
      margin-bottom: 0; } }

.call-to-action {
  padding: 30px 40px;
  border: 2px solid #e23237;
  text-align: center;
  margin: 30px 0 50px;
  font-size: 32px;
  font-weight: 900;
  color: #e23237; }
  .call-to-action .minor {
    font-weight: 400; }
  .call-to-action a {
    color: #e23237; }
  @media (max-width: 600px) {
    .call-to-action {
      font-size: 22px;
      padding: 30px 10px; } }

.link-wrapper {
  text-align: center;
  padding-top: 50px; }
  .link-wrapper a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 16px;
    max-width: 200px;
    background: #e23237;
    margin: 0 auto; }

.vacancy + .vacancy {
  margin-top: 80px; }

.vacancy {
  border: 2px solid #e23237;
  padding: 0 20px 40px;
  margin: 0 -20px; }
  .vacancy h1 .major {
    position: relative;
    margin: 0 -20px;
    padding: 0 20px; }
    .vacancy h1 .major:after {
      display: none; }

/*# sourceMappingURL=style.css.map */
