.scroll-animation {
  opacity: 0; }

.theme-variants {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0; }
  @media (max-width: 1200px) {
    .theme-variants {
      position: static; } }
  .theme-variants li {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin: 10px 2px;
    transition: .2s; }
    .theme-variants li:hover {
      opacity: .7; }
  .theme-variants .orange-theme {
    background: linear-gradient(to bottom, rgba(227, 254, 132, 0) 0%, rgba(227, 254, 132, 0.13) 100%), radial-gradient(ellipse at center, #fe9984 0%, #fe6f51 100%); }
  .theme-variants .red-theme {
    background: linear-gradient(to bottom, rgba(249, 255, 136, 0) 0%, rgba(249, 255, 136, 0.13) 100%), radial-gradient(ellipse at center, #f88 0%, #ff5555 100%); }
  .theme-variants .purple-theme {
    background: linear-gradient(to bottom, rgba(255, 170, 217, 0) 0%, rgba(255, 170, 217, 0.13) 100%), radial-gradient(ellipse at center, #caf 0%, #ad77ff 100%); }
  .theme-variants .blue-theme {
    background: linear-gradient(to bottom, rgba(227, 136, 255, 0) 0%, rgba(227, 136, 255, 0.13) 100%), radial-gradient(ellipse at center, #8af 0%, #5586ff 100%); }
  .theme-variants .turquoise-theme {
    background: linear-gradient(to bottom, rgba(29, 0, 238, 0) 0%, rgba(29, 0, 238, 0.13) 100%), radial-gradient(ellipse at center, #0de 0%, #00aebb 100%); }
  .theme-variants .green-theme {
    background: linear-gradient(to bottom, rgba(0, 39, 238, 0) 0%, rgba(0, 39, 238, 0.13) 100%), radial-gradient(ellipse at center, #0eb 0%, #00bb93 100%); }

body {
  margin: 0;
  font-family: 'Roboto';
  padding-bottom: 100px;
  color: #444;
  background: #f8f8f8; }

html, body {
  height: 100%; }

.top-padding {
  height: 50%; }
  @media (max-width: 1200px) {
    .top-padding {
      height: 0; } }

.bottom-padding {
  height: 25%; }
  @media (max-width: 1200px) {
    .bottom-padding {
      height: 0; } }

.block-with-head {
  padding-top: 0 !important; }

.col-1-3 {
  width: 33.3333%;
  float: left; }
  @media (max-width: 880px) {
    .col-1-3 {
      width: 100%;
      float: none; } }

.col-1-2 {
  width: 50%;
  float: left; }
  @media (max-width: 880px) {
    .col-1-2 {
      width: 100%;
      float: none; } }

.col-row {
  padding: 0 20px;
  overflow: hidden; }

h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed'; }

h2.block-head {
  margin: 0;
  color: #333;
  letter-spacing: .05em;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px; }

.row {
  margin-top: 90px; }

a:not(.regular-btn) {
  text-decoration: none;
  color: #08f;
  border-bottom: 1px solid #acf; }
  a:not(.regular-btn):hover {
    color: #f88;
    border-bottom: 1px solid #fcc; }

.accent-block {
  width: 100%;
  max-width: 880px;
  overflow: hidden;
  border-radius: 4px;
  padding: 40px 0;
  margin: 20px auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05); }
  @media (max-width: 880px) {
    .accent-block {
      border-radius: 0; } }
  .orange-theme .accent-block {
    background: linear-gradient(to bottom, rgba(227, 254, 132, 0) 0%, rgba(227, 254, 132, 0.13) 100%), radial-gradient(ellipse at center, #fe9984 0%, #fe6f51 100%); }
  .red-theme .accent-block {
    background: linear-gradient(to bottom, rgba(249, 255, 136, 0) 0%, rgba(249, 255, 136, 0.13) 100%), radial-gradient(ellipse at center, #f88 0%, #ff5555 100%); }
  .purple-theme .accent-block {
    background: linear-gradient(to bottom, rgba(255, 170, 217, 0) 0%, rgba(255, 170, 217, 0.13) 100%), radial-gradient(ellipse at center, #caf 0%, #ad77ff 100%); }
  .blue-theme .accent-block {
    background: linear-gradient(to bottom, rgba(227, 136, 255, 0) 0%, rgba(227, 136, 255, 0.13) 100%), radial-gradient(ellipse at center, #8af 0%, #5586ff 100%); }
  .turquoise-theme .accent-block {
    background: linear-gradient(to bottom, rgba(29, 0, 238, 0) 0%, rgba(29, 0, 238, 0.13) 100%), radial-gradient(ellipse at center, #0de 0%, #00aebb 100%); }
  .green-theme .accent-block {
    background: linear-gradient(to bottom, rgba(0, 39, 238, 0) 0%, rgba(0, 39, 238, 0.13) 100%), radial-gradient(ellipse at center, #0eb 0%, #00bb93 100%); }

.invert-block {
  width: 100%;
  max-width: 880px;
  overflow: hidden;
  border-radius: 4px;
  padding: 40px 0;
  margin: 20px auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%), radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%); }
  @media (max-width: 880px) {
    .invert-block {
      border-radius: 0; } }
  .invert-block a {
    text-decoration: none;
    color: #fff;
    border-bottom: none !important;
    font-weight: 300; }
    .invert-block a span {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      vertical-align: middle; }
    .invert-block a:hover span {
      color: #fff;
      border-bottom: 1px solid #fff; }

.def-block {
  width: 100%;
  max-width: 880px;
  overflow: hidden;
  border-radius: 4px;
  padding: 40px 0;
  margin: 20px auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05);
  background: #fff; }
  @media (max-width: 880px) {
    .def-block {
      border-radius: 0; } }

.regular-btn {
  font-size: 16px;
  border: none;
  color: #fff;
  height: 34px;
  padding: 0 20px;
  font-family: 'Open Sans';
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  background: none;
  display: inline-block;
  text-decoration: none;
  font-size: 14px; }
  .regular-btn span {
    position: relative;
    z-index: 2;
    top: 0;
    transition: .2s;
    line-height: 34px; }
    .regular-btn span svg {
      fill: #fff; }
    .regular-btn span img {
      vertical-align: middle;
      width: 16px;
      height: 16px;
      margin-left: 5px; }
  .regular-btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2px;
    left: 0;
    background: #9ab;
    z-index: 1;
    border-radius: 3px;
    transition: .2s; }
  .regular-btn:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 0;
    left: 0;
    background: #7a90a7;
    z-index: 0;
    border-radius: 3px;
    transition: .2s; }
  .regular-btn:hover:before {
    background: #8498ad; }
  .regular-btn:hover:after {
    background: #657f98; }
  .regular-btn:active span {
    top: 2px; }
  .regular-btn:active:before {
    top: 2px;
    bottom: 0px;
    background: #6e869e; }
  .regular-btn:active:after {
    background: #576d83; }
  .regular-btn.ask-disable {
    cursor: default;
    opacity: .8; }
    .regular-btn.ask-disable span {
      opacity: .5;
      top: 0; }
    .regular-btn.ask-disable:before {
      top: 0px;
      bottom: 0px;
      background: #9ab; }
    .regular-btn.ask-disable:after {
      display: none; }

.table-block {
  padding: 0 !important; }

.def-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px; }
  .def-table th {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    padding: 15px 0 !important;
    border-bottom: 1px solid #ccc; }
    .def-table th h2 {
      margin: 0;
      color: #333;
      letter-spacing: .05em; }
  .def-table td {
    border-bottom: 1px solid #ccc;
    padding: 0; }
    .def-table td.logo-cell {
      padding-top: 40px !important;
      padding-left: 20px !important;
      text-align: left; }
      @media (max-width: 880px) {
        .def-table td.logo-cell {
          border-bottom: 1px solid #ccc !important; } }
      .def-table td.logo-cell img {
        height: 40px; }
    .def-table td.picture-cell {
      width: 200px !important;
      padding: 0 !important;
      background-position: 50%;
      background-size: cover; }
      @media (max-width: 880px) {
        .def-table td.picture-cell {
          border-bottom: 1px solid #ccc !important; } }
    .def-table td:first-child {
      padding: 20px 40px;
      width: auto;
      text-align: center; }
    .def-table td:first-child {
      border-left: none; }
    .def-table td:last-child {
      border-right: none; }
  .def-table tr:first-child td {
    border-top: none; }
  .def-table tr:last-child td {
    border-bottom: none; }

.inner-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  text-align: left; }
  .inner-table td {
    border: none;
    border: 1px solid #eee;
    padding: 0; }
    .inner-table td:first-child {
      padding: 7px 14px;
      width: auto;
      background: #f8f8f8;
      color: #888;
      text-align: left;
      font-weight: 300;
      border-left: 1px solid #eee; }
    .inner-table td:last-child {
      border-right: none;
      width: 100%;
      padding-left: 10px;
      color: #555; }
  .inner-table tr:first-child td {
    border-top: none; }
  .inner-table tr:last-child td {
    border-bottom: none; }

.table-list {
  padding: 0;
  margin: 0; }
  .table-list li {
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd; }
    .table-list li:last-child {
      border-bottom: none; }

.intro-block {
  text-align: center;
  margin-top: 0;
  margin-top: -170px; }
  @media (max-width: 1200px) {
    .intro-block {
      margin-top: 0; } }
  .intro-block .intro-head {
    overflow: hidden; }
  .intro-block .intro-head-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px; }
  .intro-block .ava {
    width: 135px;
    height: 135px;
    margin: auto;
    font-size: 0;
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 66, 122, 0.4) inset; }
    .orange-theme .intro-block .ava {
      background: #fe6f51; }
    .red-theme .intro-block .ava {
      background: #ff5555; }
    .purple-theme .intro-block .ava {
      background: #ad77ff; }
    .blue-theme .intro-block .ava {
      background: #5586ff; }
    .turquoise-theme .intro-block .ava {
      background: #00aebb; }
    .green-theme .intro-block .ava {
      background: #00bb93; }
    .intro-block .ava .img-wrapper {
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 3px 10px rgba(0, 66, 122, 0.5); }
      .intro-block .ava .img-wrapper img {
        width: 100%; }
  .intro-block .name {
    font-size: 44px;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 11px;
    color: #fff;
    text-align: left;
    font-weight: 700;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    line-height: .85;
    letter-spacing: .05em; }
  .intro-block .job-title {
    font-size: 30px;
    letter-spacing: .1em;
    line-height: .9;
    margin: 0;
    text-align: left;
    color: #fff;
    margin-bottom: 8px;
    font-weight: 100;
    text-transform: uppercase; }
  .intro-block .lead {
    font-size: 22px;
    text-align: center;
    max-width: 520px;
    font-weight: 300;
    margin: 20px auto 0;
    line-height: 1.333;
    color: #fff;
    padding: 0 20px; }

.contacts-block .contacts {
  margin: 0 auto; }
  .contacts-block .contacts td {
    padding: 0 12px;
    color: #fff;
    font-weight: 300; }
    @media (max-width: 880px) {
      .contacts-block .contacts td {
        display: block; } }
    .contacts-block .contacts td span {
      vertical-align: middle; }
  .contacts-block .contacts img {
    width: 30px;
    vertical-align: middle;
    padding-right: 2px; }

.skills {
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
  background: #e7ebef;
  background: #fff; }
  .skills ul {
    padding: 0;
    margin: 0; }
    .skills ul li {
      display: block;
      height: 30px;
      margin-bottom: 2px;
      position: relative;
      background-size: 960px;
      transition: 1s;
      box-shadow: 10px 0 3px -1px rgba(0, 0, 255, 0.05), 5px 0 3px -1px rgba(0, 0, 122, 0.05), 2px 0 5px -1px rgba(0, 0, 0, 0.1); }
      .orange-theme .skills ul li {
        background: linear-gradient(to right, #fe846b 0%, #fd5a38 100%); }
      .red-theme .skills ul li {
        background: linear-gradient(to right, #ff6e6e 0%, #ff3b3b 100%); }
      .purple-theme .skills ul li {
        background: linear-gradient(to right, #bd91ff 0%, #9e5dff 100%); }
      .blue-theme .skills ul li {
        background: linear-gradient(to right, #6e98ff 0%, #3b73ff 100%); }
      .turquoise-theme .skills ul li {
        background: linear-gradient(to right, #00c5d4 0%, #0096a2 100%); }
      .green-theme .skills ul li {
        background: linear-gradient(to right, #00d4a7 0%, #00a27f 100%); }
      .skills ul li:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 960px;
        opacity: .4; }
        .orange-theme .skills ul li:after {
          background: linear-gradient(to right, #fe846b 0%, #fd5a38 100%), #fff; }
        .red-theme .skills ul li:after {
          background: linear-gradient(to right, #ff6e6e 0%, #ff3b3b 100%), #fff; }
        .purple-theme .skills ul li:after {
          background: linear-gradient(to right, #bd91ff 0%, #9e5dff 100%), #fff; }
        .blue-theme .skills ul li:after {
          background: linear-gradient(to right, #6e98ff 0%, #3b73ff 100%), #fff; }
        .turquoise-theme .skills ul li:after {
          background: linear-gradient(to right, #00c5d4 0%, #0096a2 100%), #fff; }
        .green-theme .skills ul li:after {
          background: linear-gradient(to right, #00d4a7 0%, #00a27f 100%), #fff; }
      .skills ul li:last-child {
        margin-bottom: 0; }
      .skills ul li.start-position {
        width: 0 !important; }
      .skills ul li.head-li {
        overflow: hidden;
        height: auto;
        background: linear-gradient(to bottom, black 0%, black 100%);
        background: none; }
        .skills ul li.head-li h2 {
          padding-left: 10px;
          font-family: 'Roboto Condensed';
          text-transform: uppercase;
          margin-top: 20px;
          margin-bottom: 4px;
          letter-spacing: .05em; }
          .orange-theme .skills ul li.head-li h2 {
            color: #fd5a38; }
          .red-theme .skills ul li.head-li h2 {
            color: #ff3b3b; }
          .purple-theme .skills ul li.head-li h2 {
            color: #9e5dff; }
          .blue-theme .skills ul li.head-li h2 {
            color: #3b73ff; }
          .turquoise-theme .skills ul li.head-li h2 {
            color: #0096a2; }
          .green-theme .skills ul li.head-li h2 {
            color: #00a27f; }
        .skills ul li.head-li:after {
          display: none; }
      .skills ul li .name {
        position: absolute;
        z-index: 1;
        padding: 0 10px;
        left: 0;
        top: 0;
        bottom: 0;
        line-height: 30px;
        font-weight: 500; }
      .skills ul li .persentage {
        z-index: 1;
        padding: 0 10px;
        line-height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-weight: 500; }

.form-block {
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box; }
  .form-block label {
    display: block;
    font-size: 14px; }
  .form-block .input-label {
    width: 390px;
    float: left;
    height: 37px;
    position: relative; }
    @media (max-width: 880px) {
      .form-block .input-label {
        margin-right: 0 !important;
        width: 100%;
        max-width: 380px;
        float: none; } }
    .form-block .input-label:first-child {
      margin-right: 20px;
      margin-bottom: 20px; }
    .form-block .input-label .input-part {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 60px; }
      .form-block .input-label .input-part input {
        height: 37px;
        width: 100%; }
    .form-block .input-label .text-part {
      text-align: center;
      width: 60px;
      box-sizing: border-box;
      padding: 0 10px;
      line-height: 37px;
      color: #fff;
      font-weight: 500;
      background: rgba(0, 0, 0, 0.2); }
  .form-block input,
  .form-block textarea {
    border: none;
    padding: 10px 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 16px;
    color: #fff;
    outline: none;
    background: rgba(255, 255, 255, 0.4); }
  .form-block .message-label {
    padding: 0 10px;
    line-height: 37px;
    color: #fff;
    font-weight: 500;
    clear: both;
    margin-top: 57px;
    background: rgba(0, 0, 0, 0.2); }
    @media (max-width: 880px) {
      .form-block .message-label {
        margin-top: 20px; } }
  .form-block textarea {
    width: 100%;
    height: 160px;
    padding-top: 10px; }
  .form-block input[type="submit"] {
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    padding: 0 24px;
    font-family: Roboto;
    font-weight: 500;
    transition: .2s;
    position: relative;
    top: 0; }
    .form-block input[type="submit"]:hover {
      background: rgba(0, 0, 0, 0.4); }
    .form-block input[type="submit"]:active {
      top: 2px;
      background: rgba(0, 0, 0, 0.6); }

#blog-page .home-link {
  text-align: center;
  padding: 20px 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -24px; }
#blog-page h2 {
  text-transform: uppercase;
  font-family: 'Roboto Condensed'; }
#blog-page .image-part {
  margin-left: -40px;
  margin-right: -40px;
  margin-top: -40px; }
#blog-page img {
  width: 100%; }
#blog-page .def-block {
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box; }
#blog-page .after-line {
  font-size: 12px;
  margin-top: 20px; }
  #blog-page .after-line time {
    margin-right: 10px;
    margin-bottom: 4px;
    display: inline-block; }
  #blog-page .after-line .tags {
    display: inline-block;
    padding: 0;
    margin: 0; }
    #blog-page .after-line .tags li {
      display: inline-block;
      padding: 4px 12px;
      background: #f0f0f8;
      border-radius: 2px;
      margin-bottom: 4px; }
#blog-page .search-block {
  text-align: center;
  box-sizing: border-box; }
  #blog-page .search-block input {
    border: none;
    padding: 10px 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 16px;
    color: #fff;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    height: 37px;
    vertical-align: middle; }
  #blog-page .search-block button {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    padding: 0 24px;
    font-family: Roboto;
    font-weight: 500;
    transition: .2s;
    position: relative;
    top: 0;
    border: none;
    color: #fff;
    margin: 0;
    vertical-align: middle; }
    #blog-page .search-block button:hover {
      background: rgba(255, 255, 255, 0.5); }
    #blog-page .search-block button:active {
      top: 2px;
      background: rgba(255, 255, 255, 0.6); }

.main-post-nav {
  top: 8px !important; }

.main-post-nav,
.main-nav {
  position: fixed;
  left: 50%;
  text-align: right;
  margin-left: -560px;
  width: 90px;
  top: 50%;
  padding-top: 4px;
  transition: .4s; }
  @media (max-width: 1200px) {
    .main-post-nav,
    .main-nav {
      top: 0 !important;
      bottom: 0;
      left: -200px;
      margin-left: 0;
      background: #fff;
      width: 120px;
      z-index: 999;
      padding-right: 70px;
      padding-top: 40px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); } }
  @media (max-width: 1200px) {
    .main-post-nav.menu-opened,
    .main-nav.menu-opened {
      left: 0; } }
  .main-post-nav.menu-opened .adaptive-menu,
  .main-nav.menu-opened .adaptive-menu {
    left: -40px; }
    @media (max-width: 1200px) {
      .main-post-nav.menu-opened .adaptive-menu,
      .main-nav.menu-opened .adaptive-menu {
        left: 150px; } }
    .main-post-nav.menu-opened .adaptive-menu svg,
    .main-nav.menu-opened .adaptive-menu svg {
      display: block; }
    .main-post-nav.menu-opened .adaptive-menu svg + svg,
    .main-nav.menu-opened .adaptive-menu svg + svg {
      display: none; }
  .main-post-nav .adaptive-menu,
  .main-nav .adaptive-menu {
    position: fixed;
    top: 0;
    width: 40px;
    height: 40px;
    background: #eee;
    left: -40px;
    transition: .4s;
    cursor: pointer; }
    @media (max-width: 1200px) {
      .main-post-nav .adaptive-menu,
      .main-nav .adaptive-menu {
        left: 0; } }
    .main-post-nav .adaptive-menu svg,
    .main-nav .adaptive-menu svg {
      display: none;
      width: 40px;
      margin: auto;
      height: 40px;
      fill: #555; }
    .main-post-nav .adaptive-menu svg + svg,
    .main-nav .adaptive-menu svg + svg {
      display: block; }
  .main-post-nav .tags,
  .main-nav .tags {
    font-size: 0;
    display: block;
    margin-bottom: 5px; }
    .main-post-nav .tags li,
    .main-nav .tags li {
      display: inline-block;
      margin: 2px;
      overflow: hidden; }
    .main-post-nav .tags a,
    .main-nav .tags a {
      display: block;
      padding: 4px;
      border-radius: 4px;
      background: #ccc;
      font-size: 12px;
      color: #8af;
      color: #fff;
      border-bottom: none;
      transition: .2s; }
      .main-post-nav .tags a:hover,
      .main-nav .tags a:hover {
        background: #aaa; }
  .main-post-nav ul,
  .main-nav ul {
    margin: 0;
    padding: 0; }
    .main-post-nav ul + ul,
    .main-nav ul + ul {
      padding-top: 4px;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .main-post-nav ul li,
    .main-nav ul li {
      display: block;
      padding: 3px 0;
      position: relative; }
      .main-post-nav ul li a,
      .main-nav ul li a {
        color: rgba(0, 0, 0, 0.3);
        border-bottom: none;
        padding: 4px 0;
        transition: .2s; }
        .main-post-nav ul li a svg,
        .main-nav ul li a svg {
          width: 20px;
          vertical-align: middle;
          fill: rgba(0, 0, 0, 0.3); }
        .main-post-nav ul li a:hover,
        .main-nav ul li a:hover {
          color: rgba(0, 0, 0, 0.3);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .main-post-nav ul li:after,
      .main-nav ul li:after {
        content: "";
        position: absolute;
        display: block;
        width: 6px;
        height: 6px;
        border-right: 1px solid #444;
        border-bottom: 1px solid #444;
        transform: rotate(-45deg);
        right: -12px;
        top: 12px;
        opacity: 0;
        right: 0;
        transition: .2s; }
      .main-post-nav ul li.active a,
      .main-nav ul li.active a {
        border-bottom: none;
        color: #444; }
      .main-post-nav ul li.active:after,
      .main-nav ul li.active:after {
        content: "";
        position: absolute;
        display: block;
        width: 6px;
        height: 6px;
        border-right: 1px solid #444;
        border-bottom: 1px solid #444;
        transform: rotate(-45deg);
        right: -12px;
        top: 12px;
        opacity: 1; }

.works-block {
  padding: 0;
  font-size: 0;
  background: none;
  box-shadow: none;
  border-radius: 0; }
  .works-block a {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: -1px;
    border-bottom: none; }
    .works-block a img {
      width: 100%; }
    .works-block a:hover {
      border-bottom: none; }
    .works-block a:hover .overlay {
      transform: translateY(0); }
    .works-block a .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateY(-100%);
      height: 100%;
      font-size: 16px;
      background: rgba(0, 0, 0, 0.7);
      transition: .2s; }
      .works-block a .overlay .project-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: #fff; }
        .works-block a .overlay .project-text .projects-title {
          margin: 0;
          font-size: 22px;
          font-weight: bold; }
        .works-block a .overlay .project-text .client-title {
          margin: 0;
          font-size: 16px;
          font-weight: 100; }

.overlayed {
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: -1px;
  border-bottom: none;
  font-size: 0;
  border-bottom: none !important; }
  .overlayed img {
    width: 100%; }
  .overlayed:hover {
    border-bottom: none; }
  .overlayed:hover .overlay {
    transform: translateY(0); }
  .overlayed .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    height: 100%;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.7);
    transition: .2s; }
    .overlayed .overlay .project-text {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: #fff; }
      .overlayed .overlay .project-text .projects-title {
        margin: 0;
        font-size: 22px;
        font-weight: bold; }
      .overlayed .overlay .project-text .client-title {
        margin: 0;
        font-size: 16px;
        font-weight: 100; }

.block-with-head p {
  padding: 0 20px;
  margin: 0 0 15px; }
.block-with-head img {
  width: 100%; }

@media (max-width: 880px) {
  .jobs .def-table > tbody > tr > td {
    display: block !important;
    text-align: left; } }

@media (max-width: 880px) {
  #education .def-table > tbody > tr > td {
    display: block !important;
    text-align: left; }
  #education .picture-cell {
    height: 150px;
    width: 100%;
    width: auto !important; } }
