@import url(normalize.css);
body {
  font-family: 'Open Sans';
  color: #444;
  background: #eeeef4;
  padding-bottom: 100px; }

.wrapper {
  max-width: 1200px;
  width: auto;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 15px; }
  .wrapper.with-columns {
    padding: 0; }
  .wrapper:after {
    content: "";
    display: block;
    clear: both; }
  @media (max-width: 1200px) {
    .wrapper {
      width: 992px; } }
  @media (max-width: 992px) {
    .wrapper {
      width: 768px; } }
  @media (max-width: 768px) {
    .wrapper {
      width: auto; } }

.col-1 {
  width: 8.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-2 {
  width: 16.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-3 {
  width: 25%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-4 {
  width: 33.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-5 {
  width: 41.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-6 {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-7 {
  width: 58.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-8 {
  width: 66.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-9 {
  width: 75%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10 {
  width: 83.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-11 {
  width: 91.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-12 {
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.main-header {
  background: #1976D2;
  height: 50px;
  text-align: center; }
  .main-header .page-title {
    color: #fff;
    font-weight: bold;
    line-height: 50px; }
    .main-header .page-title .subject {
      background: #64B5F6;
      display: inline-block;
      line-height: 22px;
      padding: 0 6px 2px; }
  .main-header .user-block {
    float: right;
    line-height: 50px; }
    .main-header .user-block .login {
      color: #fff;
      margin-right: 16px; }
    .main-header .user-block .registration {
      display: inline-block;
      line-height: 28px;
      padding: 0 12px;
      text-decoration: none;
      border: 1px solid #fff;
      color: #fff;
      border-radius: 4px; }

.tests-section {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px; }
  .tests-section .random-question,
  .tests-section .whole-test {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    text-decoration: none;
    border: 1px solid #2196F3;
    color: #2196F3;
    border-radius: 4px;
    margin: 0 20px; }

.tests-menu-section {
  margin-top: 30px; }
  .tests-menu-section .tests-menu {
    overflow: hidden;
    padding: 0;
    margin: 0; }
    .tests-menu-section .tests-menu li {
      float: left;
      display: block;
      padding: 10px 20px; }
      .tests-menu-section .tests-menu li a {
        color: #1976D2; }
      .tests-menu-section .tests-menu li.active {
        background: #fff; }
        .tests-menu-section .tests-menu li.active a {
          color: #333;
          text-decoration: none;
          cursor: default; }

.main-content .wrapper {
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px; }
.main-content .tests-list {
  padding: 0;
  margin: 0; }
  .main-content .tests-list > li {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 22px 0 10px; }
.main-content .test .question img {
  width: 100%; }
.main-content .test .answers-list-block .answers-list {
  padding: 10px 0;
  margin: 0;
  overflow: hidden; }
  .main-content .test .answers-list-block .answers-list li {
    display: block;
    margin-right: 20px;
    float: left;
    cursor: pointer; }
    .main-content .test .answers-list-block .answers-list li.right span {
      color: green; }
      .main-content .test .answers-list-block .answers-list li.right span:before {
        border-color: green; }
      .main-content .test .answers-list-block .answers-list li.right span:after {
        background: green !important; }
    .main-content .test .answers-list-block .answers-list li.wrong span {
      color: red; }
      .main-content .test .answers-list-block .answers-list li.wrong span:before {
        border-color: red; }
      .main-content .test .answers-list-block .answers-list li.wrong span:after {
        background: red !important; }
    .main-content .test .answers-list-block .answers-list li label {
      cursor: pointer; }
    .main-content .test .answers-list-block .answers-list li input {
      display: none; }
    .main-content .test .answers-list-block .answers-list li span {
      position: relative; }
      .main-content .test .answers-list-block .answers-list li span:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 6px;
        border: 2px solid #666;
        vertical-align: -4px; }
    .main-content .test .answers-list-block .answers-list li input:checked + span:after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 6px;
      left: 5px;
      background: #666;
      vertical-align: -4px; }
.main-content .next-question {
  background: #1976D2;
  padding: 0 20px;
  line-height: 36px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
