@import 'normalize.css';

// WRAPPER
$phone: 768px;
$tablet: 992px;
$laptop: 1200px;

body {
	font-family: 'Open Sans';
	color: #444;
	background: #eeeef4;
	padding-bottom: 100px;
}

.wrapper {
	max-width: $laptop;
	width: auto;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	padding: 0 15px;

	&.with-columns {
		padding: 0;
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	@media (max-width: $laptop) {
		width: $tablet;
	}

	@media (max-width: $tablet) {
		width: $phone;
	}

	@media (max-width: $phone) {
		width: auto;
	}
}

$col-number: 12;
$col-space: 30px;

@for $i from 1 through $col-number {

	.col-#{$i} {
		width: (100%/$col-number)*$i;
		box-sizing: border-box;
		float: left;
		padding: {
			left: $col-space/2;
			right: $col-space/2;
		}
	}
}

.main-header {
	background: #1976D2;
	height: 50px;
	text-align: center;

	.page-title {
		color: #fff;
		font-weight: bold;
		line-height: 50px;

		.subject {
			background: #64B5F6;
			display: inline-block;
			line-height: 22px;
			padding: 0 6px 2px;
		}
	}

	.user-block {
		float: right;
		line-height: 50px;

		.login {
			color: #fff;
			margin-right: 16px;
		}

		.registration {
			display: inline-block;
			line-height: 28px;
			padding: 0 12px;
			text-decoration: none;
			border: 1px solid #fff;
			color: #fff;
			border-radius: 4px;
		}
	}
}

.tests-section {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;

	.random-question,
	.whole-test {
		display: inline-block;
		line-height: 28px;
		padding: 0 12px;
		text-decoration: none;
		border: 1px solid #2196F3;
		color: #2196F3;
		border-radius: 4px;
		margin: 0 20px;
	}
}

.tests-menu-section {
	margin-top: 30px;

	.tests-menu {
		overflow: hidden;
		padding: 0;
		margin: 0;

		li {
			float: left;
			display: block;
			padding: 10px 20px;

			a {
				color: #1976D2;
			}

			&.active {
				background: #fff;

				a {
					color: #333;
					text-decoration: none;
					cursor: default;
				}
			}
		}
	}
}

.main-content {

	.wrapper {
		background: #fff;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.tests-list {
		padding: 0;
		margin: 0;

		> li {
			display: block;
			border-bottom: 1px solid #ddd;
			padding: 22px 0 10px;
		}
	}

	.test {

		.question {
			
			img {
				width: 100%;
			}
		}

		.answers-list-block {

			.answers-list {
				padding: 10px 0;
				margin: 0;
				overflow: hidden;

				li {
					display: block;
					margin-right: 20px;
					float: left;
					cursor: pointer;

					&.right span {
						color: green;

						&:before {
							border-color: green;
						}

						&:after {
							background: green !important;
						}
					}

					&.wrong span {
						color: red;

						&:before {
							border-color: red;
						}

						&:after {
							background: red !important;
						}
					}

					label {
						cursor: pointer;
					}

					input {
						display: none;
					}

					span {
						position: relative;

						&:before {
							content: "";
							display: inline-block;
							width: 16px;
							height: 16px;
							margin-right: 6px;
							border: 2px solid #666;
							vertical-align: -4px;
						}
					}

					input:checked + span {

						&:after {
							content: "";
							display: inline-block;
							width: 10px;
							height: 10px;
							position: absolute;
							top: 6px;
							left: 5px;
							background: #666;
							vertical-align: -4px;
						}
					}
				}
			}
		}
	}

	.next-question {
		background: #1976D2;
		padding: 0 20px;
		line-height: 36px;
		text-decoration: none;
		color: #fff;
		display: inline-block;
		margin-top: 20px;
	}
}