.main-footer {
	background: url(../img/map.png) 50% 3px;

	.feedback-subsection {
		overflow: hidden;
		padding: 55px 0;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			background: rgba($brand-color, .7);
		}

		.wrapper {
			position: relative;
			z-index: 2;
		}

		.call-to-action {
			color: #fff;
			font-size: $h2-text;
			margin: 0 0 15px;
			font-weight: 100;
		}

		.form-part {
			padding: 0 15px;
			width: 50%;
			box-sizing: border-box;
			float: left;
			font-size: 0;

			input,
			textarea {
				width: 100%;
				border: 1px solid mix($brand-color, #000);
				border: 1px solid #fff;
				padding: 6px 12px;
				border-radius: 4px;
				font-size: 15px;
				font-family: "Open Sans";
				margin-bottom: 10px;
				line-height: 22px;
				background: rgba(255, 255, 255, 1);
				color: #333;
				box-shadow: 0 0 0 3px rgba(#fff, 0);
				transition: .2s;

				&:focus {
					outline: none;
					box-shadow: 0 0 0 3px rgba(#fff, .3);
				}
			}

			textarea {
				height: 130px;
			}

			.send-btn {
				padding: 5px 30px;
				line-height: 22px;
				color: #fff;
				border: 1px solid #fff;
				border-radius: 4px;
				text-decoration: none;
				display: inline-block;
				transition: .2s;
				font-size: 15px;

				&:hover {
					background: rgba(255, 255, 255, .15);
				}

				&:active {
					background: rgba(255, 255, 255, .3);
				}
			}
		}

		.contact-info {
			padding: 0 15px;
			width: 33.333%;
			margin-left: 40px;
			float: left;
			box-sizing: border-box;
			color: #fff;

			.email {
				margin-top: -4px;

				&:before {
					content: "";
					display: inline-block;
					width: 18px;
					height: 20px;
					background: url('../img/mail.svg');
					background-size: 18px;
					vertical-align: -4px;
					margin-right: 5px;
				}
			}

			.phone {

				&:before {
					content: "";
					display: inline-block;
					width: 19px;
					height: 19px;
					background: url('../img/phone.svg');
					background-size: 19px;
					vertical-align: middle;
					margin-right: 2px;
				}
			}

			.email,
			.phone {
				line-height: 1;
				margin-bottom: 10px;
				font-weight: 600;
			}

			.address-link {
				margin-top: 19px;
				display: block;
				text-decoration: none;
				color: #fff;
				font-weight: 600;
				transition: color .2s;

				.address-text {
					text-decoration: underline;
					transition: .2s;
				}

				&:hover {
				}

				&:active {
					color: rgba(255, 255, 255, .7);

					.address-text {
						border-bottom: 1px solid rgba(255, 255, 255, .7);
					}
				}

				.map-img {
					display: block;
					margin-top: 5px;
					width: 220px;
					height: 150px;
					background: url(../img/map-small.png);
					//https://mapstyle.withgoogle.com/
				}
			}
		}
	}

	.footer-links-subsection {
		padding: 50px 0;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			background: rgba(0, 0, 0, .92);
		}

		.wrapper {
			position: relative;
			z-index: 2;
		}

		.footer-menu {

			a {
				color: #fff;
			}
		}
	}
}