<div class="test">
	<div class="question">
		<img src="img/a1.jpg">
	</div>
	<div class="answers-list-block">
		<ul class="answers-list">
			<li>
				<label>
					<input name="one" type="radio">
					<span>2π</span>
				</label>
			</li>
			<li class="right">
				<label>
					<input name="one" type="radio">
					<span>-5π/2</span>
				</label>
			</li>
			<li>
				<label>
					<input name="one" type="radio">
					<span>2π/5</span>
				</label>
			</li>
			<li>
				<label>
					<input name="one" type="radio">
					<span>π/4</span>
				</label>
			</li>
			<li class="wrong">
				<label>
					<input checked name="one" type="radio">
					<span>-3π</span>
				</label>
			</li>
		</ul>
	</div>
</div>