
#blog-page {

	.home-link {
		text-align: center;
		padding: 20px 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-top: -24px;
	}

	h2 {
		text-transform: uppercase;
		font-family: 'Roboto Condensed';
	}

	.image-part {
		margin-left: -40px;
		margin-right: -40px;
		margin-top: -40px;
	}

	img {
		width: 100%;
	}

	.def-block {
		padding-left: 30px;
		padding-right: 30px;
		box-sizing: border-box;
	}

	.after-line {
		font-size: 12px;
		margin-top: 20px;

		time {
			margin-right: 10px;
			margin-bottom: 4px;
			display: inline-block;
		}

		.tags {
			display: inline-block;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				padding: 4px 12px;
				background: #f0f0f8;
				border-radius: 2px;
				margin-bottom: 4px;
			}
		}
	}

	.search-block {
		text-align: center;
		box-sizing: border-box;

		input {
			border: none;
			padding: 10px 10px;
			box-sizing: border-box;
			font-family: Roboto;
			font-size: 16px;
			color: #fff;
			outline: none;
				background: rgba(255,255,255,.4);
			height: 37px;
			vertical-align: middle;
		}

		button {
			margin-top: 15px;
			background: rgba(255,255,255,.3);
			cursor: pointer;
			font-size: 14px;
			height: 37px;
			line-height: 37px;
			padding: 0 24px;
			font-family: Roboto;
			font-weight: 500;
			transition: .2s;
			position: relative;
			top: 0;
			border: none;
			color: #fff;
			margin: 0;
			vertical-align: middle;

			&:hover {
				background: rgba(255,255,255,.5);
			}

			&:active {
				top: 2px;
				background: rgba(255,255,255,.6);
			}
		}
	}
}