
.skills {
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	color: #fff;
	overflow: hidden;
	background: #e7ebef;
	background: #fff;

	ul {
		padding: 0;
		margin: 0;

		li {
			display: block;
			height: 30px;
			margin-bottom: 2px;
			position: relative;
			background-size: 960px;
			transition: 1s;
			box-shadow: 10px 0 3px -1px rgba(0,0,255,.05),
				5px 0 3px -1px rgba(0,0,122,.05),
				2px 0 5px -1px rgba(0,0,0,.1);

			@each $theme, $theme-color in $theme-list {
				.#{$theme} & {
					$primary: $theme-color;
					$primary-soft: darken($primary, 5%);
					$main-channel-soft: darken($primary, 15%);
					background:
						linear-gradient(to right, $primary-soft 0%, $main-channel-soft 100%);
				}
			}
			
			&:after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 960px;
				opacity: .4;

				@each $theme, $theme-color in $theme-list {
					.#{$theme} & {
						$primary: $theme-color;
						$primary-soft: darken($primary, 5%);
						$main-channel-soft: darken($primary, 15%);
						background:
							linear-gradient(to right, $primary-soft 0%, $main-channel-soft 100%),
							#fff;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.start-position {
				width: 0 !important;
			}

			&.head-li {
				overflow: hidden;
				height: auto;
				background:
					linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
				background: none;

				h2 {
					padding-left: 10px;
					font-family: 'Roboto Condensed';
					text-transform: uppercase;
					margin-top: 20px;
					margin-bottom: 4px;
					letter-spacing: .05em;

					@each $theme, $theme-color in $theme-list {
						.#{$theme} & {
							$primary: $theme-color;
							$main-channel-soft: darken($primary, 15%);
							color: $main-channel-soft;
						}
					}
				}

				&:after {
					display: none;
				}
			}

			.name {
				position: absolute;
				z-index: 1;
				padding: 0 10px;
				left: 0;
				top: 0;
				bottom: 0;
				line-height: 30px;
				font-weight: 500;
			}

			.persentage {
				z-index: 1;
				padding: 0 10px;
				line-height: 30px;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				font-weight: 500;
			}
		}
	}
}