
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
    background: #535353;
  overflow-y: auto;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  transition: 0.3s;
}

.slideout-menu a, .dropdown-menu>li>a{
  color: #ddd;
}

.slideout-menu .nav>li>a:focus, .nav>li>a:hover, .slideout-menu .nav>li>a:active, .slideout-menu .nav .open>a, .slideout-menu .nav .open>a:focus, .slideout-menu .nav .open>a:hover{
    background-color: #484848;
    text-decoration: none;
}

.slideout-menu .navbar-nav .open .dropdown-menu>li.dropdown-header>a{
  padding: 0!important;    
  line-height: 0!important;
  margin-top: 20px;
}

.slideout-menu .dropdown.open{
    background-color: #484848;  
}

.slideout-menu .dropdown-header{
    color: #fff;
    font-weight: 700;
}

.slideout-menu .dropdown-menu .divider{
    background-color: #CCC;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  transition: 0.3s;
  left: 0;
}

.slideout-open .slideout-panel {
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  opacity: 1!important;
  left: 0;
}

.slideout-menu .dropdown-header {
  padding: 3px 15px;
  font-size: 16px;
  position: relative;
}

.slideout-menu .dropdown-menu .dropdown-header:after {
  content: "";
  width: 100%;
  left: 0;
  top: 5px;
  display: block;
  position: absolute;
  border-bottom: 1px solid #666;
}

.slideout-menu .dropdown-menu .divider {
  margin: 4px 0;
  background: none;
}

.slideout-menu .dropdown-header > a {
  font-weight: 700;
  color: #fff;
}

.slideout-menu .dropdown-header > a:hover {
  opacity: .8;
  color: #fff;
}