
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
    background: #535353;
  overflow-y: auto;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  left: -256px;
  transition: 0.3s;
}

.slideout-menu a, .dropdown-menu>li>a{
  color: #fff;
}

.slideout-menu .nav>li>a:focus, .nav>li>a:hover, .slideout-menu .nav>li>a:active, .slideout-menu .nav .open>a, .slideout-menu .nav .open>a:focus, .slideout-menu .nav .open>a:hover{
    background-color: #484848;
    text-decoration: none;
}

.slideout-menu .navbar-nav .open .dropdown-menu>li.dropdown-header>a{
  padding: 0!important;    
  line-height: 0!important;
  margin-top: 20px;
}

.slideout-menu .dropdown.open{
    background-color: #484848;  
}

.slideout-menu .dropdown-header{
    color: #CCC;
    font-style: italic;
}

.slideout-menu .dropdown-menu .divider{
    background-color: #CCC;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  transition: 0.3s;
  left: 0;
    -webkit-transform: translate3d(0px, 0px, 0px)!important;
    -moz-transform: translate3d(0px, 0px, 0px)!important;
    transform: translate3d(0px, 0px, 0px)!important;
}

.slideout-open .slideout-panel {
  left: 256px;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  opacity: 1!important;
  left: 0;
}
