.container__category_account{

}

.container__category_account .trade__leftbox{
	float: right;
    margin-top: 0;
}

.container__category_account .trade__rightbox{
	float: left;
    border-right: 1px solid #E2E1E1;
    padding-right: 10px;
    padding-bottom: 150px;
    margin-bottom: 25px;
    margin-top: 0;
}

.container__category_account .blocckforinput i{
    margin-bottom: 10px;
}


.container__category_account .forgot__pass__link{
    margin-top: 7px;
}

.container__category_account .rght__loginblock{
	background: none;
}

.container__category_account .trade__leftbox .submitbutton{
	margin-left: 0;
}

.container__category_account .rght__loginblock .needhelpmodal__contactblock__form{
	    width: 85%;
}

.container__category_account .rght__loginblock p{
    font: 13px Arial;
    color: #333333;
}


.container__category_account .trade__leftbox p {
    font: 13px Arial;
    color: #333333;
}

.container__category_account .brands__fullwidth__box__title{
    color: #000;
    font: 25px Arial;
}


@media (max-width: 600px){
	.container__category_account .trade__rightbox{
    border: none;
    padding-right: 10px;
    padding-bottom: 0;
    margin-bottom: 25px;
}

}
@media (min-width: 601px) and (max-width: 791px){
	.container__category_account .trade__rightbox{
    padding-right: 10px;
    padding-bottom: 0;
    margin-bottom: 25px;
}

}