

.container__category_checkoutpage{

}

.container__category_checkoutpage .title__cart__box{
    color: #333;
    font: bold 18px Arial;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.table__controll__uprempanel.table__controll__uprempanel__checkoutpage{
    text-align: left;
    padding: 10px 0;
}

.table__controll__uprempanel.table__controll__uprempanel__checkoutpage .table__controll__uprempanel__link__remove{

}


.form-horizontal.form__promocode{
    float: right;
    width: 35%;
    margin-right: -5px;
    top: -5.5px;
    position: relative;
}

.form-group .form__promocode__group{

}


.form-group .form__promocode__lable{
    font: bold 12px Arial;
    color: #333333;
    margin-right: -20px;
    width: 40%;
}

.form-group .form__promocode__input{
    color: #000;
    background-color: #fff;
    width: 120px;
    margin-right: 5px;
    font-size: 12px;
    font-family: arial;
    border: solid 1px #a7a6aa;
    padding: 2px 2px 2px 2px;
    border-radius: 0;
    line-height: 16px;
    height: 24px;
    display: inline-block;
}

.buttons__activatepromo{
    background: #507578;
    font: bold 11px Arial;
    color: #fff;
    height: 25px;
    border: 1px solid #426366;
    -webkit-appearance: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 3px;
    -webkit-appearance: none;
    display: inline-block;
}

.form-horizontal .form-group .col-sm-10{
    width: 60.533333%!important;
    padding-right: 2px;
}

.pays__form__box{
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.billing__block__pays__form{
    display: inline-block;
    width: 32.5%;
}

.billing__block__pays__form .billing__block__pays__form__box{
    padding-right: 7px;
}

.billing__block__pays__form__box{

    border-right: 1px solid #E7E7E7;
    margin-right: 5px;
}

.form-group.form-group__billing__block__pays__form{
        margin-bottom: 0px;
    margin-top: 10px;
}


.billing__block__pays__form__label{
    font: 12px Arial;
    color: #333333;
    text-align: left!important;
    width: 38.666667%;
    padding-right: 0;
    margin-right: -15px;
}

.billing__block__pays__form__inputblock{

}

.billing__block__pays__form__input{
    color: #000;
    background-color: #fff;
    font-size: 12px;
    font-family: arial;
    border: solid 1px #a7a6aa;
    padding: 7px 7px 7px 7px;
    margin: 0px 0px 0 0px;
    border-radius: 0;
}


.billing__block__pays__form__textarea{
    color: #000;
    background-color: #fff;
    font-size: 12px;
    font-family: arial;
    border: solid 1px #a7a6aa;
    padding: 7px 7px 7px 7px;
    margin: 0px 0px 0 0px;
    border-radius: 0;
    min-height: 90px;
}

.billing__block__pays__form__select{
    display: inline-block;
    color: #333333;
    font-size: 12px;
    font-family: arial;
    border: solid 1px #A7A6AA;
    padding: 7px 7px 7px 7px;
    margin: 0;
    border-radius: 0;
    background: #DDD;
}

.shipping__block__pays__form{
    display: block;
    width: 32.5%;
    float: left;
    margin-right: 5px;
}

.payment__block__pays__form{
    display: block;
    width: 34%;
    float: right;
}

.billing__block__pays__form__label.needadd::after{
    content: '*';
    display: inline-block;
    position: absolute;
    font: bold 10px verdana;
    color: #FD0000;
}

.billing__block__pays__form__box__title{
    color: #333;
    font: bold 18px Arial;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;    
}

.usebillingaddres__button{
    background: #507578;
    font: bold 11px Arial;
    color: #fff;
    height: 25px;
    border: 1px solid #426366;
    -webkit-appearance: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 3px;
    -webkit-appearance: none;
    float: right;
    margin-right: 5px;
}

.usebillingaddres__button:hover {
    background: #426366;
    border: 1px solid #426366;
    -webkit-appearance: none;
}

.paymentmethod__box{
    display: block;
    position: relative;
    margin-top: 10px;
}

.change__paymentmethod__block{
    background: #F7F7F7;
    border: 1px solid #DDD;
    padding: 2px 5px 0px 5px;
}

.change__paymentmethod__block .product__filtr__form:first-child{
    width: 100%;
}

.imagechange__paymentmethod__block{
    border: 1px solid #DDD;
    border-top: 0;
    padding: 5px;    
}

.imagechange__paymentmethod__block__ul{
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.imagechange__paymentmethod__block__li{
    display: inline-block;
    margin-right: 5%;
    background: #000;
}

.imagechange__paymentmethod__block__link{

}

.imagechange__paymentmethod__block__li.active .imagechange__paymentmethod__block__img{
    opacity: 1;
}

.imagechange__paymentmethod__block__img{
    opacity: 0.7;
}

.amount__paymentmethod__block{
    background: #F7F7F7;
    border: 1px solid #DDD;
    padding: 4px 5px 5px 5px;
    border-top: 0;
}

.amount__paymentmethod__block__title{
    font: bold 12px Arial;
    color: #333333;
}

.amount__paymentmethod__block__price{
    font: Bold 15px Arial;
    color: #000000;
    margin-left: 25px;
}

.payment__info__box{
    border: 1px solid #DDD;
    padding: 10px 5px;
    border-top: 0;
}

.payment__info__form{

}

.payment__info__form__group{
    margin-bottom: 10px;
}

.payment__info__form__label{
    font: 12px Arial;
    color: #333333;
    width: 30%;
    text-align: left!important;
}

.payment__info__form__block{

}

.payment__info__form__select{
    color: #333333;
    font-size: 12px;
    font-family: arial;
    border: solid 1px #A7A6AA;
    padding: 7px 7px 7px 7px;
    margin: 0;
    color: #000;
    border-radius: 0;
    background: #DDD;
}

.payment__info__form__input{
    color: #000;
    background-color: #fff;
    font-size: 12px;
    font-family: arial;
    border: solid 1px #a7a6aa;
    padding: 7px 7px 7px 7px;
    margin: 0;
    border-radius: 0;
}

.payment__info__form__morlabel{
    font: 12px Arial;
    color: #333333;
    width: 32%;
    text-align: left!important;
    padding-right: 0;
    padding-left: 0;
    display: inline-block;
}

.twoogred__formgroup{
    display: inline-block;
    width: 30%;
}

.payment__info__form__group_code .payment__info__form__input{
    width: 40%;
    display: inline-block;
}

.twoogred__formgroup .payment__info__form__select{
    width: 60%;
    margin-right: 0;
    display: inline-block;
    padding: 5px;
    height: 30px;
}

.twoogred__formgroup.twoogred__formgroup_month .payment__info__form__morlabel{
    padding-left: 15px;
    width: 47%;
    margin-right: -8%;
}

.twoogred__formgroup.twoogred__formgroup_month .payment__info__form__select{
    width: 47%;
    margin-right: 0;
    display: inline-block;
    margin-left: 15px;
}


.payment__info__form__group .control-label.needadd::after{
    content: '*';
    display: inline-block;
    position: absolute;
    font: bold 10px verdana;
    color: #FD0000;
}

.whatscode__link{
    cursor: pointer;
    color: #333333;
    font: 12px arial;
    text-decoration: underline;
    margin-left: 5px;
    display: inline-block;
}

.whatscode__link:hover {
    cursor: pointer;
    color: #333333;
    text-decoration: none;
}

.btnbl{
    background: #507578;
    font: bold 17px Arial;
    color: #fff;
    height: 38px;
    width: 100%;
    border: 1px solid #426366;
    -webkit-appearance: none;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 10px;
}

.btnbl:hover {
    background: #426366;
    border: 1px solid #426366;
    -webkit-appearance: none;
}

.payment__txtinfo__block{
    font: 12px Arial;
    color: #111;
    margin-top: 20px;
}

.linku {
    color: #333333;
    font: 12px arial;
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
}

.linku:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}

.paymentmethod__box.noactive{
    display: none;
}

.payment__info__box__txtinfo{
    font: 12px Arial;
    color: #111;
    margin-bottom: 10px;
}

.payment__info__box__txtinfoimg{

}

.paymentmethod__box_echeck .payment__info__form__label {
    width: 33%;
}

.radio__group__ecard{
    margin-left: 15px;
}

.paymentmethod__box_echeck .payment__info__form__group .col-sm-10{
    padding-left: 0;
}

.ecard__payinfoimg{

}


@media (max-width: 532px){
.form-horizontal.form__promocode {
    float: none;
    width: 100%;
    margin-right: -5px;
    top: 5px;
    margin-left: 10px;
    position: relative;
}

.form-horizontal .form-group .col-sm-10 {
    width: 100%!important;
    padding-right: 2px;
}

.billing__block__pays__form {
    display: block;
    width: 100%;
    float: none;
    margin-bottom: 25px;
}

.shipping__block__pays__form {
    display: block;
    width: 100%;
    float: none;
    margin-right: 5px;
    border: 0;
}

.payment__block__pays__form {
    display: block;
    width: 100%;
    float: none;
    margin-top: 25px;
}

.billing__block__pays__form__box {
    border-right: 0;
}

.payment__info__form__select{
    width: 95%;
}

.payment__info__form__input{
    width: 95%;
}

.payment__info__form__group_code + .payment__info__form__group .payment__info__form__label{
    display: none;
}

.twoogred__formgroup {
    display: inline-block;
    width: 40%;
}

.paymentmethod__box_echeck .product__filtr__form__label__input{
    margin-left: 20px;
}
.paymentmethod__box_echeck .payment__info__form__label {
    width: 40%;
}

.paymentmethod__box_echeck .payment__info__form__input {
    width: 82%;
    margin-left: 20px;
}

}


@media (min-width: 533px) and (max-width: 620px){
.form-horizontal.form__promocode {
    float: none;
    width: 100%;
    margin-right: -5px;
    top: 5px;
    margin-left: 10px;
    position: relative;
}

.form-horizontal .form-group .col-sm-10 {
    width: 100%!important;
    padding-right: 2px;
}

.billing__block__pays__form {
    display: block;
    width: 100%;
    float: none;
    margin-bottom: 25px;
}

.shipping__block__pays__form {
    display: block;
    width: 100%;
    float: none;
    margin-right: 5px;
    border: 0;
}

.payment__block__pays__form {
    display: block;
    width: 100%;
    float: none;
    margin-top: 25px;
}

.billing__block__pays__form__box {
    border-right: 0;
}

.payment__info__form__select{
    width: 95%;
}

.payment__info__form__input{
    width: 95%;
}

.payment__info__form__group_code + .payment__info__form__group .payment__info__form__label{
    width: 20%;
}

.twoogred__formgroup {
    display: inline-block;
    width: 28%;
}


.paymentmethod__box_echeck .product__filtr__form__label__input{
    margin-left: 20px;
}
.paymentmethod__box_echeck .payment__info__form__label {
    width: 40%;
}

.paymentmethod__box_echeck .payment__info__form__input {
    width: 82%;
    margin-left: 20px;
}


}



@media (min-width: 521px) and (max-width: 750px){
.form-horizontal.form__promocode {
    float: none;
    width: 100%;
    margin-right: -5px;
    top: 5px;
    margin-left: 10px;
    position: relative;
}

.form-horizontal .form-group .col-sm-10 {
    width: 100%!important;
    padding-right: 2px;
}

.billing__block__pays__form {
    display: inline-block;
    width: 50.5%;
    margin-left: 3%;
}
.shipping__block__pays__form {
    display: block;
    width: 45.5%;
    float: left;
    margin-right: 5px;
}

.payment__block__pays__form {
    display: block;
    width: 100%;
    float: none;
    margin-top: 25px;
}

.billing__block__pays__form__box {
    border-right: 0;
}

.payment__info__form__select{
    width: 95%;
}

.payment__info__form__input{
    width: 95%;
}

.payment__info__form__group_code{
    width: 46%;
    display: inline-block;
}


.payment__info__form__group_code + .payment__info__form__group{
    width: 60%;
    display: inline-block;
}

.payment__info__form__group_code + .payment__info__form__group .payment__info__form__label{
    width: 20%;
}

.twoogred__formgroup {
    display: inline-block;
    width: 38%;
}


.paymentmethod__box_echeck .product__filtr__form__label__input{
    margin-left: 20px;
}
.paymentmethod__box_echeck .payment__info__form__label {
    width: 40%;
}

.paymentmethod__box_echeck .payment__info__form__input {
    width: 82%;
    margin-left: 20px;
}


}



@media (min-width: 751px) and (max-width: 999px){

.form-horizontal.form__promocode {
    float: right;
    width: 50%;
}

.billing__block__pays__form__box__title {
    font: bold 13px Arial;
}

.usebillingaddres__button {
    background: #507578;
    font: bold 9px Arial;
}

.imagechange__paymentmethod__block__li {
    display: inline-block;
    margin-right: 4%;
}


.payment__info__form__group_code + .payment__info__form__group .payment__info__form__label{
    display: none;
}

.twoogred__formgroup {
    display: inline-block;
    width: 46.5%;
}

.change__paymentmethod__block .product__filtr__form:first-child {
    width: 100%!important;
    text-align: left!important;
}

}