.container__category_contact{

}

.container__category_contact .hb__block{
    margin-bottom: 10px;
}


.contact__leftblock{

    display: inline-block;
    width: 70%;
}

.contact__leftblock p{
    font: 12px Arial;
}

.container__category_contact .needhelpmodal__contactblock__label{
    width: 100px;
}

.contact__rightblock{
    display: inline-block;
    width: 25%;
    float: right;
    font: 12px Arial;
    color: #333333;
}

.contact__leftblock .form-control{
    width: 65%;
}


.contact__leftblock .form-group_textarea .form-control{
    width: 100%;	
}


@media (max-width: 639px){
	.contact__leftblock{

    display: inline-block;
    width: 100%;
}

.contact__leftblock .needhelpmodal__contactblock__form{
	width: 100%;
}

.contact__leftblock .blocckforinput{
	width: 100%;
}

.contact__leftblock .form-control{
    width: 100%;
}

.contact__rightblock{
    display: inline-block;
    width: 80%;
    float: none;
}

}


@media (min-width: 640px) and (max-width: 840px){

.contact__leftblock .needhelpmodal__contactblock__form{
	width: 100%;
}

.contact__leftblock .blocckforinput{
	width: 100%;
}

.contact__leftblock .form-control {
    width: 80%;
}


}