

.favorites__box__title{
    color: #000;
    font: 25px Arial;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 5px 0px;    
}

.favorites__controll_panel{
    margin: 15px 0;
    position: relative;
    display: block;
    margin-bottom: -2px;
}

.favorites__keepshopping-button{
    background: #eeeeee;
    font: bold 17px Arial;
    color: #333;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-appearance: none;
    float: right;
    padding: 10px 15px 6px 15px;
    top: -15px;
    position: relative;
}

.favorites__box{
    border: 1px solid #D5D5D5;
    padding: 25px;
    margin-bottom: 25px;
}

.favorites__box .product__block {
    width: 21.1%;
}

.favorites__box .product__block:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
}


.favorites__box .product__block{
    margin-left: 4.79%!important;
    display: inline-table;
}


.favorites__box .product__block:nth-child(4n-3) {
    margin-left: 0!important;
}

.favorites__compare__block{
    margin-bottom: 10px;
    display: none;
}

.favorites__box_compareview .favorites__compare__block{
    display: block;
}

.favorites__compare__info{
    font: 12px Arial;
    color: #333333;
    padding: 5px 0px 0px 0px;
    display: block;
}


.favorites__compare__info b{

}

.removeitem__compare__link{
    cursor: pointer;
    color: #880000;
    font: 12px arial;
    text-decoration: underline;
}

.removeitem__compare__link:hover{
    text-decoration: none;
    color: #880000;
}

.carusel__recent__product_favorites{

}


.carusel__recent__product_favorites .carusel__recent__title{
    text-align: left;    
}

.carusel__recent__product_favorites .brands__list{
    margin: 0 0.12%;
}


@media (max-width: 600px){
    .favorites__box .product__block {
    width: 49.5%;
}

.favorites__box .product__block {
    margin-left: 0%!important;
    display: inline-table;
}
}



@media (min-width: 601px) and (max-width: 800px){
    .favorites__box .product__block {
    width: 23%;
}

.favorites__box .product__block {
    margin-left: 2%!important;
    display: inline-table;
}
}