$col-space: 30px;
$col-number: 12;

.row {
	box-sizing: border-box;
	margin: 0 -15px;

	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

@for $i from 1 through $col-number {

	.col-#{$i} {
		width: (100%/$col-number)*$i;
		box-sizing: border-box;
		float: left;
		padding: {
			left: $col-space/2;
			right: $col-space/2;
		}
	}
}