.slider {
	border: 2px solid $border-grey;
	position: relative;
	width: 970px;
	margin: 0 auto;

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	.slider-item {

		.feedback-part {
			position: absolute;
			top: 50%;
			left: 30px;
			transform: translateY(-50%);
			width: 600px;

			.date {
				font-size: $small-text;
			}

			.revieved {
				font-size: $small-text;
			}

			.topic {
				font-size: $small-text;

				.topic-text {
					font-weight: $bold;
				}
			}

			.feedback-text {
				font-size: $title3-text;
				font-weight: $semibold;
				margin-top: 8px;
			}
		}

		.reader-snippet {
			float: right;
			margin: -2px -2px -2px 0;
		}
	}

	.arrow-left,
	.arrow-right {
		position: absolute;
		width: 98px;
		top: -2px;
		bottom: -2px;
		cursor: pointer;
		transition: .2s;

		&:after {
			content: "";
			border-right: 2px solid $border-grey;
			width: 50px;
			height: 50px;
			position: absolute;
			border-top: 2px solid $border-grey;
			top: 50%;
			margin-top: -25px;
			transition: .2s;
		}

		&:hover {
			background: $latest-grey;

			&:after {
				border-color: $darkish-grey;
			}
		}
	}

	.arrow-right {
		right: -100px;

		&:after {
			transform: rotate(45deg);
			left: 7px;
		}
	}

	.arrow-left {
		left: -100px;

		&:after {
			transform: rotate(-135deg);
			right: 10px;
		}
	}

	.bullets {
		position: absolute;
		left: 50%;
		top: 216px;
		transform: translateX(-50%);

		li {
			border-radius: 50%;
			background: $light-grey;
			width: 10px;
			height: 10px;
			display: block;
			float: left;
			margin: 7px;
			position: relative;
			cursor: pointer;
			transition: .2s;

			&:after {
				content: "";
				position: absolute;
				width: 24px;
				height: 25px;
				margin-left: -7px;
				margin-top: -7px;
			}

			&:hover {
				background: $darkish-grey;
			}

			&.active {
				background: $dark-grey;
			}
		}
	}
}