@import url(icons/style.css);
body {
  margin: 0;
  font-family: 'Open Sans';
  color: #222;
  font-size: 16px; }

ul {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 1170px;
  margin: 0 auto;
  position: relative; }
  .wrapper:after {
    content: "";
    display: block;
    clear: both; }

.input-block {
  position: relative; }
  .input-block input {
    border: none;
    height: 34px;
    padding: 0;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    width: 100%;
    outline: 0px solid rgba(255, 255, 255, 0.2);
    padding-left: 12px;
    font-family: "Open Sans";
    font-size: 14px;
    color: #fff; }
    .input-block input:focus {
      outline: 5px solid rgba(255, 255, 255, 0.2); }
  .input-block label {
    position: absolute;
    left: 14px;
    top: 9px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    cursor: text; }
  .input-block input:focus + label,
  .input-block input:valid + label {
    top: -19px;
    color: #fff;
    font-weight: 600; }
  .input-block.active label {
    top: -19px;
    color: #fff;
    font-weight: 600; }

.select-block select {
  border: none;
  height: 34px;
  padding: 0;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 100%;
  outline: 0px solid rgba(255, 255, 255, 0.2);
  padding-left: 12px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #fff; }

.main-footer {
  background: #000;
  padding-top: 42px;
  overflow: hidden; }
  .main-footer .pages-lists:after {
    content: "";
    display: block;
    clear: both; }
  .main-footer .pages-lists .pages-list-block {
    float: left;
    width: 200px;
    padding: 0 50px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 290px; }
    .main-footer .pages-lists .pages-list-block:first-child {
      padding-left: 0;
      border-left: none; }
    .main-footer .pages-lists .pages-list-block h3 {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.9);
      margin: 0 0 10px; }
    .main-footer .pages-lists .pages-list-block .pages-list li {
      display: block;
      padding: 2px 0; }
      .main-footer .pages-lists .pages-list-block .pages-list li a {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        padding: 2px 0; }
        .main-footer .pages-lists .pages-list-block .pages-list li a:hover {
          color: rgba(255, 255, 255, 0.7); }
        .main-footer .pages-lists .pages-list-block .pages-list li a:active {
          color: rgba(255, 255, 255, 0.9); }
  .main-footer .footer-info {
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9); }
    .main-footer .footer-info .additional-link {
      margin-top: 6px; }
      .main-footer .footer-info .additional-link a {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        padding: 2px 0; }
        .main-footer .footer-info .additional-link a:hover {
          color: rgba(255, 255, 255, 0.7); }
        .main-footer .footer-info .additional-link a:active {
          color: rgba(255, 255, 255, 0.9); }
  .main-footer .bottom-footer {
    margin-top: 26px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    height: 58px; }
    .main-footer .bottom-footer .footer-logo {
      position: absolute;
      top: 11px;
      left: 0; }
    .main-footer .bottom-footer .copy {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
      line-height: 58px;
      margin-left: 160px; }

.row {
  box-sizing: border-box;
  margin: 0 -15px; }
  .row:after {
    content: "";
    display: block;
    clear: both; }

.col-1 {
  width: 8.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-2 {
  width: 16.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-3 {
  width: 25%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-4 {
  width: 33.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-5 {
  width: 41.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-6 {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-7 {
  width: 58.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-8 {
  width: 66.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-9 {
  width: 75%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-10 {
  width: 83.33333%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-11 {
  width: 91.66667%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.col-12 {
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.reader-snippet {
  display: block;
  position: relative;
  margin: 40px 0;
  /*____________________________________________________________*/
  /* AVA */ }
  .reader-snippet .ava-part {
    width: 270px;
    font-size: 0; }
    .reader-snippet .ava-part .ava-img {
      width: 100%; }
  .reader-snippet .info-part {
    position: absolute;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #e2e7ea;
    border-right: 2px solid #e2e7ea;
    /*____________________________________________________________*/
    /* TOP INFO */
    /*____________________________________________________________*/
    /* MAJOR INFO */ }
    .reader-snippet .info-part .top-info {
      background: #e9ecef;
      position: relative;
      height: 30px;
      /* Status bar*/
      /* Reader name */ }
      .reader-snippet .info-part .top-info .status-bar {
        margin-left: 520px;
        line-height: 30px;
        font-size: 14px;
        font-weight: 700; }
        .reader-snippet .info-part .top-info .status-bar .online-status {
          float: left;
          margin-right: 20px; }
          .reader-snippet .info-part .top-info .status-bar .online-status.online {
            display: inline-block;
            color: #66bb6a; }
            .reader-snippet .info-part .top-info .status-bar .online-status.online:before {
              content: "";
              display: inline-block;
              width: 10px;
              height: 10px;
              background: #66bb6a;
              border-radius: 50%;
              margin-right: 3px; }
            .reader-snippet .info-part .top-info .status-bar .online-status.online:after {
              content: "Online"; }
        .reader-snippet .info-part .top-info .status-bar .premium-status {
          float: left;
          color: #ffa000;
          margin-right: 10px;
          display: none; }
          .reader-snippet .info-part .top-info .status-bar .premium-status .icon-star {
            margin-right: 3px;
            font-size: 13px; }
          .reader-snippet .info-part .top-info .status-bar .premium-status.premium {
            display: block; }
        .reader-snippet .info-part .top-info .status-bar .favourite-status {
          float: left;
          overflow: hidden; }
          .reader-snippet .info-part .top-info .status-bar .favourite-status.favourite .favourite-link span {
            text-decoration: none; }
            .reader-snippet .info-part .top-info .status-bar .favourite-status.favourite .favourite-link span:after {
              content: "Favorite Reader"; }
            .reader-snippet .info-part .top-info .status-bar .favourite-status.favourite .favourite-link span:before {
              content: "\e907";
              margin-right: 3px;
              font-family: 'icomoon' !important;
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 12px;
              margin-right: 3px; }
          .reader-snippet .info-part .top-info .status-bar .favourite-status.favourite .favourite-link:before {
            content: "\e908";
            margin-right: 3px;
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 12px;
            position: absolute;
            top: 39px;
            left: 9px;
            z-index: 2; }
          .reader-snippet .info-part .top-info .status-bar .favourite-status.favourite .favourite-link:after {
            content: "Unfavourite";
            position: absolute;
            top: 30px;
            left: 0;
            line-height: 30px;
            width: 130px;
            padding: 0 10px;
            background: #dde2e6;
            text-decoration: underline;
            padding-left: 26px;
            transition: .2s background; }
          .reader-snippet .info-part .top-info .status-bar .favourite-status.favourite .favourite-link:hover {
            color: #e15d5d;
            top: -30px; }
          .reader-snippet .info-part .top-info .status-bar .favourite-status.favourite .favourite-link:active {
            color: #dd4848; }
            .reader-snippet .info-part .top-info .status-bar .favourite-status.favourite .favourite-link:active:after {
              background: #c6cdd5; }
          .reader-snippet .info-part .top-info .status-bar .favourite-status .favourite-link {
            color: #9575cd;
            text-decoration: none;
            line-height: 30px;
            display: block;
            padding: 0 10px;
            transition: .2s;
            position: relative; }
            .reader-snippet .info-part .top-info .status-bar .favourite-status .favourite-link:hover {
              background: #dde2e6;
              color: #8966c8; }
            .reader-snippet .info-part .top-info .status-bar .favourite-status .favourite-link:active {
              background: #c6cdd5;
              color: #7248bd; }
            .reader-snippet .info-part .top-info .status-bar .favourite-status .favourite-link span {
              text-decoration: underline; }
              .reader-snippet .info-part .top-info .status-bar .favourite-status .favourite-link span:before {
                content: "Add to Favorites"; }
            .reader-snippet .info-part .top-info .status-bar .favourite-status .favourite-link:before {
              content: "\e901";
              font-family: 'icomoon' !important;
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 12px;
              margin-right: 2px; }
      .reader-snippet .info-part .top-info .reader-name {
        text-transform: uppercase;
        display: inline;
        position: absolute;
        left: -10px;
        top: 0;
        margin-left: 30px;
        font-size: 18px;
        font-weight: 700; }
        .reader-snippet .info-part .top-info .reader-name .name-link {
          color: #9575cd;
          line-height: 30px;
          display: block;
          padding: 0 10px;
          transition: .2s; }
          .reader-snippet .info-part .top-info .reader-name .name-link:hover {
            background: #dde2e6;
            color: #8966c8; }
          .reader-snippet .info-part .top-info .reader-name .name-link:active {
            background: #c6cdd5;
            color: #7248bd; }
    .reader-snippet .info-part .major-info {
      left: 30px;
      top: 50%;
      position: absolute;
      margin-top: 13px;
      transform: translateY(-50%);
      /* First info */
      /* Second info */ }
      .reader-snippet .info-part .major-info .first-info {
        width: 420px;
        float: left; }
        .reader-snippet .info-part .major-info .first-info .brief-info {
          font-size: 24px;
          font-weight: 700; }
        .reader-snippet .info-part .major-info .first-info .reader-tag-list {
          font-size: 14px;
          margin-top: 12px; }
          .reader-snippet .info-part .major-info .first-info .reader-tag-list .reader-tag {
            display: block;
            margin: 4px 0; }
            .reader-snippet .info-part .major-info .first-info .reader-tag-list .reader-tag:before {
              content: "\2014";
              margin-right: 4px; }
      .reader-snippet .info-part .major-info .second-info {
        margin-left: 490px; }
        .reader-snippet .info-part .major-info .second-info .info-list {
          overflow: hidden;
          padding-top: 5px; }
          .reader-snippet .info-part .major-info .second-info .info-list .info-item {
            float: left;
            display: block;
            margin-right: 40px;
            font-size: 14px; }
            .reader-snippet .info-part .major-info .second-info .info-list .info-item .info-title {
              font-weight: 300; }
            .reader-snippet .info-part .major-info .second-info .info-list .info-item .info-number {
              font-weight: 700; }
        .reader-snippet .info-part .major-info .second-info .major-actions {
          margin-top: 20px; }
          .reader-snippet .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn {
            display: inline-block;
            height: 34px;
            line-height: 34px;
            padding: 0 20px;
            background: #66bb6a;
            color: #fff;
            text-decoration: none;
            transition: .2s;
            font-size: 16px;
            font-weight: 600;
            transform: translateY(0px); }
            .reader-snippet .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn:hover {
              background: #439747; }
            .reader-snippet .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn:active {
              background: #2d6530;
              transform: translateY(2px); }
            .reader-snippet .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn .icon-phone {
              margin-right: 3px; }
          .reader-snippet .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn {
            display: inline-block;
            height: 34px;
            line-height: 34px;
            padding: 0 20px;
            background: #66bb6a;
            color: #fff;
            text-decoration: none;
            transition: .2s;
            font-size: 16px;
            font-weight: 600;
            transform: translateY(0px); }
            .reader-snippet .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn:hover {
              background: #439747; }
            .reader-snippet .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn:active {
              background: #2d6530;
              transform: translateY(2px); }
            .reader-snippet .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn .icon-bubbles2 {
              margin-right: 4px; }
          .reader-snippet .info-part .major-info .second-info .major-actions .actions-description {
            font-size: 14px;
            margin-top: 5px;
            font-weight: 300; }
            .reader-snippet .info-part .major-info .second-info .major-actions .actions-description .reading-price {
              display: inline-block;
              margin-right: 16px; }
            .reader-snippet .info-part .major-info .second-info .major-actions .actions-description .special-chat-offer {
              display: inline-block; }
  .reader-snippet.vertical {
    float: left;
    margin-top: 30px;
    margin-bottom: 0; }
    .reader-snippet.vertical + .vertical {
      margin-left: 30px; }
    .reader-snippet.vertical:nth-child(3n+1) {
      margin-left: 0; }
    .reader-snippet.vertical .ava-part {
      width: 370px; }
    .reader-snippet.vertical .info-part {
      position: relative;
      width: 366px;
      left: 0;
      border-left: 2px solid #e2e7ea;
      /*____________________________________________________________*/
      /* TOP INFO */
      /*____________________________________________________________*/
      /* MAJOR INFO */ }
      .reader-snippet.vertical .info-part .top-info {
        background: #e9ecef;
        position: relative;
        height: 30px;
        /* Status bar*/
        /* Reader name */ }
        .reader-snippet.vertical .info-part .top-info .status-bar {
          margin-left: 0;
          line-height: 30px;
          font-size: 14px;
          font-weight: 700; }
          .reader-snippet.vertical .info-part .top-info .status-bar .online-status {
            float: left;
            margin-left: 12px;
            margin-right: 0; }
            .reader-snippet.vertical .info-part .top-info .status-bar .online-status.online {
              display: inline-block;
              color: #66bb6a; }
              .reader-snippet.vertical .info-part .top-info .status-bar .online-status.online:before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                background: #66bb6a;
                border-radius: 50%;
                margin-right: 3px; }
              .reader-snippet.vertical .info-part .top-info .status-bar .online-status.online:after {
                content: ""; }
          .reader-snippet.vertical .info-part .top-info .status-bar .premium-status {
            float: left;
            color: #ffa000;
            margin-right: 12px;
            display: none;
            font-size: 0;
            margin-top: 5px;
            margin-left: 2px;
            position: relative;
            z-index: 100; }
            .reader-snippet.vertical .info-part .top-info .status-bar .premium-status .icon-star {
              margin-right: 3px;
              font-size: 13px; }
            .reader-snippet.vertical .info-part .top-info .status-bar .premium-status.premium {
              display: block; }
          .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status {
            float: right;
            overflow: hidden; }
            .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status.favourite .favourite-link span {
              text-decoration: none; }
              .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status.favourite .favourite-link span:after {
                content: "Favorite Reader"; }
              .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status.favourite .favourite-link span:before {
                content: "\e907";
                margin-right: 3px;
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 12px;
                margin-right: 3px; }
            .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status.favourite .favourite-link:before {
              content: "\e908";
              margin-right: 3px;
              font-family: 'icomoon' !important;
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 12px;
              position: absolute;
              top: 39px;
              left: 9px;
              z-index: 2; }
            .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status.favourite .favourite-link:after {
              content: "Unfavourite";
              position: absolute;
              top: 30px;
              left: 0;
              line-height: 30px;
              width: 130px;
              padding: 0 10px;
              background: #dde2e6;
              text-decoration: underline;
              padding-left: 26px;
              transition: .2s background; }
            .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status.favourite .favourite-link:hover {
              color: #e15d5d;
              top: -30px; }
            .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status.favourite .favourite-link:active {
              color: #dd4848; }
              .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status.favourite .favourite-link:active:after {
                background: #c6cdd5; }
            .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status .favourite-link {
              color: #9575cd;
              text-decoration: none;
              line-height: 30px;
              display: block;
              padding: 0 10px;
              transition: .2s;
              position: relative; }
              .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status .favourite-link:hover {
                background: #dde2e6;
                color: #8966c8; }
              .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status .favourite-link:active {
                background: #c6cdd5;
                color: #7248bd; }
              .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status .favourite-link span {
                text-decoration: underline; }
                .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status .favourite-link span:before {
                  content: "Add to Favorites"; }
              .reader-snippet.vertical .info-part .top-info .status-bar .favourite-status .favourite-link:before {
                content: "\e901";
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 12px;
                margin-right: 2px; }
        .reader-snippet.vertical .info-part .top-info .reader-name {
          text-transform: uppercase;
          display: inline;
          position: absolute;
          left: -10px;
          top: 0;
          margin-left: 47px;
          font-size: 16px;
          font-weight: 700; }
          .reader-snippet.vertical .info-part .top-info .reader-name .name-link {
            color: #9575cd;
            line-height: 30px;
            display: block;
            padding: 0 10px;
            transition: .2s; }
            .reader-snippet.vertical .info-part .top-info .reader-name .name-link:hover {
              background: #dde2e6;
              color: #8966c8; }
            .reader-snippet.vertical .info-part .top-info .reader-name .name-link:active {
              background: #c6cdd5;
              color: #7248bd; }
      .reader-snippet.vertical .info-part .major-info {
        position: relative;
        margin-top: 0;
        transform: none;
        left: 0;
        padding: 12px;
        /* First info */
        /* Second info */ }
        .reader-snippet.vertical .info-part .major-info .first-info {
          width: auto;
          float: none; }
          .reader-snippet.vertical .info-part .major-info .first-info .brief-info {
            font-size: 16px;
            font-weight: 700;
            margin-right: 30px; }
          .reader-snippet.vertical .info-part .major-info .first-info .reader-tag-list {
            font-size: 14px;
            margin-top: 10px; }
            .reader-snippet.vertical .info-part .major-info .first-info .reader-tag-list .reader-tag {
              display: inline;
              margin: 0; }
              .reader-snippet.vertical .info-part .major-info .first-info .reader-tag-list .reader-tag:before {
                content: "";
                margin: 0; }
              .reader-snippet.vertical .info-part .major-info .first-info .reader-tag-list .reader-tag:after {
                content: ", "; }
        .reader-snippet.vertical .info-part .major-info .second-info {
          margin-left: 0; }
          .reader-snippet.vertical .info-part .major-info .second-info .info-list {
            overflow: hidden;
            padding-top: 10px; }
            .reader-snippet.vertical .info-part .major-info .second-info .info-list .info-item {
              float: left;
              display: block;
              margin-right: 30px;
              font-size: 14px; }
              .reader-snippet.vertical .info-part .major-info .second-info .info-list .info-item .info-title {
                font-weight: 300; }
              .reader-snippet.vertical .info-part .major-info .second-info .info-list .info-item .info-number {
                font-weight: 700; }
          .reader-snippet.vertical .info-part .major-info .second-info .major-actions {
            margin-top: 14px; }
            .reader-snippet.vertical .info-part .major-info .second-info .major-actions .major-action-btns {
              text-align: right; }
              .reader-snippet.vertical .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn {
                display: inline-block;
                height: 34px;
                line-height: 34px;
                padding: 0 20px;
                background: #66bb6a;
                color: #fff;
                text-decoration: none;
                transition: .2s;
                font-size: 16px;
                font-weight: 600;
                transform: translateY(0px); }
                .reader-snippet.vertical .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn:hover {
                  background: #439747; }
                .reader-snippet.vertical .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn:active {
                  background: #2d6530;
                  transform: translateY(2px); }
                .reader-snippet.vertical .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn .icon-phone {
                  margin-right: 3px; }
              .reader-snippet.vertical .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn {
                display: inline-block;
                height: 34px;
                line-height: 34px;
                padding: 0 20px;
                background: #66bb6a;
                color: #fff;
                text-decoration: none;
                transition: .2s;
                font-size: 16px;
                font-weight: 600;
                transform: translateY(0px); }
                .reader-snippet.vertical .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn:hover {
                  background: #439747; }
                .reader-snippet.vertical .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn:active {
                  background: #2d6530;
                  transform: translateY(2px); }
                .reader-snippet.vertical .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn .icon-bubbles2 {
                  margin-right: 4px; }
            .reader-snippet.vertical .info-part .major-info .second-info .major-actions .actions-description {
              font-size: 14px;
              margin-top: 5px;
              text-align: right; }
              .reader-snippet.vertical .info-part .major-info .second-info .major-actions .actions-description .reading-price {
                display: inline-block; }
              .reader-snippet.vertical .info-part .major-info .second-info .major-actions .actions-description .special-chat-offer {
                display: inline-block; }
  .reader-snippet.small {
    float: left;
    margin: 0; }
    .reader-snippet.small + .vertical {
      margin-left: 30px; }
    .reader-snippet.small:nth-child(3n+1) {
      margin-left: 0; }
    .reader-snippet.small .ava-part {
      width: 270px; }
    .reader-snippet.small .info-part {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      border: none;
      /*____________________________________________________________*/
      /* TOP INFO */
      /*____________________________________________________________*/
      /* MAJOR INFO */ }
      .reader-snippet.small .info-part .top-info {
        background: none;
        position: absolute;
        top: 0;
        height: 50px;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
        /* Status bar*/
        /* Reader name */ }
        .reader-snippet.small .info-part .top-info .status-bar {
          margin-left: 0; }
          .reader-snippet.small .info-part .top-info .status-bar .online-status {
            margin-left: 8px;
            margin-right: 0; }
            .reader-snippet.small .info-part .top-info .status-bar .online-status.online:after {
              content: ""; }
          .reader-snippet.small .info-part .top-info .status-bar .premium-status {
            float: left;
            color: #ffa000;
            margin-right: 12px;
            display: none;
            font-size: 0;
            margin-top: 5px;
            margin-left: 2px;
            position: relative;
            z-index: 100; }
            .reader-snippet.small .info-part .top-info .status-bar .premium-status .icon-star {
              margin-right: 3px;
              font-size: 13px; }
            .reader-snippet.small .info-part .top-info .status-bar .premium-status.premium {
              display: block; }
          .reader-snippet.small .info-part .top-info .status-bar .favourite-status {
            display: none; }
        .reader-snippet.small .info-part .top-info .reader-name {
          text-transform: none;
          display: inline;
          position: absolute;
          left: -14px;
          top: 0;
          margin-left: 47px;
          font-size: 16px;
          font-weight: 700; }
          .reader-snippet.small .info-part .top-info .reader-name .name-link {
            color: #fff;
            line-height: 30px;
            display: block;
            padding: 0 10px;
            transition: .2s; }
            .reader-snippet.small .info-part .top-info .reader-name .name-link:hover {
              background: rgba(0, 0, 0, 0.1);
              color: rgba(255, 255, 255, 0.9); }
            .reader-snippet.small .info-part .top-info .reader-name .name-link:active {
              background: rgba(0, 0, 0, 0.2);
              color: rgba(255, 255, 255, 0.8); }
      .reader-snippet.small .info-part .major-info {
        position: absolute;
        bottom: 0;
        margin-top: 0;
        transform: none;
        left: 0;
        right: 0;
        padding: 12px;
        background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
        /* First info */
        /* Second info */ }
        .reader-snippet.small .info-part .major-info .first-info {
          display: none; }
        .reader-snippet.small .info-part .major-info .second-info {
          margin-left: 0; }
          .reader-snippet.small .info-part .major-info .second-info .info-list {
            display: none; }
          .reader-snippet.small .info-part .major-info .second-info .major-actions {
            margin-top: 14px; }
            .reader-snippet.small .info-part .major-info .second-info .major-actions .major-action-btns {
              position: absolute;
              bottom: 8px;
              left: 8px;
              right: 0; }
              .reader-snippet.small .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn {
                display: inline-block;
                height: 34px;
                line-height: 34px;
                padding: 0 20px;
                background: #66bb6a;
                color: #fff;
                text-decoration: none;
                transition: .2s;
                font-size: 16px;
                font-weight: 600;
                transform: translateY(0px); }
                .reader-snippet.small .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn:hover {
                  background: #439747; }
                .reader-snippet.small .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn:active {
                  background: #2d6530;
                  transform: translateY(2px); }
                .reader-snippet.small .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.call-btn .icon-phone {
                  margin-right: 3px; }
              .reader-snippet.small .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn {
                display: inline-block;
                height: 34px;
                line-height: 34px;
                padding: 0 20px;
                background: #66bb6a;
                color: #fff;
                text-decoration: none;
                transition: .2s;
                font-size: 16px;
                font-weight: 600;
                transform: translateY(0px); }
                .reader-snippet.small .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn:hover {
                  background: #439747; }
                .reader-snippet.small .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn:active {
                  background: #2d6530;
                  transform: translateY(2px); }
                .reader-snippet.small .info-part .major-info .second-info .major-actions .major-action-btns .btn-success.chat-btn .icon-bubbles2 {
                  margin-right: 4px; }
            .reader-snippet.small .info-part .major-info .second-info .major-actions .actions-description {
              font-size: 14px;
              margin-top: 5px;
              position: absolute;
              bottom: 44px;
              left: 8px;
              right: 0;
              font-weight: 700;
              color: #fff; }
              .reader-snippet.small .info-part .major-info .second-info .major-actions .actions-description .reading-price {
                display: inline-block;
                margin-right: 10px; }
              .reader-snippet.small .info-part .major-info .second-info .major-actions .actions-description .special-chat-offer {
                display: inline-block; }

.slider {
  border: 2px solid #e2e7ea;
  position: relative;
  width: 970px;
  margin: 0 auto; }
  .slider:after {
    content: "";
    display: block;
    clear: both; }
  .slider .slider-item .feedback-part {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 600px; }
    .slider .slider-item .feedback-part .date {
      font-size: 14px; }
    .slider .slider-item .feedback-part .revieved {
      font-size: 14px; }
    .slider .slider-item .feedback-part .topic {
      font-size: 14px; }
      .slider .slider-item .feedback-part .topic .topic-text {
        font-weight: 700; }
    .slider .slider-item .feedback-part .feedback-text {
      font-size: 24px;
      font-weight: 600;
      margin-top: 8px; }
  .slider .slider-item .reader-snippet {
    float: right;
    margin: -2px -2px -2px 0; }
  .slider .arrow-left,
  .slider .arrow-right {
    position: absolute;
    width: 98px;
    top: -2px;
    bottom: -2px;
    cursor: pointer;
    transition: .2s; }
    .slider .arrow-left:after,
    .slider .arrow-right:after {
      content: "";
      border-right: 2px solid #e2e7ea;
      width: 50px;
      height: 50px;
      position: absolute;
      border-top: 2px solid #e2e7ea;
      top: 50%;
      margin-top: -25px;
      transition: .2s; }
    .slider .arrow-left:hover,
    .slider .arrow-right:hover {
      background: #f0f2f4; }
      .slider .arrow-left:hover:after,
      .slider .arrow-right:hover:after {
        border-color: #b0bec5; }
  .slider .arrow-right {
    right: -100px; }
    .slider .arrow-right:after {
      transform: rotate(45deg);
      left: 7px; }
  .slider .arrow-left {
    left: -100px; }
    .slider .arrow-left:after {
      transform: rotate(-135deg);
      right: 10px; }
  .slider .bullets {
    position: absolute;
    left: 50%;
    top: 216px;
    transform: translateX(-50%); }
    .slider .bullets li {
      border-radius: 50%;
      background: #e9ecef;
      width: 10px;
      height: 10px;
      display: block;
      float: left;
      margin: 7px;
      position: relative;
      cursor: pointer;
      transition: .2s; }
      .slider .bullets li:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 25px;
        margin-left: -7px;
        margin-top: -7px; }
      .slider .bullets li:hover {
        background: #b0bec5; }
      .slider .bullets li.active {
        background: #90a4ae; }

.main-header .logo {
  font-size: 0; }
  .main-header .logo .logo-img {
    height: 40px; }
.main-header .main-nav .pages-list {
  position: absolute;
  top: 0;
  left: 350px; }
  .main-header .main-nav .pages-list .page-item {
    float: left;
    display: block; }
    .main-header .main-nav .pages-list .page-item .page-link {
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      display: block;
      font-weight: 600;
      color: #37474f;
      text-decoration: none;
      transition: .2s; }
      .main-header .main-nav .pages-list .page-item .page-link:hover {
        background: #eee; }
.main-header .main-nav .main-nav-actions-list {
  position: absolute;
  right: 0;
  top: 0; }
  .main-header .main-nav .main-nav-actions-list .minor-action {
    color: #9575cd;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
    font-weight: 700;
    transition: .2s; }
    .main-header .main-nav .main-nav-actions-list .minor-action span {
      border-bottom: 1px solid #cfc0e8; }
    .main-header .main-nav .main-nav-actions-list .minor-action:hover {
      color: #815bc4; }
      .main-header .main-nav .main-nav-actions-list .minor-action:hover span {
        border-bottom: 1px solid #b29adb; }
    .main-header .main-nav .main-nav-actions-list .minor-action:active {
      color: #6d43b8; }
      .main-header .main-nav .main-nav-actions-list .minor-action:active span {
        border-bottom: 1px solid #9575cd; }
  .main-header .main-nav .main-nav-actions-list .major-action {
    background: #9575cd;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
    display: block;
    float: left;
    transition: .2s; }
    .main-header .main-nav .main-nav-actions-list .major-action:hover {
      background: #815bc4; }
    .main-header .main-nav .main-nav-actions-list .major-action:active {
      background: #6d43b8; }

#home-page .content {
  /*____________________________________________________________*/
  /* HERO SECTION */
  /*____________________________________________________________*/
  /* FEATURED READERS */
  /*____________________________________________________________*/
  /* FEATURED READERS */
  /*____________________________________________________________*/
  /* ALL READERS */
  /*____________________________________________________________*/
  /* FEEDBACK SECTION */ }
  #home-page .content .hero-section {
    background: url(../img/lead.jpg) 50% 0 no-repeat;
    background-color: #a1498d;
    height: 460px;
    position: relative;
    overflow: hidden; }
    #home-page .content .hero-section .title-level-1 {
      font-size: 72px;
      font-family: "Open Sans Condensed";
      font-weight: 300;
      width: 700px;
      margin: 0 auto;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin-top: 60px; }
      #home-page .content .hero-section .title-level-1 strong {
        display: block;
        font-weight: 700; }
    #home-page .content .hero-section .tag-list {
      font-size: 0;
      text-align: center;
      width: 670px;
      position: absolute;
      bottom: 1px;
      left: 50%;
      transform: translate(-50%); }
      #home-page .content .hero-section .tag-list .tag {
        display: inline-block;
        margin: 1px;
        font-size: 14px; }
        #home-page .content .hero-section .tag-list .tag .tag-link {
          display: block;
          padding: 0 20px;
          height: 26px;
          line-height: 26px;
          color: #9575cd;
          font-weight: 700;
          background: rgba(0, 0, 0, 0.5);
          transition: .2s;
          position: relative; }
          #home-page .content .hero-section .tag-list .tag .tag-link:after {
            content: "";
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
            bottom: -1px; }
          #home-page .content .hero-section .tag-list .tag .tag-link:hover {
            color: #8762c6;
            background: rgba(0, 0, 0, 0.7); }
          #home-page .content .hero-section .tag-list .tag .tag-link:active {
            color: #7850bf;
            background: rgba(0, 0, 0, 0.85); }
  #home-page .content .featured-readers-section .title-level-2 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 0; }
  #home-page .content .how-it-works-section {
    background: url(../img/steps.png) 50% 160px no-repeat;
    background-color: #e9ecef;
    overflow: hidden;
    height: 460px;
    text-align: center;
    margin-top: 80px; }
    #home-page .content .how-it-works-section .title-level-2 {
      font-size: 50px;
      font-weight: 800;
      text-align: center;
      margin: 0;
      margin-top: 60px;
      margin-bottom: -6px; }
    #home-page .content .how-it-works-section .steps-list {
      text-align: center;
      margin-top: 184px;
      font-size: 24px;
      font-weight: 600; }
      #home-page .content .how-it-works-section .steps-list .step {
        display: inline-block;
        width: 300px; }
        #home-page .content .how-it-works-section .steps-list .step .step-number {
          display: none; }
    #home-page .content .how-it-works-section .btn-success.more-info-btn {
      display: inline-block;
      height: 34px;
      line-height: 34px;
      padding: 0 20px;
      background: #66bb6a;
      color: #fff;
      text-decoration: none;
      transition: .2s;
      font-size: 16px;
      font-weight: 600;
      transform: translateY(0px);
      margin-top: 40px; }
      #home-page .content .how-it-works-section .btn-success.more-info-btn:hover {
        background: #439747; }
      #home-page .content .how-it-works-section .btn-success.more-info-btn:active {
        background: #2d6530;
        transform: translateY(2px); }
  #home-page .content .all-readers .title-level-2 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 16px; }
  #home-page .content .all-readers .readers-list {
    overflow: hidden; }
  #home-page .content .all-readers .view-all-block {
    margin-top: 30px; }
    #home-page .content .all-readers .view-all-block .minor-btn.view-all-btn {
      display: block;
      height: 34px;
      line-height: 34px;
      background: #f0f2f4;
      text-align: center;
      color: #9575cd;
      display: block;
      font-weight: 700;
      font-size: 14px;
      transition: .2s; }
      #home-page .content .all-readers .view-all-block .minor-btn.view-all-btn:hover {
        background: #e4e8eb;
        color: #815bc4; }
      #home-page .content .all-readers .view-all-block .minor-btn.view-all-btn:active {
        background: #d8dee3;
        color: #6d43b8; }
  #home-page .content .feedback-section .title-level-2 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 40px; }
  #home-page .content .latest-articles-section {
    padding: 80px 0;
    background-color: #e9ecef;
    margin-top: 100px; }
    #home-page .content .latest-articles-section .title-level-2 {
      font-size: 50px;
      font-weight: 800;
      text-align: center;
      margin: 0;
      margin: -15px 0 30px; }
    #home-page .content .latest-articles-section .row .col3 {
      width: 270px;
      float: left;
      margin-right: 30px;
      font-size: 0; }
      #home-page .content .latest-articles-section .row .col3:last-child {
        margin-right: 0; }
      #home-page .content .latest-articles-section .row .col3 h3 {
        font-size: 24px;
        margin: 7px 0 7px; }
      #home-page .content .latest-articles-section .row .col3 p {
        font-size: 14px;
        margin: 0; }
        #home-page .content .latest-articles-section .row .col3 p a {
          color: #9575cd;
          font-weight: 600;
          transition: .2s; }
          #home-page .content .latest-articles-section .row .col3 p a:hover {
            color: #7850bf; }
          #home-page .content .latest-articles-section .row .col3 p a:active {
            color: #331f57; }
    #home-page .content .latest-articles-section .more-articles {
      text-align: center;
      margin-top: 30px; }
      #home-page .content .latest-articles-section .more-articles a {
        display: inline-block;
        height: 34px;
        line-height: 34px;
        padding: 0 20px;
        background: #66bb6a;
        color: #fff;
        text-decoration: none;
        transition: .2s;
        font-size: 16px;
        font-weight: 600;
        transform: translateY(0px); }
        #home-page .content .latest-articles-section .more-articles a:hover {
          background: #439747; }
        #home-page .content .latest-articles-section .more-articles a:active {
          background: #2d6530;
          transform: translateY(2px); }
  #home-page .content .horoscope-section {
    padding-bottom: 90px; }
    #home-page .content .horoscope-section .title-level-2 {
      font-size: 50px;
      font-weight: 800;
      text-align: center;
      margin: 0;
      margin-top: 100px;
      margin-bottom: 40px; }
    #home-page .content .horoscope-section .col-3 {
      text-align: center;
      padding-bottom: 30px; }
      #home-page .content .horoscope-section .col-3 .horoscope-item-name {
        font-size: 14px;
        text-align: center;
        font-weight: 700; }
    #home-page .content .horoscope-section .horoscope-form {
      background: url(../img/colorful-back.jpg) 80% 100%;
      padding: 0 50px;
      padding-bottom: 50px;
      overflow: hidden; }
      #home-page .content .horoscope-section .horoscope-form h3 {
        font-size: 24px;
        color: #fff;
        font-weight: 300;
        width: 360px;
        margin: 30px auto;
        text-align: center; }
        #home-page .content .horoscope-section .horoscope-form h3 b {
          font-weight: 700; }
      #home-page .content .horoscope-section .horoscope-form .input-block {
        margin-top: 36px; }
      #home-page .content .horoscope-section .horoscope-form .birthday-title {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        margin-bottom: 6px; }
      #home-page .content .horoscope-section .horoscope-form .birthday-selects .select-block {
        float: left;
        width: 158px; }
        #home-page .content .horoscope-section .horoscope-form .birthday-selects .select-block:nth-child(2) {
          margin: 0 -2px; }
      #home-page .content .horoscope-section .horoscope-form .sign-up-block {
        text-align: center; }
        #home-page .content .horoscope-section .horoscope-form .sign-up-block .btn-success {
          display: inline-block;
          height: 34px;
          line-height: 34px;
          padding: 0 20px;
          background: #66bb6a;
          color: #fff;
          text-decoration: none;
          transition: .2s;
          font-size: 16px;
          font-weight: 600;
          transform: translateY(0px);
          width: 160px;
          margin-top: 30px; }
          #home-page .content .horoscope-section .horoscope-form .sign-up-block .btn-success:hover {
            background: #439747; }
          #home-page .content .horoscope-section .horoscope-form .sign-up-block .btn-success:active {
            background: #2d6530;
            transform: translateY(2px); }

/*# sourceMappingURL=style.css.map */
