html, body {
	margin: 0;
}


.slider {
	width: 430px;
	height: 200px;
}

.slider .all-slides {
	float: left;
	width: 430px;
	height: 200px;
	clear: both;
	position: relative;
	overflow: hidden;
	background: #000;
}

.slider img {
}

ul {
	padding: 0;
	margin: 0;
}

.slider li {
	width: 430px;
	height: 200px;
	display: block;
	position: absolute;
	display: block;
	float: left;
}