#home-page {

	.logo-section {
		margin: 100px 0 0;

		@media (max-width: $phone) {
			margin-top: 64px;
		}
	}

	.galery-section {
		margin-top: 105px;

		@media (max-width: $phone) {
			margin-top: 70px;
		}
	}
}

.hero-section {
	background: url(../img/hero-img.png);
	background-size: 2000px;
	background-position: 50% -530px;
	overflow: hidden;


	@media (max-width: $phone) {

		> .wrapper {
			max-width: 310px;
		}
	}

	h1 {
		color: #fff;
		font-size: $h1-text;
		line-height: 55px;
		font-weight: 800;
		margin: 170px 0 130px;

		@media (max-width: $phone) {
			font-size: 40px;
			line-height: 44px;
			margin-bottom: 30px;
		}
	}

	.short-facts {
		position: absolute;
		top: 10px;
		right: 0;
		color: #fff;
		padding: 0;
		margin: 0;
		width: 312px;
		overflow: hidden;

		@media (max-width: $phone) {
			position: static;
					margin-bottom: 40px;
		}

		li {
			width: 156px;
			float: left;
			padding-bottom: 17px;

			.fact-title {
			}

			.fact-data {
				font-size: $h3-text;
				font-weight: 800;
			}
		}
	}

	.tag-list-subsection {
		border-top: 1px solid #fff;
		font-size: 0;
		padding: 10px 0;
		background: rgba(0, 0, 0, .7);
		text-align: justify;

		@media (max-width: $laptop) {
			text-align: left;
		}

		.wrapper {

			&:after {
				display: inline-block;
				width: 100%;
			}
		}

		.tag-list {
			display: inline-block;
			padding: 5px 0 0;

			&:not(:last-child) {
				padding-right: 19px;
			}

			.tags-header {
				font-size: $general-text;
				color: #fff;
				font-weight: 400;
				display: inline-block;
				margin: 0;
				line-height: 26px;
				margin-right: 6px;
			}

			ul {
				display: inline-block;

				li {
					display: inline-block;
				}
			}
		}
	}

	.services-subsection,
	.technologies-subsection {

		ul {

			li {

				span {
					color: #fff;
					text-decoration: none;
					font-size: $general-text;
					line-height: 26px;
					border: 1px solid #fff;
					display: block;
					padding: 0 12px;
					border-radius: 4px;
					margin-right: 6px;
					background: rgba(255, 255, 255, .1);
					position: relative;
					transition: .2s;
					margin-bottom: 5px;
				
					&:after {
						content: "";
						position: absolute;
						top: -6px;
						bottom: -6px;
						left: -4px;
						display: block;
						right: -4px;
					}
				}
			}
		}
	}
}

.portfolio-preview-section {
	overflow: hidden;
	position: relative;
	padding-top: 95px;

	@media (max-width: $phone) {
		padding-top: 55px;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		/* background: radial-gradient(
					ellipse at center,
					rgba(#3b89c9, 1) 0,rgba(#3b89c9, .2) 70%); */
		background-position-y: 0;
		background-size: 100% 1000px;
		height: 500px;

		@media (max-width: $laptop) {
			background-size: 100% 858px;
			height: 429px;
		}

		@media (max-width: $tablet) {
			background-size: 100% 706px;
			height: 353px;
		}
	}

	.project {
		padding: 0 15px;
		float: left;
		width: 33.333%;
		box-sizing: border-box;

		@media (max-width: $phone) {
			float: none;
			width: 100%;

			&:nth-child(1) {
				margin-bottom: 10px;
			}

			&:nth-child(2) {
				margin-bottom: 25px;
			}
		}

		&:nth-child(2) {

			.project-img {

				img {
					margin-left: -20px;

					@media (max-width: $phone) {
						margin-left: 0;
					}
				}
			}
		}

		.project-img {
			font-size: 0;

			img {
				width: 100%;
			}
		}

		.project-name {
			font-size: $h3-text;
			margin: 0;
			margin-top: 10px;
			font-weight: 800;

			@media (max-width: $phone) {
				margin-top: 4px;
			}
		}

		.short-description {
			margin: 4px 0 0;
			color: #555;
		}
	}

	.projects-btn-block {
		text-align: center;
		padding-top: 30px;

		.projects-btn {
			color: $brand-color;
			border: 1px solid $brand-color;
			display: inline-block;
			text-decoration: none;
			font-size: $general-text;
			line-height: 26px;
			padding: 0 12px;
			border-radius: 4px;
			margin-left: 6px;
			font-size: 15px;
			transition: .2s;

			&:hover {
				color: darken($brand-color, 14%);
				border: 1px solid darken($brand-color, 14%);
				background: rgba($brand-color, .07);
			}

			&:active {
				color: darken($brand-color, 30%);
				border: 1px solid darken($brand-color, 30%);
				background: rgba($brand-color, .14);
			}
		}
	}
}

.logo-section {
	background: #f8f8f8;
	border: 1px solid #dddddd;
	border-right: none;
	border-left: none;

	ul {
		text-align: center;
		padding: 15px 0;

		li {
			display: inline-block;
			padding: 5px 10px;

			@media (max-width: $phone) {
				padding: 5px;
			}
		}
	}
}

.testimonials-preview-section {
	padding: 40px 0 0;

	@media (max-width: $phone) {
		padding-top: 25px;
	}

	.testimonials-slider {
		position: relative;
		max-width: 500px;
		margin: 0 auto;
		width: 100%;

		@media (max-width: $phone) {
			padding: 0 20px;
			max-width: 540px;
		}

		.slick-arrow {
			position: absolute;
			font-size: 0;
			background: none;
			outline: none;
			border: none;
			top: 0;
			width: 150px;
			height: 100%;
			cursor: pointer;
			transition: .2s;
			
			@media (max-width: $phone) {
				height: 100px;
				z-index: 5;
			}

			&:after {
				content: "";
				position: absolute;
				width: 40px;
				height: 40px;
				border: 2px solid #ddd;
				border-left: none;
				border-bottom: none;
				left: 50%;
				top: 50%;
				margin-top: -23px;
				transition: .2s;
			}

			&:hover {

				&:after {
					border-color: #aaa;
				}
			}

			&:active {

				&:after {
					border-color: #666;
				}
			}
		}

		.slick-prev {
			left: -150px;

			@media (max-width: $phone) {
				left: 0;
			}

			&:after {
				margin-left: -30px;
				transform: rotate(225deg);

				@media (max-width: $phone) {
					margin-left: -17px;
				}
			}
		}

		.slick-next {
			right: -150px;

			@media (max-width: $phone) {
				right: 0;
			}

			&:after {
				margin-left: -25px;
				transform: rotate(45deg);
			}
		}

		.slick-dots {
			display: none !important;
		}

		li {
			position: relative;
			padding-left: 130px;

			@media (max-width: $phone) {
				padding-left: 0;
			}

			.ava {
				position: absolute;
				left: 0;
				top: 0;
				overflow: hidden;
				border-radius: 50%;
				font-size: 0;

				@media (max-width: $phone) {
					position: static;
					width: 100px;
					margin: 0 auto;
				}
			}

			.text {
				font-size: $h3-text;
				font-weight: bold;
				position: relative;
				line-height: 24px;
				color: #333;

				@media (max-width: $phone) {
					text-align: center;
				}

				&:before,
				&:after {
					color: #999;
				}

				&:before {
					content: open-quote;
					position: absolute;
					top: 6px;
					font-size: 40px;
					left: -21px;

					@media (max-width: $phone) {
						position: static;
						vertical-align: bottom;
						display: inline-block;
						height: 19px;
					}
				}

				&:after {
					content: close-quote;
					margin-left: 4px;
					font-size: 40px;
					line-height: 0px;
					vertical-align: -13px;
				}
			}

			.customer-info {
				color: #888;
				margin-top: 6px;

				@media (max-width: $phone) {
					text-align: center;
				}
			}
		}
	}
}

.galery-section {
	overflow: hidden;
	padding-bottom: 2px;

	ul {
		cursor: grab;
	}

	.slick-slide {
		padding: 0 1px 0 1px;
	}

	.slick-arrow {
		display: none !important;
	}

	.slick-dots {
		display: none !important;
	}
}