#project-page {
	padding: 58px 0 0;

	h2 {
		font-weight: bold;
	}
}

.breadcrumb {
	margin-top: 64px;

	@media (max-width: $phone) {
		margin-top: 54px;
	}

	a {
		color: $brand-color;
		position: relative;
		z-index: 1;
		transition: .2s;

		&:hover {
			color: darken($brand-color, 20%);
		}

		&:active {
			color: darken($brand-color, 40%);
		}
	}
}

.project-name {
	font-size: $h1-text;
	font-weight: 800;
	margin: 0;
	line-height: 55px;

	@media (max-width: $phone) {
		font-size: 40px;
		line-height: 44px;
	}
}

.project-short-description {
	max-width: 66.666%;
	font-size: $h3-text;
	margin-top: 10px;
	color: #777;

	@media (max-width: $phone) {
		max-width: 100%;
	}
}

.project-info {
	padding-top: 50px;

	@media (max-width: $phone) {
		padding-top: 27px;
	}

	.collaboration,
	.technology-stack {
		width: 27%;
		float: left;
		padding: 0 15px;
		box-sizing: border-box;

		@media (max-width: $phone) {
			width: 100%;
			float: none;
			padding-bottom: 14px;
		}

		h2 {
			font-size: $general-text;
			margin: 0;
		}

		ul {
			font-size: 0;

			li {
				display: inline-block;

				span {
					color: $brand-color;
					text-decoration: none;
					font-size: $general-text;
					line-height: 26px;
					border: 1px solid $brand-color;
					display: block;
					padding: 0 12px;
					border-radius: 4px;
					margin-right: 6px;
					margin-top: 6px;
					position: relative;
					transition: .2s;
					cursor: default;

					&:after {
						content: "";
						position: absolute;
						top: -6px;
						bottom: -6px;
						left: -4px;
						display: block;
						right: -4px;
					}
				}
			}
		}
	}

	.technology-stack {
		width: 48%;

		@media (max-width: $phone) {
			width: 100%;
			float: none;
		}
	}

	.time-efford {
		width: 25%;
		float: left;
		padding: 0 15px;
		box-sizing: border-box;

		@media (max-width: $phone) {
			width: 100%;
			float: none;
		}

		h2 {
			font-size: $general-text;
			margin: 0;
		}

		p {
			margin: 0 0 14px;
			color: #777;
		}
	}

	.screenshoots-and-text {
		padding-top: 50px;
		padding-bottom: 66px;

		@media (max-width: $phone) {
			padding-bottom: 60px;
			padding-top: 16px;
		}

		.screenshoots {
			padding-bottom: 40px;

			@media (max-width: $phone) {
				padding-bottom: 26px;
			}

			@media (max-width: $phone) {
				width: 100%;
				float: none;
			}

			.slick-arrow {
				font-size: 0;
				position: absolute;
				top: 0;
				bottom: 0;
				width: 50%;
				background: none;
				outline: none;
				box-shadow: none;
				z-index: 5;
				border: none;
				cursor: pointer;

				&:after {
					content: "";
					position: absolute;
					top: 50%;
					margin-top: -31px;
					border: 2px solid rgba(255, 255, 255, 0);
					border-top: none;
					border-left: none;
					width: 50px;
					height: 50px;
					padding: 0;
					z-index: 1;
				}

				&:before {
					transition: .2s;
				}
				
				&:hover {

					&:after {
						border-color: rgba(255, 255, 255, 1);
					}

					&:before {
						background: rgba(0, 0, 0, .3);
					}
				}

				&.slick-prev {
					left: 0;

					&:after {
						transform: rotate(135deg);
						left: 38px;
					}

					&:before {
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						width: 100px;
					}
				}

				&.slick-next {
					right: 0;

					&:after {
						transform: rotate(-45deg);
						right: 38px;
					}

					&:before {
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						width: 100px;
					}
				}
			}

			.slick-dots {
				text-align: center;
				font-size: 0;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -40px;

				li {
					display: inline-block;

					button {
						border: none;
						padding: 0;
						background: none;
						padding: 15px 10px;
						cursor: pointer;
						outline: none;

						&:after {
							content: "";
							display: block;
							width: 10px;
							height: 10px;
							background: #aaa;
							border-radius: 50%;
							transition: .2s;
						}

						&:hover {

							&:after {
								background: #666;
							}
						}
					}

					&.slick-active {

						button {

							&:after {
								background: #444;
							}
						}
					}
				}
			}

			img {
				width: 100%;
			}

			.screenshoots-list {
			}

			.screenshoots-preview-list {

				.slick-list {
					margin: 0 -2px;

					.slick-slide {
						padding: 4px 2px;
						cursor: pointer;
						position: relative;
						outline: none;

						&.slick-current {

							&:after {
								content: "";
								position: absolute;
								top: 4px;
								right: 2px;
								bottom: 4px;
								left: 2px;
								z-index: 2;
								background: rgba(0, 122, 255, .5);
							}
						}
					}
				}
			}
		}

		.project-text {

			@media (max-width: $phone) {
				width: 100%;
				float: none;
			}
		}
	}
}