#project-page {
	padding: 50px 0 0;

}

.breadcrumb {
	margin-top: 80px;

	a {
		color: $brand-color;
	}
}

.project-name {
	font-size: $h1-text;
	font-weight: 800;
	margin: 0;
}

.project-short-description {
	max-width: 66.666%;
	font-size: $h3-text;
	margin-top: 10px;
	color: #777;
}

.project-info {
	padding-top: 50px;

	.collaboration {
		width: 33.333%;
		float: left;
		padding: 0 15px;

		h2 {
			font-size: $general-text;
			margin: 0;
		}

		ul {
			font-size: 0;

			li {
				display: inline-block;

				a {
					color: $brand-color;
					text-decoration: none;
					font-size: $general-text;
					line-height: 26px;
					border: 1px solid $brand-color;
					display: block;
					padding: 0 12px;
					border-radius: 4px;
					margin-right: 6px;
					margin-top: 6px;
					position: relative;
					transition: .2s;

					&:hover {
						background: rgba($brand-color, .1);
					}

					&:active {
						background: rgba($brand-color, .2);
					}

					&:after {
						content: "";
						position: absolute;
						top: -6px;
						bottom: -6px;
						left: -4px;
						display: block;
						right: -4px;
					}
				}
			}
		}
	}

	.time-efford {

		h2 {
			font-size: $general-text;
			margin: 0;
		}

		p {
			margin: 0 0 14px;
			color: #777;
		}
	}

	.screenshoots-and-text {
		padding-top: 50px;
		padding-bottom: 70px;

		.screenshoots {
			width: 66.66%;
			box-sizing: border-box;
			padding: 0 15px;
			float: left;

			.slick-arrow {
				display: none !important;
			}

			.slick-dots {
				display: none !important;
			}

			img {
				width: 100%;
			}

			.screenshoots-list {
			}

			.screenshoots-preview-list {

				.slick-list {
					margin: 0 -2px;

					.slick-slide {
						padding: 4px 2px;
						cursor: pointer;
						position: relative;
						outline: none;

						&.slick-current {

							&:after {
								content: "";
								position: absolute;
								top: 4px;
								right: 2px;
								bottom: 4px;
								left: 2px;
								z-index: 2;
								background: rgba(0, 122, 255, .5);
							}
						}
					}
				}
			}
		}

		.project-text {
			width: 33.33%;
			box-sizing: border-box;
			padding: 0 15px;
			float: left;

			p {
				margin: 0 0 14px;
			}
		}
	}
}