body {
	margin: 0;
	font-family: "Open Sans";
	min-width: 1250px
}

.info-card {
	width: 544px;
	height: 272px;
	background: url(../background-man-text.png);
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.info-card .message {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	margin-left: 38px;
    margin-top: 40px;
	width: 292px;
	line-height: 1.2;
	position: relative;
}

.info-card .message:before {
	content: "“";
	position: absolute;
	left: -26px;
	top: -16px;
	color: #af947f;
	font-family: "PT Sans";
	font-size: 72px;
	font-weight: 500;
}

.info-card .message:after {
	content: "”";
	position: absolute;
	color: #af947f;
	font-family: "PT Sans";
	font-size: 72px;
	font-weight: 500;
	top: 112px;
}

.info-card .description {
	text-align: right;
	color: #fff;
	position: absolute;
	right: 16px;
	font-size: 14px;
	bottom: 16px;
	line-height: 1.2;
}

.info-card .description b {
	font-size: 18px;
}

.info-card .audio {
	font-size: 0;
}

.info-card .audio .play {
	width: 12px;
	margin-left: 39px;
	margin-top: 50px;
	fill: #af947f;
	cursor: pointer;
	padding-right: 5px;
}

.info-card .audio .stop {
	width: 12px;
	margin-left: 39px;
	margin-top: 50px;
	fill: #af947f;
	cursor: pointer;
	padding-right: 5px;
	display: none;
}

.info-card .audio .link {
	font-size: 14px;
	font-weight: 100;
	color: #af947f;
	display: inline;
	position: relative;
	top: -2px;
	cursor: pointer;
}

.info-card .audio .link:before {
	content: "";
	position: absolute;
	left: 30%;
	right: 0;
	border-top: 1px solid #af947f;
	bottom: 0;
	opacity: .3;
}

.info-card .audio .link:after {
	content: "";
	position: absolute;
	left: 0;
	right: 70%;
	border-top: 1px solid #af947f;
	bottom: 0;
}

.share {
	background: url(../share.png) #007b83;
	width: 99px;
	height: 29px;
	position: absolute;
	right: 0;
	top: 42px;
	cursor: pointer;
}